<div class="container pt-5">

  {% paginate blog.articles by 50 %}

    {% if current_tags %}
      <h1 class="hidden-xs-up">
        {{ blog.title | link_to: blog.url }}<span class="quiet">&raquo;</span>{{ current_tags.first }}
      </h1>
    {% else %}
      <h1 class="hidden-xs-up">
        {{ blog.title }}
      </h1>
    {% endif %}

    <div class="-mx-2">
      <div class="row">

        {% assign articles = blog.articles %}
        {% for article in articles %}
          <article class="col-xs-12 col-md-6 col-lg-4 my-5">
            <a href="{{article.url}}" title="{{article.title}}">
              <div class="article mx-3 border-a border-px-1 border-color-black py-5 text-center d-flex">
                <h2 class="title align-self-center">{{article.title}}</h2>
                <div class="content align-self-center">
                  {{article.excerpt_or_content}}
                </div>
              </div>
            </a>
          </article>
        {% endfor %}

        <div data-pagination-wrapper="true" class="col-xs-12 pagination-wrapper">
          {% include 'jumplink-pagination', show_all_active: false %}
        </div>

      </div>
    </div>

  {% endpaginate %}

</div>