<div class="container-fluid pt-5" id="page-{{ page.handle }}">
  <div class="row pt-md-5 scrollbar-x-auto">
    {% unless page.content == blank %}
        <div class="col-12 col-md-8 offset-md-2 col-lg-6 rte" rv-i18n-html="">
          {{ page.content | default: page.metafields["global"]["en-content"]}}
          <template lang="default">{{ page.content | default: page.metafields["global"]["en-content"]}}</template>
          <template lang="de">{{ page.content | default: page.metafields["global"]["en-content"]}}</template>
        </div>
    {% endunless %}
    <div class="col-12 col-md-8 offset-md-2 col-lg-6 rte">
      <p><strong rv-i18n-text="'menus.crafter'">{{'menus.crafter'|t}}</strong></p>
      <p rv-i18n-html="'snippets.footer.crafter_html'">{{'snippets.footer.crafter_html'|t}}</p>
    </div>
  </div>
</div>

<div rv-view-static='{"url": "/pages/it-recht-widerruf"}'></div>
<div rv-view-static='{"url": "/pages/revoke-form"}'></div>
<div rv-view-static='{"url": "/pages/privacy-settings"}'></div>
<div rv-view-static='{"url": "/pages/it-recht-datenschutz"}'></div>
<div rv-view-static='{"url": "/pages/cookies"}'></div>
<div rv-view-static='{"url": "/pages/it-recht-agb"}'></div>

{% comment %} <div class="col-xs-12 col-md-8 offset-md-2 mt-4">
  <strong>Credits</strong><br />
  <a href="https://feinfineart.de">Design by feinfineart</a><br />
  <a href="https://www.jumplink.eu/">Web Engineering by JumpLink</a>
</div> {% endcomment %}

<div class="container-fluid py-5 my-md-5" id="contact">
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2 col-lg-6 rte">
      {% include 'jumplink-contact-form' %}
    </div>
  </div>
</div>