<div class="container-fluid pt-5 {{template|handleize}}" id="page-{{ page.handle }}">
  <div class="row pt-md-5 scrollbar-x-auto">
    <div class="col-12 col-md-8 offset-md-2 col-lg-6">
      <div class="row">
        <div class="col-12">
          <h1 class="page-title mt-0 mb-4">
            {% include 'jumplink-utils-translate', translate: page.title, path: 'titles', de: page.metafields["global"]["de-title"], default: page.title %}
            {{ translated }}
          </h1>

          {% unless page.content == blank %}
            <div class="rte" rv-i18n-html="">
              {{ page.content | default: page.metafields["global"]["en-content"]}}
              <template lang="default">{{ page.content | default: page.metafields["global"]["en-content"]}}</template>
              <template lang="de">{{ page.metafields["global"]["de-content"] | default: page.content }}</template>
            </div>
          {% endunless %}
        </div>
      </div>
    </div>
  </div>
</div>