{% include 'jumplink-utils-translate', translate: page.title, path: 'titles', de: page.metafields["global"]["de-title"], default: page.title %}

<div class="container-fluid pt-5" id="page-{{ page.handle }}">
  <div class="row pt-md-5 scrollbar-x-auto">
      <div class="col-12 col-md-8 offset-md-2 col-lg-8 col-xl-6">
        <h2 class="page-title mt-0 mb-4">{{ translated }}</h2>
      </div>
    {% unless page.content == blank %}
      <div class="col-12 col-md-8 offset-md-2 col-lg-8 col-xl-6 rte" rv-i18n-html="">
        {{ page.content | default: page.metafields["global"]["en-content"]}}
        <template lang="default">{{ page.content | default: page.metafields["global"]["en-content"]}}</template>
        <template lang="de">{{ page.metafields["global"]["de-content"] | default: page.content }}</template>
      </div>
    {% endunless %}
    <div class="col-12 col-md-8 offset-md-2 col-lg-8 col-xl-6 pt-3">
      <rv-privacy-settings>
        <p class="mt-2" >
          <strong rv-i18n-html="'legals.privacy.tracking_title'">{{'legals.privacy.tracking_title'|t}}</strong><br>
          <div rv-hide="doNotTrack" rv-i18n-html="'legals.privacy.do_not_track_note_html'">{{'legals.privacy.do_not_track_note_html'|t}}</div>
          <div rv-show="doNotTrack" rv-i18n-html="'legals.privacy.do_not_track_is_enabled_html'">{{'legals.privacy.do_not_track_is_enabled_html'|t}}</div>
        </p>
        {% comment %} disabled until we have a working solution {% endcomment %}
        <div class="custom-control custom-checkbox" hidden>
          <input type="checkbox" class="custom-control-input" disabled name="cookies" id="cookies" rv-checked="cookies.enabled" rv-on-change="onCookiesStorageChanged">
          <label class="custom-control-label" for="cookies"
            rv-i18n-html="'legals.privacy.cookies_label_html'">
            {{'legals.privacy.cookies_label_html'|t}}
          </label>
        </div>
        <div class="custom-control custom-checkbox" hidden>
          <input type="checkbox" class="custom-control-input" disabled name="shopifyAnalytics" id="shopifyAnalytics" rv-checked="shopifyAnalytics.enabled" rv-on-change="onShopifyAnalyticsChanged">
          <label class="custom-control-label" for="shopifyAnalytics"
            rv-i18n-html="'legals.privacy.shopify_tracking_label_html'"
          >
            {{'legals.privacy.shopify_tracking_label_html'|t}}
          </label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" rv-disabled="doNotTrack" name="googleAnalytics" id="googleAnalytics" rv-checked="googleAnalytics.enabled" rv-on-change="onGoogleAnalyticsChanged">
          <label class="custom-control-label" for="googleAnalytics"
            rv-i18n-html="'legals.privacy.google_analytics_label_html'"
          >
            {{'legals.privacy.google_analytics_label_html'|t}}<br>
          </label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" rv-disabled="doNotTrack" name="theTradeDesk" id="theTradeDesk" rv-checked="theTradeDesk.enabled" rv-on-change="onTheTradeDeskChanged">
          <label class="custom-control-label" for="theTradeDesk"
            rv-i18n-html="'legals.privacy.ttd_label_html'"
          >
            {{'legals.privacy.ttd_label_html'|t}}<br>
          </label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" rv-disabled="doNotTrack" name="facebookPixel" id="facebookPixel" rv-checked="facebookPixel.enabled" rv-on-change="onFacebookPixelChanged">
          <label class="custom-control-label" for="facebookPixel"
            rv-i18n-html="'legals.privacy.facebook_pixel_label_html'"
          >
            {{'legals.privacy.facebook_pixel_label_html'|t}}<br>
          </label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" rv-disabled="doNotTrack" name="pinterestTag" id="pinterestTag" rv-checked="pinterestTag.enabled" rv-on-change="onPinterestTagChanged">
          <label class="custom-control-label" for="pinterestTag"
            rv-i18n-html="'legals.privacy.pinterest_label_html'"
          >
            {{'legals.privacy.pinterest_label_html'|t}}<br>
          </label>
        </div>
        <p>
          <small rv-i18n-html="'legals.privacy.note_html'">
            {{'legals.privacy.note_html'|t}}<br>
          </small>
        </p>

        <p class="mt-2" >
          <strong rv-i18n-html="'legals.privacy.clear_title_html'">{{'legals.privacy.clear_title_html'|t}}</strong><br>
        </p>
        <p class="mt-2" rv-i18n-html="'legals.privacy.clear_html'">
          {{'legals.privacy.clear_html'|t}}<br>
        </p>

        <button type="button" class="btn btn-animated-underline-dark font-weight-bold" rv-on-click="onClearDataClicked">
          <span rv-i18n-html="'legals.privacy.clear_button_label'">{{'legals.privacy.clear_button_label'|t}}</span>
        </button>

      </rv-privacy-settings>

      {% include 'jumplink-form-delete-person-data' %}

    </div>
  </div>
</div>