<rv-shopify-product handle="{{product.handle}}" extras='{% include 'jumplink-utils-json-product-extras' %}'>
  <div class="container-fluid">
    <div class="row">
      {% comment %} selected variant featured_image image {% endcomment %}
      <div class="col-12 px-0">
        <div class="content-box ratio-3-2">      
          <img class="content" src="{{ product.featured_image.src | img_url: '1905x1270', scale: 2 }}" rv-src="variant.featured_image.src | img_url: '1905x1270'" alt="{{image.alt}}" />
        </div>
      </div>
    </div>

    <div class="row">
      {% comment %} Other variant images {% endcomment %}
      <div rv-range-each-image-0-1="variant.images" class="'col-12 col-md px-0" >
        <div class="content-box ratio-3-4">      
          <img class="content" rv-src="image | img_url: '960x1280' 2" alt="variant.title" />
        </div>
      </div>
    </div>

    <div class="row">
      {% comment %} Other variant images {% endcomment %}
      <div rv-range-each-image-2-4="variant.images" class="'col-12 col-md px-0" >
        <div class="content-box ratio-3-4">      
          <img class="content" rv-src="image | img_url: '960x1280' 2" alt="variant.title" />
        </div>
      </div>
    </div>

    <div class="row" rv-if="variant.images | count | egt 5">
      <div rv-range-each-image-5-x="variant.images" class="'col-12 col-md px-0">
        <div class="content-box ratio-3-4">      
          <img class="content" rv-src="image | img_url: '960x1280' 2" alt="variant.title" />
        </div>
      </div>
    </div>


  </div>

  <div class="container-fluid fixed-bottom">
    <div class="row">
      <div class="col-6">
        <div class="variant-chooser">
          <div rv-each-option="product.options" class="row px-3" rv-class="option.name | downcase" rv-if="option.name | downcase | eq 'color'">
            <div rv-each-color="option.values" class="col-auto px-1" rv-on-click="onClickColor | args color">
              <div class="styleicon-circle" rv-class="color" rv-css-background-color="color" style="width: 16px; height: 16px;"></div>
            </div>
          </div>
        </div>
        <div>
          <strong>{{product.title}}</strong>
          <p rv-text="variant.price">{{product.price | money}}</p>
        </div>
      </div>
      <div class="col-6"></div>
    </div>
  </div> 

</rv-shopify-product>