{% comment %}
  Is the current product unlocked?
{% endcomment %}
{% include 'app-jumplink-ec-product-unlocked' %}

{% if unlocked %}
  {% include 'jumplink-breadcrumbs-slide-buttons' %}

  <div class="container">
    <div class="product handle-{{product.handle}}" id="handle-{{product.handle}}" itemscope itemtype="http://schema.org/Product">
      
      <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
      <meta itemprop="image" content="{{ product | img_url: 'grande' }}" />
      <meta itemprop="brand" content="{{ product.vendor }}" />
      <meta itemprop="name" content="{{ product.title }}" />
      <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
      <meta itemprop="price" content="{{ product.price | money }}" />
      <meta itemprop="offers" itemscope itemtype="http://schema.org/Offer" />

      {% if product.available %}
        <link itemprop="availability" href="http://schema.org/InStock" />
      {% else %}
        <link itemprop="availability" href="http://schema.org/OutOfStock" />
      {% endif %}


      <form action="/cart/add" method="post" enctype="multipart/form-data">

        <div class="row">

          <div data-barba="freeze" data-collection-filter="true" class="col-xs-12 col-md-4 col-lg-3">
            {% include 'jumplink-filter' %}
          </div>
          
          <div class="product-photos col-xs-12 col-md-4 offset-md-4 col-lg-5 offset-lg-3 mb-1">
            {% include 'jumplink-product-photo-carousel' %}
          </div>
          
          <div class="product-details col-xs-12 col-md-4">

            {% comment %}
              Do we have a collection that has the same name as our product vendor name?
              If we do, let's have the vendor link point to it.
              If not, we will point to the automatic vendor collection.
            {% endcomment %}
            {% assign product_vendor_handle = product.vendor | handle %}
            {% if collections[product_vendor_handle].handle == product_vendor_handle %}
              {% assign vendor_url = collections[product_vendor_handle].url %}
            {% else %}
              {% assign vendor_url = product.vendor | url_for_vendor %}
            {% endif %}
            <h1 class="product-vendor mb-3">{{ product.vendor | link_to: vendor_url }}</h1>
                      
            <div class="my-1">
              <p class="m-0">
                <span class="product-price">{ product.variant.price | money }</span>
              </p>
              
              <p class="product-legal-text m-0">
                <a href="{{ pages.vat.url }}" title="{{ pages.versand.title }}">
                  <small>{{ 'product.general.legal_price_text' | t: vat_rate: '19' }}</small>
                </a>
              </p>

              {% comment %}
                Conntent set via JavaScript!
                Container for Variant Selections 
              {% endcomment %}
              {% if settings.product_show_availability %}
                <p class="availability">
              {% endif %}
            </div>

            <p class="product-title">
              <small>Code { product.variant.name }</small>
            </p>

            <div class="form-add-to-cart form-group">
              <button type="button" name="add" id="handle-{{product.handle}}_add" class="btn btn-primary w-100" value="">
                {{ 'cart.general.add_to_cart' | t | escape }}
              </button>
            </div>


            <p class="lead mb-0">
              Select your Order
            </p>
            <div class="mb-2" data-toggle="colorcard" data-target='#handle-{{product.handle}} [data-colorcard="placeholder"]'>
              {% include 'jumplink-iconset', name: 'arrow', direction: 'right', color: 'black' %} Show Color Card
            </div>

            <p class="rte">
              {% comment %}
                TODO style and use bootstrap tabs like on top {% include 'jumplink-product-description-tabs' %}
              {% endcomment %}
              {{ product.description }}
              {{ product.metafields.c_f.jumplink_tab_2 }}
            </p>

            {% comment %}
              Prepents via JavaScript!
              Container for Variant Selections 
            {% endcomment %}
            <div class="pt-1">
              <product-variant-dropdowns product="product" show-quantity-button="true" start-quantity=10 dropdown-button-class="'w-100'" class="product-variants d-flex justify-content-between align-items-stretch flex-row" /></product-variant-selectors>
            </div>

            <product-b2b-button product="product"></product-b2b-button>

            <div class="pt-4">
              <product-b2b-list product="product"></product-b2b-list>
            </div>

            {% comment %}
              All themes by Shopify should support the Product Reviews app out of the box.
              https://apps.shopify.com/product-reviews
            {% endcomment %}
            <div id="handle-{{product.handle}}_shopify-product-reviews" data-id="{{ product.id }}">
              {{ product.metafields.spr.reviews }}
            </div>
            
          </div>
        
        </div>
      </form>

    </div>
  </div>

{% else %}
  <div class="col-xs-12">
    {% include 'jumplink-collection-locked' %}
  </div>
{% endif %}