<rv-shopify-product handle="{{product.handle}}" extras='{% include 'jumplink-utils-json-product-extras' %}'>
  <div class="container-fluid">

    <div class="row">
      {% comment %} selected variant featured_image image {% endcomment %}
      <div class="col-12 px-0 d-none d-md-block">
        <div class="content-box ratio-3-2">      
          <img class="content" src="{{ product.featured_image.src | img_url: '1905x1270', scale: 2 }}" rv-src="variant.featured_image.src | img_url: '1905x1270'" alt="{{image.alt}}" />
        </div>
      </div>

      <div class="col-12 px-0 d-block d-md-none">
        <div class="content-box ratio-3-4">      
          <img class="content" src="{{ product.featured_image.src | img_url: '960x1280', scale: 2 }}" rv-src="variant.featured_image.src | img_url: '960x1280'" alt="{{image.alt}}" />
        </div>
      </div>

    </div>

    <div class="row">
      {% comment %} Other variant images {% endcomment %}
      <div rv-each-image="variant.images | range 0 1" class="'col-12 col-md px-0" >
        <div class="content-box ratio-3-4">      
          <img class="content" rv-src="image | img_url: '960x1280' 2" alt="variant.title" />
        </div>
      </div>
    </div>

    <div class="row">
      {% comment %} Other variant images {% endcomment %}
      <div rv-each-image="variant.images | range 2 4" class="'col-12 col-md px-0" >
        <div class="content-box ratio-3-4">     
          <img class="content" rv-src="image | img_url: '960x1280' 2" alt="variant.title" />
        </div>
      </div>
    </div>

    <div class="row" rv-if="variant.images | count | egt 5">
      <div rv-each-image="variant.images | range 5" class="'col-12 col-md px-0">
        <div class="content-box ratio-3-4">      
          <img class="content" rv-src="image | img_url: '960x1280' 2" alt="variant.title" />
        </div>
      </div>
    </div>

    {% comment %} Sticky price and color chooser {% endcomment %}
    <div class="row sticky-bottom" rv-background-color-white="showDetailMenu">

      {% comment %}
        Desktop / Mobile: Left part
      {% endcomment %}
      <div class="col order-1 order-lg-1 mb-5 mb-lg-3 pt-4 d-flex flex-column justify-content-end">
        <div class="variant-chooser">
          <div rv-each-option="product.options" class="row px-3" rv-class="option.name | downcase" rv-if="option.name | downcase | eq 'color'">
            <div rv-each-color="option.values" class="col-auto px-1 cursor-pointer" rv-on-click="onClickOption | args color option.position option.name">
              <div class="styleicon-circle option-color" rv-class="color | replace_first '#' '' | prepend 'option-color-'" rv-css-background-color="color" style="width: 16px; height: 16px;"></div>
            </div>
            {% for i in (1..4) %}
              {% assign colorIndex = "product-link-" | append: forloop.index | append: "-color" %}
              {% assign HandleIndex = "product-link-" | append: forloop.index | append: "-handle" %}
              {% assign color = product.metafields["global"][colorIndex] %}
              {% assign handle = product.metafields["global"][HandleIndex] %}
              {% if color != blank and handle != blank %}
                <div
                  class="col-auto px-1 cursor-pointer"
                  rv-route="'{{ all_products[handle].url }}'"
                >
                  <div class="styleicon-circle option-color option-color-{{ color }}" rv-css-background-color="'{{ color }}'" style="width: 16px; height: 16px;"></div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <div>
          <strong>{{ product.title }}</strong><br>
          <div rv-text="variant.price | money '{{ shop.money_format }}'">{{ product.price | money }}</div>
        </div>
      </div>

      {% comment %}
        Desktop: Middle part
        Smartphone: Top part
      {% endcomment %}
      <div class="col-12 order-0 col-lg order-lg-2 col-xl mx-auto mb-3 pt-0 pt-lg-4" rv-opacity-0="showDetailMenu | not">

        <div class="row">

          {% comment %} Smartphone: Show Close Button {% endcomment %}
          <div class="col-12 d-flex d-lg-none justify-content-end">
            <rv-icon class="ml-3 my-2" rv-src="'{{ 'iconset-x.svg' | asset_url }}'" size="24" rv-on-click="toggleDetailMenu"></rv-icon>
          </div>
        </div>
        <div class="row justify-content-center text-center">
          <div class="form-inline">
            <label class="m-0" for="quanity">Quantity</label>
            {% comment %} <strong class="mx-1" contenteditable="true" rv-value="quantity | strip_html | number 1" rv-on-keydown="onQuantityKeypress"></strong> {% endcomment %}
            <input type="number" min="0" step="1" class="form-control border-0" id="quanity" rv-value="quantity | strip_html | number 1" style="width: 70px; font-weight: bold;">
          </div>
        </div>

        <div rv-each-option="product.options">
          <div class="row justify-content-between pt-4" rv-if="option.name | downcase | eq 'size'">
            <div class="col-auto px-1" rv-each-size="option.values">
              <button class="btn btn-link option-size text-decoration-normal" rv-text="size" rv-class="size | prepend 'option-size-'" rv-on-click="onClickOption | args size option.position option.name"></button>
            </div>
          </div>
        </div>
      </div>

      {% comment %} Right part {% endcomment %}
      <div class="col order-2 order-lg-3 mb-5 mb-lg-3 pt-2">
        <div class="row h-100 justify-content-between">

          {% comment %} Desktop: Show Close Button {% endcomment %}
          <div class="col-12 d-none d-lg-flex justify-content-end" rv-show="showDetailMenu">
            <rv-icon class="mx-3 mt-3" rv-src="'{{ 'iconset-x.svg' | asset_url }}'" size="24" rv-on-click="toggleDetailMenu"></rv-icon>
          </div>

          {% comment %} Desktop: Show Menu Button {% endcomment %}
          <div class="col-12 d-flex justify-content-end align-self-end mb-3" rv-hide="showDetailMenu">
            <div class="btn-wrapper">
              <button class="btn btn-animated-underline-dark" rv-on-click="toggleDetailMenu">Add</button>
            </div>
          </div>

          <div class="col-12 d-flex justify-content-end align-self-end mb-3" rv-show="showDetailMenu">
            <div class="btn-wrapper">
              <button class="btn btn-animated-underline-dark" rv-disabled="variant.available | not" rv-on-click="addToCart">Add</button>
            </div>
          </div>



        </div>
      </div>
    </div>

    <bs4-tabs class="row py-5">
      <div class="col-12 product-tab-list nav nav-tabs nav-tabs-underline d-flex flex-nowrap justify-content-center" id="product-{{product.handle}}-tab-list" role="tablist">
        
        {% comment %} Product Description Tab Title {% endcomment %}
        {% if product.description != blank %}
          <a
            class="nav-item nav-link"
            href="#tab-content-description"
            id="tab-title-description"
            role="tab"
            aria-controls="tab-content-description"
            aria-selected="false"
          >
            Description
          </a>
        {% endif %}
        
        {% comment %} Product Metafield Tab Titles {% endcomment %}
        {% for i in (1..6) %}
          {% assign tabTitleIndex = "tab-" | append: forloop.index | append: "-title" %}
          {% assign tabTitle = product.metafields["global"][tabTitleIndex] %}
          {% if tabTitle != blank %}
            <a
              class="nav-item nav-link"
              href="#tab-content-{{ tabTitle | handleize }}"
              id="tab-title-{{ tabTitle | handleize }}"
              role="tab"
              aria-controls="tab-content-{{ tabTitle | handleize }}"
              aria-selected="false"
            >
              {{ tabTitle }}
            </a>
          {% endif %}
        {% endfor %}
        {% comment %} Product Metafield STATIC Tab Titles {% endcomment %}
        {% for i in (1..6) %}
          {% assign tabIndex = "tab-static-" | append: forloop.index | append: ".tab-sta" %}
          {% assign tabTitle = product.metafields[tabIndex]["tab-static-title"] %}
          {% if tabTitle != blank %}
            <a
              class="nav-item nav-link"
              href="#tab-content-{{ tabTitle | handleize }}"
              id="tab-title-{{ tabTitle | handleize }}"
              role="tab"
              aria-controls="tab-content-{{ tabTitle | handleize }}"
              aria-selected="false"
            >
              {{ tabTitle }}
            </a>
          {% endif %}
        {% endfor %}
      </div>

      <div class="col-12 col-md-6 tab-content product-tab-content px-5 mx-auto" id="product-{{product.handle}}-tab-content">
        
        {% comment %} Product Description Tab Contents {% endcomment %}
        {% if product.description != blank %}
            <div
              class="tab-pane mt-3 mb-4"
              id="tab-content-description"
              role="tabpanel"
              aria-labelledby="tab-title-description"
            >
              <div class="rte">
                {{ product.description }}
              </div>
            </div>
        {% endif %}
        
        {% comment %} Product Metafield Tab Contents {% endcomment %}
        {% for i in (1..6) %}
          {% assign tabTitleIndex = "tab-" | append: forloop.index | append: "-title" %}
          {% assign tabContentIndex = "tab-" | append: forloop.index | append: "-content" %}
          {% assign tabTitle = product.metafields["global"][tabTitleIndex] %}
          {% assign tabContent = product.metafields["global"][tabContentIndex] %}
          {% if tabTitle != blank %}
            <div
              class="tab-pane mt-3 mb-4"
              id="tab-content-{{ tabTitle | handleize }}"
              role="tabpanel"
              aria-labelledby="tab-title-{{ tabTitle | handleize }}"
            >
              {{ tabContent }}
            </div>
          {% endif %}
        {% endfor %}
        {% comment %} Product Metafield STATIC Tab Contents {% endcomment %}
        {% for i in (1..6) %}
          {% assign tabIndex = "tab-static-" | append: forloop.index | append: ".tab-sta" %}
          {% assign tabTitle = product.metafields[tabIndex]["tab-static-title"] %}
          {% assign tabContent = product.metafields[tabIndex]["tab-static-content"] %}
          {% if tabTitle != blank %}
            <div
              class="tab-pane mt-3 mb-4"
              id="tab-content-{{ tabTitle | handleize }}"
              role="tabpanel"
              aria-labelledby="tab-title-{{ tabTitle | handleize }}"
            >
              {{ tabContent }}
            </div>
          {% endif %}
        {% endfor %}
      </div>

    </bs4-tabs>

  </div>

</rv-shopify-product>