<rv-shopify-product handle="{{product.handle}}" extras='{% include 'jumplink-utils-json-product-extras' %}'>
  <div class="container-fluid">
    <div class="row">
      {% comment %} selected variant featured_image image {% endcomment %}
      <div class="col-12 px-0">
        <div class="content-box ratio-3-2">      
          <img class="content" src="{{ product.featured_image.src | img_url: '1905x1270', scale: 2 }}" rv-src="variant.featured_image.src | img_url: '1905x1270'" alt="{{image.alt}}" />
        </div>
      </div>
    </div>

    <div class="row">
      {% comment %} Other variant images {% endcomment %}
      <div rv-each-image="variant.images | range 0 1" class="'col-12 col-md px-0" >
        <div class="content-box ratio-3-4">      
          <img class="content" rv-src="image | img_url: '960x1280' 2" alt="variant.title" />
        </div>
      </div>
    </div>

    <div class="row">
      {% comment %} Other variant images {% endcomment %}
      <div rv-each-image="variant.images | range 2 4" class="'col-12 col-md px-0" >
        <div class="content-box ratio-3-4">     
          <img class="content" rv-src="image | img_url: '960x1280' 2" alt="variant.title" />
        </div>
      </div>
    </div>

    <div class="row" rv-if="variant.images | count | egt 5">
      <div rv-each-image="variant.images | range 5" class="'col-12 col-md px-0">
        <div class="content-box ratio-3-4">      
          <img class="content" rv-src="image | img_url: '960x1280' 2" alt="variant.title" />
        </div>
      </div>
    </div>

    <bs4-tabs class="row pt-5">
      <div class="col-12 product-tab-list nav nav-tabs nav-tabs-underline d-flex flex-nowrap justify-content-center" id="product-{{product.handle}}-tab-list" role="tablist">
        {% comment %} Product Tab Titles {% endcomment %}
        {% for i in (1..6) %}
          {% assign tabTitleIndex = "tab-" | append: forloop.index | append: "-title" %}
          {% assign tabTitle = product.metafields["global"][tabTitleIndex] %}
          {% if tabTitle != blank %}
            <a
              class="nav-item nav-link"
              href="#tab-content-{{ tabTitle | handleize }}"
              id="tab-title-{{ tabTitle | handleize }}"
              role="tab"
              aria-controls="tab-content-{{ tabTitle | handleize }}"
              aria-selected="false"
            >
              {{ tabTitle }}
            </a>
          {% endif %}
        {% endfor %}
        {% comment %} Product STATIC Tab Titles {% endcomment %}
        {% for i in (1..6) %}
          {% assign tabIndex = "tab-static-" | append: forloop.index | append: ".tab-sta" %}
          {% assign tabTitle = product.metafields[tabIndex]["tab-static-title"] %}
          {% if tabTitle != blank %}
            <a
              class="nav-item nav-link"
              href="#tab-content-{{ tabTitle | handleize }}"
              id="tab-title-{{ tabTitle | handleize }}"
              role="tab"
              aria-controls="tab-content-{{ tabTitle | handleize }}"
              aria-selected="false"
            >
              {{ tabTitle }}
            </a>
          {% endif %}
        {% endfor %}
      </div>

      <div class="col-12 col-md-6 tab-content product-tab-content px-5 mx-auto" id="product-{{product.handle}}-tab-content">
        {% comment %} Product Tab Contents {% endcomment %}
        {% for i in (1..6) %}
          {% assign tabTitleIndex = "tab-" | append: forloop.index | append: "-title" %}
          {% assign tabContentIndex = "tab-" | append: forloop.index | append: "-content" %}
          {% assign tabTitle = product.metafields["global"][tabTitleIndex] %}
          {% assign tabContent = product.metafields["global"][tabContentIndex] %}
          {% if tabTitle != blank %}
            <div
              class="tab-pane"
              id="tab-content-{{ tabTitle | handleize }}"
              role="tabpanel"
              aria-labelledby="tab-title-{{ tabTitle | handleize }}"
            >
              {{ tabContent }}
            </div>
          {% endif %}
        {% endfor %}
        {% comment %} Product STATIC Tab Contents {% endcomment %}
        {% for i in (1..6) %}
          {% assign tabIndex = "tab-static-" | append: forloop.index | append: ".tab-sta" %}
          {% assign tabTitle = product.metafields[tabIndex]["tab-static-title"] %}
          {% assign tabContent = product.metafields[tabIndex]["tab-static-content"] %}
          {% if tabTitle != blank %}
            <div
              class="tab-pane"
              id="tab-content-{{ tabTitle | handleize }}"
              role="tabpanel"
              aria-labelledby="tab-title-{{ tabTitle | handleize }}"
            >
              {{ tabContent }}
            </div>
          {% endif %}
        {% endfor %}
      </div>

    </bs4-tabs>

  </div>

  <div class="container-fluid fixed-bottom">
    <div class="row">
      <div class="col-6">
        <div class="variant-chooser">
          <div rv-each-option="product.options" class="row px-3" rv-class="option.name | downcase" rv-if="option.name | downcase | eq 'color'">
            <div rv-each-color="option.values" class="col-auto px-1" rv-on-click="onClickColor | args color">
              <div class="styleicon-circle" rv-class="color" rv-css-background-color="color" style="width: 16px; height: 16px;"></div>
            </div>
          </div>
        </div>
        <div>
          <strong>{{product.title}}</strong>
          <p rv-text="variant.price">{{product.price | money}}</p>
        </div>
      </div>
      <div class="col-6"></div>
    </div>
  </div> 

</rv-shopify-product>