<div class="container pt-5">
    <div class="row">

        {% if settings.apps_jumplink_exclusive_collections %}
            <div class="col-xs-12 col-md-9">

                {% assign collectionHandles = customer.metafields.c_f.jumplink_unlocked_collections | strip | remove: ' ' | split: ',' %}

                <h1>{{'customer.account.unlocked_title' | t}}</h1>

                {% if collections.frontpage.products.size > 0 %}
                    <div class="alert alert-danger" role="alert">
                        {{'customer.account.no_unlocks' | t}}
                    </div>
                {% else %}
                    <div class="row">
                        {% for handle in collectionHandles %}
                            {% assign collection = collections[handle] %}
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                                {% include 'jumplink-collection-grid-item' %}
                            </div>                        
                        {% endfor %}
                    </div>
                {% endif %}

                <h1 class="mt-4">{{'customer.account.locked_title' | t}}</h1>

                {% paginate collections by settings.collections_per_page %}
                    <div class="row">
                        {% for collection in collections %}
                            {% comment %}
                            Is the current collection unlocked?
                            {% endcomment %}
                            {% include 'app-jumplink-ec-collection-unlocked' %}

                            {% unless unlocked %}
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                                    {% include 'jumplink-collection-grid-item' %}
                                </div>
                            {% endunless %}
                        {% endfor %}
                    </div>
                    {% include 'jumplink-pagination', show_all_active: false %}
                {% endpaginate %}

            </div>
        {% endif %}

        <div class="col-xs-12 col-md-3">
            <hr>
            <h1 class="mb-3">{{ 'customer.account.title' | t }}</h1>
            <p>{{ 'customer.account.message' | t }}</p>

            <hr>
            <h2 class="mb-3"> {{ 'customer.account.details' | t }}</h2>

            {% unless customer.name == blank  %}
                <p>{{ customer.name }}</p>
            {% endunless %}

            {% unless customer.email == blank  %}
                <p>{{ customer.email }}</p>
            {% endunless %}
            
            <div>
                <a class="addresses-link" href="/account/addresses">
                    {% include 'jumplink-iconset', name: 'arrow', direction: 'right', color: 'black' %} {{ 'customer.account.view_addresses' | t }}
                </a>
            </div>

        </div>

        <div class="col-xs-12">
            <h2 class="mb-3">{{ 'customer.orders.title' | t }}</h2>

            {% comment %}
            If we have past orders, loop through each one
            {% endcomment %}
            {% paginate customer.orders by 20 %}
                {% if customer.orders.size != 0 %}

                    <div class="">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>{{ 'customer.orders.order_number' | t }}</th>
                                <th>{{ 'customer.orders.date' | t }}</th>
                                <th>{{ 'customer.orders.payment_status' | t }}</th>
                                <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
                                <th>{{ 'customer.orders.total' | t }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for order in customer.orders %}
                                <tr>
                                <td>{{ order.name | link_to: order.customer_url }}</td>
                                <td>{{ order.created_at | date: format: 'month_day_year' }}</td>
                                <td>{{ order.financial_status_label }}</td>
                                <td>{{ order.fulfillment_status_label }}</td>
                                <td>{{ order.total_price | money }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <p>{{ 'customer.orders.none' | t }}</p>
                {% endif %}
                {% if paginate.pages > 1 %}
                    <hr>
                    <div class="pagination">
                        {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
                    </div>
                {% endif %}
            {% endpaginate %}
        </div>
        
    </div>
</div>