{% assign formErrors = false %}
{% assign formSuccessfully = false %}
{% assign customerAddressesSize = customer.addresses | size %}

<div class="container-fluid pt-5" id="addresses">
  <div class="row pt-md-5">
    <div class="col-12 col-md-10 offset-md-2">
      <rv-shopify-addresses>
        <div class="row">
          <div class="col-12 order-2">
            <p>
              <strong>Billing and shipping addresses</strong>
            </p>
            {% if customerAddressesSize <= 0 %}
              <p>No address yet</p>
            {% endif %}
            {% comment %}
              List all customer addresses with a unique edit form.
              Also add pagination in case they have a large number of addresses
            {% endcomment %}
            {% for address in customer.addresses %}
              {% if address == customer.default_address %}
                {% assign isDefaultAddress = true %}
              {% else %}
                {% assign isDefaultAddress = false %}
              {% endif %}

              <div id="EditAddress_{{ address.id }}" class="form-vertical mb-5">
                {% form 'customer_address', address %}
                  {% if form.errors %}
                    {% assign formErrors = form.errors %}
                  {% endif %}
                  {% if form.posted_successfully? %}
                    {% assign formSuccessfully = 'Address changed successfully' %}
                  {% endif %}
                  {% include 'jumplink-form-inputs-customer-address', idAffix: address.id, address: address, isDefault: isDefaultAddress %}
                  <p class="mt-3">
                    <button type="submit" class="btn btn-link p-0" rv-on-click="edit  | args '{{ address.id }}'">
                      <small>
                        {{ 'customer.addresses.update' | t }}
                      </small>
                    </button>
                  </p>
                  <p>
                    <button type="button" class="btn btn-link p-0" rv-on-click="delete | args '{{ address.id }}'">
                      <small>
                        {{ 'customer.addresses.delete' | t }}
                      </small>
                    </button>
                  </p>
                {% endform %}
              </div>
            {% endfor %}
          </div>

          {% comment %}
          Add address form
          https://developers.google.com/web/updates/2015/06/checkout-faster-with-autofill
          {% endcomment %}
          <div class="col-12 order-3">
            <div id="AddAddress" class="form-vertical my-5" >
              {% form 'customer_address', customer.new_address %}
                  {% if form.errors %}
                    {% assign formErrors = form.errors %}
                  {% endif %}
                  {% if form.posted_successfully? %}
                    {% assign formSuccessfully = 'Address added successfully' %}
                  {% endif %}
                <p>
                  <strong>Add new address</strong>
                </p>
                {% include 'jumplink-form-inputs-customer-address', idAffix: 'New', address: customer.new_address %}
                <p>
                  <button type="submit" class="btn btn-link p-0" rv-on-click="create">
                    <small>
                      {{ 'customer.addresses.add' | t }}
                    </small>
                  </button>
                </p>
              {% endform %}
            </div>
          </div>
          
          <div class="col-12 order-1">
            {% if formErrors %}
              <div class="alert alert-danger" role="alert">
                {{ formErrors | default_errors }}
              </div>
            {% endif %}

            {% if formSuccessfully %}
              <div class="alert alert-success" role="alert">
                {{ formSuccessfully }}
              </div>
            {% endif %}
          </div>
        </div>
      </rv-shopify-addresses>
    </div>
  </div>
</div>