<!doctype html>
<html lang="de">
<head class="no-js">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>
    {% include 'jumplink-utils-get-title' %}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}" />
  {% endif %}

  <link rel="canonical" href="{{ canonical_url }}" />
  
  {% include 'jumplink-favicons' %}
  {% include 'jumplink-open-graph-tags' %}

  {{ content_for_header }}

  {% include 'jumplink-utils-js-variables' %}

  {{ 'bundle.js' | asset_url | script_tag }}

  <link rel="stylesheet" href="{{ 'theme.css' | asset_url }}">
  <link rel="stylesheet" href="{{ 'theme.scss.css' | asset_url }}">

</head>

<body id="{{ page_title | handle }}">

  <div id="layout-top">
    {% include 'jumplink-navigation' %}
  </div>

  <div id="slideout-panel">
    <div rv-view>
      <div class="rv-view-container" {% include 'jumplink-utils-barba-container-attributes' %}>
        {{ content_for_layout }}
      </div>
    </div>
  
  
    <div id="layout-bottom">
      {% include 'jumplink-footer' %}
    </div>

  </div>

</body>
</html>