<!doctype html>
<html lang="de">
<head class="no-js">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="theme-color" content="#D9998F">
  <meta name="msapplication-navbutton-color" content="#D9998F" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>
    {% include 'jumplink-utils-get-title' %}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}" />
  {% endif %}

  <link rel="canonical" href="{{ canonical_url }}" />

  {% include 'jumplink-utils-js-variables' %}
  
  {% include 'jumplink-favicons' %}
  {% include 'jumplink-open-graph-tags' %}

  <!-- content_for_header: start -->
  {{ content_for_header }}
  <!-- content_for_header: end -->

  {% if settings.theTradeDesk_enabled == true %}
    <script async src="https://js.adsrvr.org/up_loader.1.1.0.js" type="text/javascript"></script>
  {% endif %}
  {% if settings.googleAnalytics_enabled == true %}
    {% comment %} 
      We do not need to insert the google analytics script tag because it is added by shopify
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ settings.googleAnalytics_trackingId }}"></script>
      <script async src='https://www.google-analytics.com/analytics.js'></script>
    {% endcomment %}
  {% endif %}
  {{ 'bundle.js' | asset_url | script_tag }}

  <link rel="stylesheet" href="{{ 'bundle.css' | asset_url }}">

</head>

<body id="{% include 'jumplink-utils-get-namespace' %}" rv-id="dataset.namespace">

  <div id="layout-top">
    {% include 'jumplink-navigation' %}
  </div>

  <div rv-view='{"listenAllLinks": true, "datasetToModel": true}' id="main">
    <div {% include 'jumplink-utils-barba-container-attributes', parseCollection: true %}>
      {{ content_for_layout }}
    </div>
  </div>

  <div id="layout-bottom" class="pb-5 pb-lg-0">
    {% include 'jumplink-footer' %}
  </div>

  {% include 'jumplink-debug-bar' %}

  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "{{ shop.name }}",
    "logo": "https:{{ 'iconset-logo.svg' | asset_url }}",
    {% comment %}
    "sameAs": [
      "{{ settings.social_twitter_link }}",
      "{{ settings.social_facebook_link }}",
      "{{ settings.social_pinterest_link }}",
      "{{ settings.social_instagram_link }}",
      "{{ settings.social_tumblr_link }}",
      "{{ settings.social_snapchat_link }}",
      "{{ settings.social_youtube_link }}",
      "{{ settings.social_vimeo_link }}"
    ],
    {% endcomment %}
    "url": "{{ shop.url }}{{ page.url }}"
  }
</script>

</body>
</html>