<!doctype html>
<html lang="de">
<head class="no-js">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="theme-color" content="#D9998F">
  <meta name="msapplication-navbutton-color" content="#D9998F" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>
    {% include 'jumplink-utils-get-title' %}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}" />
  {% endif %}

  <link rel="canonical" href="{{ canonical_url }}" />

  {% include 'jumplink-utils-js-variables' %}
  
  {% include 'jumplink-favicons' %}
  {% include 'jumplink-open-graph-tags' %}

  {{ content_for_header }}

  {{ 'bundle.js' | asset_url | script_tag }}

  <link rel="stylesheet" href="{{ 'bundle.css' | asset_url }}">

</head>

<body id="{{ page_title | handle }}">

  <div id="layout-top">
    {% include 'jumplink-navigation' %}
  </div>

  <div rv-view='{"listenAllLinks": true}'>
    <div class="rv-view-container" {% include 'jumplink-utils-barba-container-attributes' %}>
      {{ content_for_layout }}
    </div>
  </div>

  <div id="layout-bottom">
    {% include 'jumplink-footer' %}
  </div>

</body>
</html>