<!doctype html>
<html lang="de">
<head class="no-js">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>
    {% include 'jumplink-get-title' %}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}" />
  {% endif %}

  <link rel="canonical" href="{{ canonical_url }}" />
  
  {% include 'jumplink-favicons' %}
  {% include 'jumplink-open-graph-tags' %}
  {% include 'jumplink-twitter-card' %}

  {{ content_for_header }}

  {% include 'jumplink-variables.js' %}

  {{ 'bundle.js' | asset_url | script_tag }}

  <link rel="stylesheet" href="{{ 'theme.css' | asset_url }}">
  <link rel="stylesheet" href="{{ 'theme.scss.css' | asset_url }}">

</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >

  {% include 'jumplink-navbar' %}

  <div id="barba-wrapper">
    <div class="barba-container" {% include 'jumplink-barba-container-attributes' %}>
      {{ content_for_layout }}
    </div>
  </div>

  {% include 'jumplink-footer' %}

</body>
</html>