<rv-instagram-scrollbar
  instagram-id="{{section.settings.instagram_id}}"
  open-links="{{section.settings.open-links}}"
  limit="{{section.settings.limit}}"
  open-url="{{section.settings.open-url}}"
  class="d-block container-fluid"
  style="background-color: #4D3A40;"
  >
  <div class="row title-row scrollbar-invisible scrollbar-x-hidden scrollbar-y-hidden">
    <div
      class="col-auto title-col text-nowrap"
      rv-show="media.data | size | gt 0"
      style="padding-right: 16%; padding-left: 16%; color: #D9998F;"
      rv-i18n-text="'sections.instagram-scrollbar.title'"
    >
      {{'title'|t}}
    </div>
  </div>
  <div class="row flex-nowrap scrollbar-invisible scrollbar-x-auto" rv-scrollbar-dragable="" rv-on-scroll="onScroll">
    <div class="col-7 col-md-5 px-0 embed-responsive embed-responsive-1by1 cursor-pointer" rv-each-image="media.data" rv-add-class="image.media_type" rv-data-url="image.permalink" rv-on-tap="onTap">
      
      {% comment %} IMAGE {% endcomment %}
      <img loading="lazy" class="embed-responsive-item lazy" rv-if="image.media_type | eq 'IMAGE'" rv-src="image.media_url" rv-alt="image.caption">

      {% comment %} CAROUSEL_ALBUM {% endcomment %}
      <img loading="lazy" class="embed-responsive-item lazy" rv-if="image.media_type | eq 'CAROUSEL_ALBUM'" rv-src="image.media_url" rv-alt="image.caption">
      
      {% comment %} VIDEO {% endcomment %}
      <fsbdr-video rv-if="image.media_type | eq 'VIDEO'" rv-mp4-src="image.media_url">
        <video class="embed-responsive-item lazy" autoplay muted loop preload playsinline webkit-playsinline>
          <source rv-src="mp4Src" type="video/mp4">
          Your browser does not support the video tag.
        </video>
        <div rv-hide="controls" class="video-custom-controls">
          <rv-icon rv-hide="muted" rv-on-click="toggleMute" size="50" class="video-volume-high" src="{{ 'icon_volume-high_alt.svg' | asset_url }}"></rv-icon>
          <rv-icon rv-show="muted" rv-on-click="toggleMute" size="50" class="video-volume-mute" src="{{ 'icon_vol-mute_alt.svg' | asset_url }}"></rv-icon>
        </div>
      </fsbdr-video>
    </div>

  </div>
</rv-instagram-scrollbar>

{% schema %}
  {
    "name": "Instagram Scrollbar",
    "class": "instagram-scrollbar",
    "settings": [
      {
        "type": "text",
        "id": "instagram_id",
        "label": "Instagram ID"
      },
      {
        "type":      "checkbox",
        "id":        "open-links",
        "label":     "Go to Instagram on tab",
        "default":   false
      },
      {
        "type":      "url",
        "id":        "open-url",
        "label":     "Go to Page on tab"
      },
      {
        "type":      "range",
        "id":        "limit",
        "label":     "Limit",
        "min":       3,
        "max":       30,
        "default":   9
      }
    ],
    "blocks": [],
    "presets": [
      {
        "category": "Custom Content",
        "name": "Instagram Scrollbar",
        "blocks": []
      }
    ],
    "locales": {
      "en": {
        "title": "#FASSBENDER HIGHLIGHTS"
      },
      "de": {
        "title": "#FASSBENDER HIGHLIGHTS"
      }
    }
  }
{% endschema %}
