
{% assign idPrefix = section.settings.name | handleize %}

{% capture class %}
  
{% endcapture %}

{% if section.settings.enable %}
  <a
    target="_blank"
    href="{{ section.settings.href }}"
    class="live-chat-button {{section.settings.position_xs}} {{section.settings.position_sm}} {{section.settings.position_md}} {{section.settings.position_lg}} {{section.settings.position_xl}}"
  >
    <img
      class="messageus_unhovered"
      alt="{{ section.settings.img_icon.image.alt }}"
      src="{{ section.settings.img_icon | img_url: '45x' }}"
      srcset="{{ section.settings.img_icon | img_url: '45x' }} 1x, {{ section.settings.img_icon | img_url: '45x', scale: 2 }} 2x,  {{ section.settings.img_icon | img_url: '45x', scale: 3 }} 3x,  {{ section.settings.img_icon | img_url: '45x', scale: 4 }} 4x"
      size="45px"
    >
  </a>
  <style>
    .live-chat-button {
      width: 45px;
      height: auto;
      display: block;
      position: fixed;
      z-index: 1020;
    }
    .live-chat-button img {
      max-width: 100%;
    }

    {% comment %} xs {% endcomment %}
    .live-chat-button.bottom-right {
      top: auto;
      left: auto;
      bottom: {{section.settings.spacing_bottom}}px;
      right: {{section.settings.spacing_right}}px;
    }
    .live-chat-button.bottom-left {
      top: auto;
      right: auto;
      bottom: {{section.settings.spacing_bottom}}px;
      left: {{section.settings.spacing_left}}px;
    }
    .live-chat-button.top-right {
      bottom: auto;
      left: auto;
      top: {{section.settings.spacing_top}}px;
      right: {{section.settings.spacing_right}}px;
    }
    .live-chat-button.top-left {
      bottom: auto;
      right: auto;
      top: {{section.settings.spacing_top}}px;
      left: {{section.settings.spacing_left}}px;
    }

    {% comment %} sm 576px {% endcomment %}
    @media (min-width: 576px) {
      .live-chat-button.bottom-right-sm {
        top: auto;
        left: auto;
        bottom: {{section.settings.spacing_bottom}}px;
        right: {{section.settings.spacing_right}}px;
      }
    }
    @media (min-width: 576px) {
      .live-chat-button.bottom-left-sm {
        top: auto;
        right: auto;
        bottom: {{section.settings.spacing_bottom}}px;
        left: {{section.settings.spacing_left}}px;
      }
    }
    @media (min-width: 576px) {
      .live-chat-button.top-right-sm {
        bottom: auto;
        left: auto;
        top: {{section.settings.spacing_top}}px;
        right: 3px
      };
    }
    @media (min-width: 576px) {
      .live-chat-button.top-left-sm {
        bottom: auto;
        right: auto;
        top: {{section.settings.spacing_top}}px;
        left: {{section.settings.spacing_left}}px;
      }
    }

    {% comment %} md 768px {% endcomment %}
    @media (min-width: 768px) {
      .live-chat-button.bottom-right-md {
        top: auto;
        left: auto;
        bottom: {{section.settings.spacing_bottom}}px;
        right: {{section.settings.spacing_right}}px;
      }
    }
    @media (min-width: 768px) {
      .live-chat-button.bottom-left-md {
        top: auto;
        right: auto;
        bottom: {{section.settings.spacing_bottom}}px;
        left: {{section.settings.spacing_left}}px;
      }
    }
    @media (min-width: 768px) {
      .live-chat-button.top-right-md {
        bottom: auto;
        left: auto;
        top: {{section.settings.spacing_top}}px;
        right: {{section.settings.spacing_right}}px;
      }
    }
    @media (min-width: 768px) {
      .live-chat-button.top-left-md {
        bottom: auto;
        right: auto;
        top: {{section.settings.spacing_top}}px;
        left: {{section.settings.spacing_left}}px;
      }
    }


    {% comment %} lg 992px {% endcomment %}
    @media (min-width: 992px) {
      .live-chat-button.bottom-right-lg {
        top: auto;
        left: auto;
        bottom: {{section.settings.spacing_bottom}}px;
        right: {{section.settings.spacing_right}}px;
      }
    }
    @media (min-width: 992px) {
      .live-chat-button.bottom-left-lg {
        top: auto;
        right: auto;
        bottom: {{section.settings.spacing_bottom}}px;
        left: {{section.settings.spacing_left}}px;
      }
    }
    @media (min-width: 992px) {
      .live-chat-button.top-right-lg {
        bottom: auto;
        left: auto;
        top: {{section.settings.spacing_top}}px;
        right: {{section.settings.spacing_right}}px;
      }
    }
    @media (min-width: 992px) {
      .live-chat-button.top-left-lg {
        bottom: auto;
        right: auto;
        top: {{section.settings.spacing_top}}px;
        left: {{section.settings.spacing_left}}px;
      }
    }

    {% comment %} xl 1200px {% endcomment %}
    @media (min-width: 992px) {
      .live-chat-button.bottom-right-xl {
        top: auto;
        left: auto;
        bottom: {{section.settings.spacing_bottom}}px;
        right: {{section.settings.spacing_right}}px;
      }
    }
    @media (min-width: 992px) {
      .live-chat-button.bottom-left-xl {
        top: auto;
        right: auto;
        bottom: {{section.settings.spacing_bottom}}px;
        left: {{section.settings.spacing_left}}px;
      }
    }
    @media (min-width: 992px) {
      .live-chat-button.top-right-xl {
        bottom: auto;
        left: auto;
        top: {{section.settings.spacing_top}}px;
        right: {{section.settings.spacing_right}}px;
      }
    }
    @media (min-width: 992px) {
      .live-chat-button.top-left-xl {
        bottom: auto;
        right: auto;
        top: {{section.settings.spacing_top}}px;
        left: {{section.settings.spacing_left}}px;
      }
    }
  </style>

{% endif %}

{% schema %}
  {
    "name": "Live Chat",
    "class": "live-chat",
    "settings": [
      {
        "type":      "checkbox",
        "id":        "enable",
        "label":     "Enable Live Chat button",
        "default":   true
      },
      {
        "type":      "image_picker",
        "id":        "img_icon",
        "label":     "Icon",
        "info": "The Live Chat button icon"
      },
      {
        "type":      "url",
        "id":        "href",
        "label":     "Link",
        "info": "Live Chat button link"
      },
      {
        "type":      "range",
        "id":        "spacing_top",
        "min":       0,
        "max":        1000,
        "step":       10,
        "unit":       "px",
        "label":     "Spacing top",
        "default":   40
      },
      {
        "type":      "range",
        "id":        "spacing_bottom",
        "min":       0,
        "max":        1000,
        "step":       10,
        "unit":       "px",
        "label":     "Spacing bottom",
        "default":   40
      },
      {
        "type":      "range",
        "id":        "spacing_left",
        "min":       0,
        "max":        1000,
        "step":       10,
        "unit":       "px",
        "label":     "Spacing left",
        "default":   40
      },
      {
        "type":      "range",
        "id":        "spacing_right",
        "min":       0,
        "max":        1000,
        "step":       10,
        "unit":       "px",
        "label":     "Spacing right",
        "default":   40
      },
      {
        "type":      "select",
        "id":        "position_xs",
        "label":     "XS Position",
        "info":      "Position on extra small devices",
        "options": [
          {
            "group": "value",
            "value": "bottom-right",
            "label": "Bottom right"
          },
          {
            "group": "value",
            "value": "bottom-left",
            "label": "Bottom left"
          },
          {
            "group": "value",
            "value": "top-left",
            "label": "Top left"
          },
          {
            "group": "value",
            "value": "top-right",
            "label": "Top right"
          }
        ],
        "default":   "bottom-right"
      },
      {
        "type":      "select",
        "id":        "position_sm",
        "label":     "SM Position",
        "info":      "Position on small devices",
        "options": [
          {
            "group": "value",
            "value": "previous-sm",
            "label": "Previous"
          },
          {
            "group": "value",
            "value": "bottom-right-sm",
            "label": "Bottom right"
          },
          {
            "group": "value",
            "value": "bottom-left-sm",
            "label": "Bottom left"
          },
          {
            "group": "value",
            "value": "top-left-sm",
            "label": "Top left"
          },
          {
            "group": "value",
            "value": "top-right-sm",
            "label": "Top right"
          }
        ],
        "default":   "previous-sm"
      },
      {
        "type":      "select",
        "id":        "position_md",
        "label":     "MD Position",
        "info":      "Position on medium devices",
        "options": [
          {
            "group": "value",
            "value": "previous-md",
            "label": "Previous"
          },
          {
            "group": "value",
            "value": "bottom-right-md",
            "label": "Bottom right"
          },
          {
            "group": "value",
            "value": "bottom-left-md",
            "label": "Bottom left"
          },
          {
            "group": "value",
            "value": "top-left-md",
            "label": "Top left"
          },
          {
            "group": "value",
            "value": "top-right-md",
            "label": "Top right"
          }
        ],
        "default":   "previous-md"
      },
      {
        "type":      "select",
        "id":        "position_lg",
        "label":     "LG Position",
        "info":      "Position on large devices",
        "options": [
          {
            "group": "value",
            "value": "previous-lg",
            "label": "Previous"
          },
          {
            "group": "value",
            "value": "bottom-right-lg",
            "label": "Bottom right"
          },
          {
            "group": "value",
            "value": "bottom-left-lg",
            "label": "Bottom left"
          },
          {
            "group": "value",
            "value": "top-left-lg",
            "label": "Top left"
          },
          {
            "group": "value",
            "value": "top-right-lg",
            "label": "Top right"
          }
        ],
        "default":   "previous-lg"
      },
      {
        "type":      "select",
        "id":        "position_xl",
        "label":     "XL Position",
        "info":      "Position on extra large devices",
        "options": [
          {
            "group": "value",
            "value": "previous-xl",
            "label": "Previous"
          },
          {
            "group": "value",
            "value": "bottom-right-xl",
            "label": "Bottom right"
          },
          {
            "group": "value",
            "value": "bottom-left-xl",
            "label": "Bottom left"
          },
          {
            "group": "value",
            "value": "top-left-xl",
            "label": "Top left"
          },
          {
            "group": "value",
            "value": "top-right-xl",
            "label": "Top right"
          }
        ],
        "default":   "previous-xl"
      }
    ],
    "blocks": [],
    "presets": [],
    "locales": {
      "en": {
        "info": "Message Us"
      },
      "de": {
        "info": "Schreibe Uns"
      }
    }
  }
{% endschema %}