
{% assign idPrefix = section.settings.name | handleize %}

{% capture name %}
  <span
    class="text-primary"
    name="name"
    contenteditable="true"
    {% comment %} Translation is setted on NewsletterComponent {% endcomment %}
    rv-value="form.fields.name"
    rv-on-focus="selectAll"
    autocorrect="off"
    autocapitalize="off"
    spellcheck="false"
    autocomplete="name" {% comment %} seems to be not working on contenteditable {% endcomment %}
  ></span>
{% endcapture %}

{% capture email %}
  <span
    class="text-primary"
    name="email"
    contenteditable="true"
    {% comment %} Translation is setted on NewsletterComponent {% endcomment %}
    rv-value="form.fields.email"
    rv-on-focus="selectAll"
    autocorrect="off"
    autocapitalize="off"
    spellcheck="false"
    autocomplete="email" {% comment %} seems to be not working on contenteditable {% endcomment %}
  ></span>
{% endcapture %}

{% if section.settings.enable %}
  <rv-newsletter class="d-block container-fluid text-center py-5" style="background-color:{{ section.settings.color }};">
    <div class="row">
      {% comment %} MailChimp Form {% endcomment %}
      <form
        action="{{ section.settings.subscrib_url }}"
        method="post"
        name="mc-embedded-subscribe-form"
        class="col-12 mx-auto"
        target="_blank"
        novalidate
      >

        <h1 class="h6" rv-i18n-text="'sections.newsletter.title'">{{ 'title' | t }}</h1>
        <p rv-i18n-html="'sections.newsletter.content_html'">
          <span>
            {{ 'content_html' | t: name: name, email: email }}
          </span>
          <template name="name">
            {{name}}
          </template>
          <template name="email">
            {{email}}
          </template>
        </p>

        {% comment %} real people should not fill this in and expect good things - do not remove this or risk form bot signups {% endcomment %}
        <input type="hidden" name="b_11ae6ea303b6ef3f1e7d5c7c6_65d09922c7" tabindex="-1" value="">

        <label class="sr-only" for="mce-EMAIL" rv-i18n-text="'sections.newsletter.input_mail_label'">{{'input_mail_label'|t}}*</label>
        <input hidden type="email" rv-value="form.fields.email" name="EMAIL" required id="{{ idPrefix }}_mce-EMAIL">

        <label class="sr-only" for="mce-NAME" rv-i18n-text="'sections.newsletter.input_name_label'">{{'input_name_label'|t}}*</label>
        <input hidden type="text" rv-value="form.fields.name" name="NAME" required id="{{ idPrefix }}_mce-NAME">

        <div class="row text-left my-3">
          <div class="col-auto mx-auto">
            {% comment %} Marketing Permissions {% endcomment %}
            <fieldset name="interestgroup_field">
              {% comment %} Email {% endcomment %}
              <small class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="gdpr[2201]" value="Y" required id="{{ idPrefix }}_gdpr_2201">
                <label class="custom-control-label" for="{{ idPrefix }}_gdpr_2201" rv-i18n-text="'sections.newsletter.checkbox_email'">
                  {{'checkbox_email'|t}}
                </label>
              </small> 
            </fieldset>

            <small class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" name="privacy" value="true" required id="{{ idPrefix }}_privacy">
              <label class="custom-control-label" for="{{ idPrefix }}_privacy" rv-i18n-html="'sections.newsletter.checkbox_privacy_html'">
                {{'checkbox_privacy_html'|t}}
              </label>
            </small>
          </div>
        </div>

        <p rv-hide="form.valid" class="text-danger small" rv-i18n-text="'sections.newsletter.form_invalid'">
          {{'form_invalid'|t}}
        </p>

        <input class="btn btn-link" type="submit" value="{{'button_subscribe_label'|t}}" rv-i18n-value="'sections.newsletter.button_subscribe_label'" name="subscribe" class="button" rv-on-click="subscribe">
      </form>
    </div>
  </rv-newsletter>
{% endif %}

{% schema %}
  {
    "name": "Newsletter",
    "class": "newsletter",
    "settings": [
      {
        "type":      "text",
        "id":        "name",
        "label":     "Name",
        "info": "Name must be unique and is used for internal newsletter form field distinction"
      },
      {
        "type":      "checkbox",
        "id":        "enable",
        "label":     "Enable",
        "default":   true
      },
      {
        "type":      "color",
        "id":        "color",
        "label":     "Color",
        "default":   "#F9DFD2"
      },
      {
        "type": "url",
        "id": "subscrib_url",
        "label": "Subscribe URL",
        "info": "This is the url the subscribe form will send to"
      }      
    ],
    "blocks": [],
    "presets": [
      {
        "category": "Forms",
        "name": "Newsletter",
        "blocks": []
      }
    ],
    "locales": {
      "en": {
        "title": "Discover Fassbender's World",
        "content_html": "<strong class=\"mb-2 d-block\">Subscribe to our newsletter and get 10% off your next purchase. <\/strong>I want news and inspiration about<br>Stories and Collections.<br>Take my {{name}} and {{email}}.",
        "checkbox_email": "I would like to hear from you via email.",
        "checkbox_privacy_html": "By signing up I agree to the <a href=\"/pages/legal-area\">Privacy Statement</a>.",
        "form_invalid": "Please check your entry.",
        "button_subscribe_label": "Subscribe",
        "input_name_label": "Name",
        "input_mail_label": "Mail"
      },
      "de": {
        "title": "Entdecke Fassbender's Welt",
        "content_html": "<strong class=\"mb-2 d-block\">Abonnieren Sie unseren Newsletter und erhalten Sie 10% Rabatt auf Ihren nächsten Einkauf.<\/strong>Ich möchte News und Inspirationen über Stories und Kollektionen erhalten.<br>Ich bin {{name}} und meine E-Mail lautet {{email}}.",
        "checkbox_email": "Ja, ich möchte von Fassbender per E-Mail informiert werden.",
        "checkbox_privacy_html": "Durch die Anmeldung akzeptiere ich eure <a href=\"/pages/legal-area\">Datenschutzerklärung</a>.",
        "form_invalid": "Bitte überprüfe deine Eingabe.",
        "button_subscribe_label": "Abonnieren",
        "input_name_label": "Name",
        "input_mail_label": "E-Mail"
      }
    }
  }
{% endschema %}