{% assign articleHandle = section.settings.story | remove_first: "/blogs/" %}
{% assign article = articles[articleHandle] %}

{% assign block_length = section.blocks | size %}
{% if block_length <= 1 %}
  {% assign ratioClass = "ratio-3-2" %}
  {% assign imageSize = "1200x800" %}
{% else %}
  {% assign ratioClass = "ratio-3-4" %}
  {% assign imageSize = "1200x1600" %}
{% endif %}

<a href="{{section.settings.story}}" rv-shopify-section='{{ section.settings | json }}' class="d-block container-fluid position-relative" style="background-color: {{ section.settings.color }};">
  <div class="row">
    {% for block in section.blocks %}

      {% assign contentBoxClass = ratioClass %}

      {% if block.settings.spacing > 0 %}
        {% assign imageHasSpacing = true %}
      {% else %}
        {% assign imageHasSpacing = false %}
      {% endif %}

      {% assign imageClass = 'content' %}
      {% if imageHasSpacing %}
        {% assign imageClass = imageClass | append: ' has-xs-spacing has-sm-spacing' %}
      {% endif %}

      {% comment %} 900x1600 = 9x16 * 100 {% endcomment %}
      <div class="col px-0 content-box {{contentBoxClass}}">
        <img class="{{imageClass}}" src="{{ block.settings.image | img_url: imageSize, scale: 2 }}" alt="{{image.alt}}" style="padding: {{block.settings.spacing}}px" />
      </div>
    {% endfor %}
  </div>
  {% if article.title %}
    <div class="row position-absolute bottom-0 w-100" style="background-color: {{ section.settings.color | color_modify: 'alpha', 0.5 }};">
      <div class="col-12 text-center title-xs-spacing title-sm-spacing" style="padding: {{ section.settings.title_spacing }}px 0;">
        {{ article.title }}
      </div>
    </div>
  {% endif %}
</a>

{% schema %}
  {
    "name": "One Story",
    "class": "one-story",
    "max_blocks": 2,
    "settings": [
      {
        "type": "url",
        "id": "story",
        "label": "Story"
      },
      {
        "type":      "color",
        "id":        "color",
        "label":     "Color",
        "default":   "#ffffff"
      },
      {
        "type":   "range",
        "id":     "title_spacing",
        "min":       0,
        "max":       100,
        "step":      1,
        "unit":      "px",
        "label":     "Title spacing",
        "default":   7
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "type": "image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type":   "range",
            "id":     "spacing",
            "min":       0,
            "max":       100,
            "step":      1,
            "unit":      "px",
            "label":     "Spacing",
            "default":   0
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "Custom Content",
        "name": "One Story",
        "blocks": []
      }
    ]
  }
{% endschema %}