{% if section.settings.story contains "/blogs/" %}
  {% assign handle = section.settings.story | remove_first: "/blogs/" %}
  {% assign article = articles[handle] %}
{% endif %}

{% if section.settings.story contains "/products/" %}
  {% assign handle = section.settings.story | remove_first: "/products/" %}
  {% assign article = all_products[handle] %}
{% endif %}

{% if section.settings.story contains "/pages/" %}
  {% assign handle = section.settings.story | remove_first: "/pages/" %}
  {% assign article = pages[handle] %}
{% endif %}

{% if section.settings.story contains "/collections/" %}
  {% assign handle = section.settings.story | remove_first: "/collections/" %}
  {% assign article = collections[handle] %}
{% endif %}

{% assign block_length = section.blocks | size %}
{% if block_length <= 1 %}
  {% assign ratioClass = "ratio-3-2" %}
  {% assign imageSize = "1200x800" %}
{% else %}
  {% assign ratioClass = "ratio-3-4" %}
  {% assign imageSize = "1200x1600" %}
{% endif %}

<a rv-route="'{{ section.settings.story }}'" href="{{section.settings.story}}" rv-shopify-section='{{ section.settings | json }}' class="d-block container-fluid position-relative" style="background-color: {{ section.settings.color }};">
  <div class="row">
    {% for block in section.blocks %}

      {% assign contentBoxClass = ratioClass %}

      {% if block.settings.spacing > 0 %}
        {% assign imageHasSpacing = true %}
      {% else %}
        {% assign imageHasSpacing = false %}
      {% endif %}

      {% assign imageClass = 'content' %}
      {% if imageHasSpacing %}
        {% assign imageClass = imageClass | append: ' has-xs-spacing has-sm-spacing' %}
      {% endif %}

      {% if block.settings.image != blank %}
        {% assign imageSrc = block.settings.image | img_url: imageSize, scale: 2 %}
      {% endif %}

      {% if block.settings.video_url != blank %}
        {% assign video = block.settings.video_url %}
        {% assign videoType = video.type %}
      {% endif %}

      {% if block.settings.mp4_video_url != blank %}
        {% assign video = block.settings.mp4_video_url %}
        {% assign videoType = 'mp4' %}
      {% endif %}

      {% if video != blank %}
        {% if videoType == 'youtube' %}
          <div class="col px-0 content-box fit-initial {{contentBoxClass}}">
            <iframe
              lazyload="auto"
              class="{{imageClass}}"
              id="ytplayer"
              type="text/html" 
              src="http://www.youtube.com/embed/{{ video.id }}?color=white&modestbranding=1&rel=0&showinfo=0&controls=0&autoplay=1&mute=1"
              frameborder="0"
              webkitallowfullscreen
              mozallowfullscreen
              allowfullscreen
              allowtransparency
              scrolling="no"
              style="pointer-events: none;" {% comment %} Fix mouse scroll problem {% endcomment %}>
              </iframe>
          </div>
        {% elsif videoType == 'vimeo' %}
          <div class="col px-0 content-box fit-initial ratio-16-9">
            <iframe
              lazyload="auto"
              class="{{imageClass}}"
              type="text/html" 
              src="https://player.vimeo.com/video/{{ video.id }}?autoplay=1&loop=1&autopause=0&background=1&muted=1"
              frameborder="0"
              webkitallowfullscreen
              mozallowfullscreen
              allowfullscreen
              allowtransparency
              scrolling="no"
              style="pointer-events: none;" {% comment %} Fix mouse scroll problem {% endcomment %}>
              </iframe>
          </div>
        {% elsif videoType == 'mp4' %}
          <div class="col px-0 content-box {{contentBoxClass}}">
            <video class="{{imageClass}}" autoplay muted loop>
              <source src="{{video}}" type="video/mp4">
              <span rv-i18n-text="'system.video_tag_not_supported'">
                {{'system.video_tag_not_supported'|t}}
              </span>
            </video>
          </div>
        {% endif %}
      {% else %}
        <div class="col px-0 content-box {{contentBoxClass}}">
          <img lazyload="auto" class="{{imageClass}}" src="{{ imageSrc }}" alt="{{image.alt}}" style="padding: {{block.settings.spacing}}px" />
        </div>
      {% endif %}


    {% endfor %}
  </div>

  
  {% if section.settings.title != blank %}
    {% assign title = section.settings.title %}
  {% else %}
    {% assign title = article.title %}
  {% endif %}

  {% if title %}
    <div class="row position-absolute bottom-0 w-100" style="background-color: {{ section.settings.color | color_modify: 'alpha', 0.5 }};">
      <div class="col-12 text-center title-xs-spacing title-sm-spacing" style="padding: {{ section.settings.title_spacing }}px 0;">
        {{ title }}
      </div>
    </div>
  {% endif %}
</a>

{% schema %}
  {
    "name": "One Story",
    "class": "one-story",
    "max_blocks": 2,
    "settings": [
      {
        "type": "url",
        "id": "story",
        "label": "Story"
      },
      {
        "type":      "text",
        "id":        "title",
        "label":     "Title",
        "info":      "Overwrite the story title if you wish",
        "placeholder": "Story Title"
      },
      {
        "type":      "color",
        "id":        "color",
        "label":     "Color",
        "default":   "#ffffff"
      },
      {
        "type":   "range",
        "id":     "title_spacing",
        "min":       0,
        "max":       100,
        "step":      1,
        "unit":      "px",
        "label":     "Title spacing",
        "default":   7
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image or Video",
        "type": "image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "id": "video_url",
            "type": "video_url",
            "label": "YouTube or Vimeo Video URL",
            "accept": ["youtube", "vimeo"]
          },
          {
            "id": "mp4_video_url",
            "type": "url",
            "label": "Video .mp4 Source URL",
            "info": "Video must be in .mp4 format"
          },
          {
            "type":   "range",
            "id":     "spacing",
            "min":       0,
            "max":       100,
            "step":      1,
            "unit":      "px",
            "label":     "Spacing",
            "default":   0
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "Custom Content",
        "name": "One Story",
        "blocks": []
      }
    ]
  }
{% endschema %}