{% if section.settings.story contains "/blogs/" %}
  {% assign handle = section.settings.story | remove_first: "/blogs/" %}
  {% assign article = articles[handle] %}
{% endif %}

{% if section.settings.story contains "/products/" %}
  {% assign handle = section.settings.story | remove_first: "/products/" %}
  {% assign article = all_products[handle] %}
{% endif %}

{% if section.settings.story contains "/pages/" %}
  {% assign handle = section.settings.story | remove_first: "/pages/" %}
  {% assign article = pages[handle] %}
{% endif %}

{% if section.settings.story contains "/collections/" %}
  {% assign handle = section.settings.story | remove_first: "/collections/" %}
  {% assign article = collections[handle] %}
{% endif %}

{% assign block_length = section.blocks | size %}

<a rv-route="'{{ section.settings.story }}'" href="{{section.settings.story}}" rv-shopify-section='{{ section.settings | json }}' class="d-block container-fluid position-relative" style="background-color: {{ section.settings.color }};">
  <div class="row">
    {% for block in section.blocks %}
      
      {% assign ratioClass = "ratio-" | append: block.settings.aspect_ratio %}
      {% assign ratioClassMD = "ratio-md-" | append: block.settings.aspect_ratio_md %}
      {% assign contentBoxClass = ratioClass | append: ' ' | append: ratioClassMD %}

      {% if block.settings.spacing > 0 %}
        {% assign imageHasSpacing = true %}
      {% else %}
        {% assign imageHasSpacing = false %}
      {% endif %}

      {% assign imageClass = 'content lazy' %}
      {% if imageHasSpacing %}
        {% assign imageClass = imageClass | append: ' has-xs-spacing has-sm-spacing' %}
      {% endif %}

      {% if block.settings.image != blank %}
        {% assign imageSrc = block.settings.image | img_url: 'master'  %}
      {% endif %}

      {% if block.settings.video_url != blank %}
        {% assign video = block.settings.video_url %}
        {% assign videoType = video.type %}
      {% endif %}

      {% if block.settings.mp4_video_url != blank %}
        {% assign video = block.settings.mp4_video_url %}
        {% assign videoType = 'video/mp4' %}
      {% endif %}

      {% if block.settings.controls %}
        {% assign youtubeParams = 'controls=1' %}
        {% assign vimeoParams = 'controls=1&background=0' %}
      {% else %}
        {% assign youtubeParams = 'controls=0' %}
        {% assign vimeoParams = 'controls=0&background=1' %}
      {% endif %}

      {% if block.settings.mute %}
        {% assign youtubeParams = youtubeParams | append: '&mute=1' %}
        {% assign vimeoParams = vimeoParams | append: '&muted=1' %}
      {% else %}
        {% assign youtubeParams = youtubeParams | append: '&mute=0' %}
        {% assign vimeoParams = vimeoParams | append: '&muted=0' %}
      {% endif %}

      {% if block.settings.video_poster != blank %}
        {% assign videoPoster = block.settings.video_poster | img_url: 'master' %}
      {% endif %}

      {% if video != blank %}
        {% if videoType == 'youtube' %}
          <div class="col px-0 content-box fit-initial {{contentBoxClass}}">
            {% if videoPoster %}
              <img
                lazyload="lazy"
                class="{{imageClass}}"
                src="{{ videoPoster }}"
                alt="{{ section.settings.title }}"
              />
            {% endif %}
            <iframe
              lazyload="lazy"
              class="{{imageClass}}"
              id="ytplayer"
              type="text/html" 
              src="https://www.youtube.com/embed/{{ video.id  }}?autoplay=1&color=white&disablekb=0&enablejsapi=0&fs=1&iv_load_policy=3&loop=0&modestbranding=1&origin={{shop.url}}&playsinline=0&rel=0&showinfo=0&{{ youtubeParams }}"
              frameborder="0"
              marginheight="0"
              marginwidth="0"
              webkitallowfullscreen
              mozallowfullscreen
              allowfullscreen
              allowtransparency
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              scrolling="no"
              {% unless block.settings.controls %}
                style="pointer-events: none;" {% comment %} Fix mouse scroll problem {% endcomment %}
              {% endunless %}
              >
              </iframe>
          </div>
        {% elsif videoType == 'vimeo' %}
          <div class="col px-0 content-box fit-initial ratio-16-9">
            {% if videoPoster %}
              <img
                lazyload="lazy"
                class="{{imageClass}}"
                src="{{ videoPoster }}"
                alt="{{ section.settings.title }}"
              />
            {% endif %}
            <iframe
              lazyload="lazy"
              class="{{imageClass}}"
              type="text/html" 
              src="https://player.vimeo.com/video/{{ video.id }}?color=D9998F&autoplay=1&loop=1&autopause=0&{{ vimeoParams }}"
              frameborder="0"
              marginheight="0"
              marginwidth="0"
              webkitallowfullscreen
              mozallowfullscreen
              allowfullscreen
              allowtransparency
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              scrolling="no"
              {% unless block.settings.controls %}
                style="pointer-events: none;" {% comment %} Fix mouse scroll problem {% endcomment %}
              {% endunless %}
              >
              </iframe>
          </div>
        {% elsif videoType == 'video/mp4' %}
          <div class="col px-0 content-box {{contentBoxClass}}">
            <video
              class="{{imageClass}}"
              autoplay
              {% if block.settings.mute %}
                muted
              {% endif %}
              {% if block.settings.controls %}
                controls
              {% endif %}
              loop
              {% if videoPoster %}poster="{{ videoPoster }}"{% endif %}>
              <source src="{{video}}" type="video/mp4">
              <span rv-i18n-text="'system.video_tag_not_supported'">
                {{'system.video_tag_not_supported'|t}}
              </span>
            </video>
          </div>
        {% endif %}
      {% else %}
        <div class="col px-0 content-box {{contentBoxClass}}">
          <img
            lazyload="lazy"
            class="{{imageClass}}"
            src="{{ imageSrc }}"
            alt="{{image.alt}}"
            style="padding: {{block.settings.spacing}}px"
          />
        </div>
      {% endif %}
    {% endfor %}
  </div>

  
  {% if section.settings.show_title %}
    {% if section.settings.title != blank %}
      {% assign title = section.settings.title %}
    {% else %}
      {% assign title = article.title %}
    {% endif %}
  {% endif %}

  {% if title %}
    <div class="row position-absolute bottom-0 w-100" style="background-color: {{ section.settings.color | color_modify: 'alpha', 0.5 }};">
      <div class="col-12 text-center title-xs-spacing title-sm-spacing" style="padding: {{ section.settings.title_spacing }}px 0;">
        {{ title }}
      </div>
    </div>
  {% endif %}
</a>

{% schema %}
  {
    "name": "One Story",
    "class": "one-story",
    "max_blocks": 2,
    "settings": [
      {
        "type": "url",
        "id": "story",
        "label": "Story"
      },
      {
        "type":      "text",
        "id":        "title",
        "label":     "Title",
        "info":      "Overwrite the story title if you wish",
        "placeholder": "Story Title"
      },
      {
        "id": "show_title",
        "type": "checkbox",
        "default": true,
        "label": "Show title"
      },
      {
        "type":      "color",
        "id":        "color",
        "label":     "Color",
        "default":   "#ffffff"
      },
      {
        "type":   "range",
        "id":     "title_spacing",
        "min":       0,
        "max":       100,
        "step":      1,
        "unit":      "px",
        "label":     "Title spacing",
        "default":   7
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image or Video",
        "type": "image",
        "settings": [
          {
            "type":      "header",
            "content":   "Image"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "select",
            "id": "aspect_ratio",
            "label": "Aspect ratio (Smartphone)",
            "options": [
              {
                "value": "1-1",
                "label": "1:1"
              },
              {
                "value": "3-2",
                "label": "3:2 (default)"
              },
              {
                "value": "2-3",
                "label": "2:3"
              },
              {
                "value": "2-1",
                "label": "2:1"
              },
              {
                "value": "1-2",
                "label": "1:2"
              },
              {
                "value": "4-3",
                "label": "4:3"
              },
              {
                "value": "3-4",
                "label": "3:4"
              },
              {
                "value": "16-9",
                "label": "16:9 (Videos)"
              },
              {
                "value": "9-16",
                "label": "9:16"
              },
              {
                "value": "10-3",
                "label": "10:3"
              },
              {
                "value": "3-10",
                "label": "3:10"
              },
              {
                "value": "17-10",
                "label": "17:10"
              },
              {
                "value": "10-17",
                "label": "10:17"
              },
              {
                "value": "14-9",
                "label": "14:9"
              },
              {
                "value": "9-14",
                "label": "9:14"
              }
            ],
            "default": "3-2"
          },
          {
            "type": "select",
            "id": "aspect_ratio_md",
            "label": "Aspect ratio (Desktop)",
            "info": "Not working on embedded Vimeo Videos (always 16:9), instead use the .mp4 from vimeo",
            "options": [
              {
                "value": "none",
                "label": "None (use the smartphone ratio)"
              },
              {
                "value": "1-1",
                "label": "1:1"
              },
              {
                "value": "3-2",
                "label": "3:2 (default)"
              },
              {
                "value": "2-3",
                "label": "2:3"
              },
              {
                "value": "2-1",
                "label": "2:1"
              },
              {
                "value": "1-2",
                "label": "1:2"
              },
              {
                "value": "4-3",
                "label": "4:3"
              },
              {
                "value": "3-4",
                "label": "3:4 (use this for 2 images side by side)"
              },
              {
                "value": "16-9",
                "label": "16:9 (Videos)"
              },
              {
                "value": "9-16",
                "label": "9:16"
              },
              {
                "value": "10-3",
                "label": "10:3"
              },
              {
                "value": "3-10",
                "label": "3:10"
              },
              {
                "value": "17-10",
                "label": "17:10"
              },
              {
                "value": "10-17",
                "label": "10:17"
              },
              {
                "value": "14-9",
                "label": "14:9"
              },
              {
                "value": "9-14",
                "label": "9:14"
              }
            ],
            "default": "none"
          },
          {
            "type":      "header",
            "content":   "Video"
          },
          {
            "id": "video_url",
            "type": "video_url",
            "label": "YouTube or Vimeo Video URL",
            "accept": ["youtube", "vimeo"]
          },
          {
            "id": "mp4_video_url",
            "type": "url",
            "label": "Video .mp4 Source URL",
            "info": "Video must be in .mp4 format"
          },
          {
            "id": "controls",
            "type": "checkbox",
            "default": false,
            "label": "Show video controls",
            "info": "Video controls like playbar, volume and fullscreen controls"
          },
          {
            "id": "mute",
            "type": "checkbox",
            "default": true,
            "label": "Mute the video"
          },
          {
            "id": "video_poster",
            "type": "image_picker",
            "label": "Video Poster image"
          },
          {
            "type":      "header",
            "content":   "Spacings"
          },
          {
            "type":   "range",
            "id":     "spacing",
            "min":       0,
            "max":       100,
            "step":      1,
            "unit":      "px",
            "label":     "Spacing",
            "default":   0
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "Custom Content",
        "name": "One Story",
        "blocks": []
      }
    ]
  }
{% endschema %}