{% unless template == 'index' or template == 'cart' or template == 'list-collections' %}
    <ol class="breadcrumb" role="navigation" aria-label="breadcrumbs">
        <li><span class="breadcrumb-title">Du bist hier: </span><a href="/" title="Home" >Home</a></li>
        {% if template contains 'page' %}
            <li>{{ page.title }}</li>
        {% elsif template contains 'product' %}
            {% if collection.url %}
                <li>{{ collection.title | link_to: collection.url }}</li>
            {% endif %}
            <li>{{ product.title }}</li>
        {% elsif template contains 'collection' and collection.handle %}
            {% if current_tags %}
                {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
                <li>{{ collection.title | link_to: url }}</li>
                <li>{{ current_tags | join: " + " }}</li>
            {% else %}
                <li>{{ collection.title }}</li>
            {% endif %}
        {% elsif template == 'blog' %}
            {% if current_tags %}
                <li>{{ blog.title | link_to: blog.url }}</li>
                <li>{{ current_tags | join: " + " }}</li>
            {% else %}
                <li>{{ blog.title }}</li>
            {% endif %}
        {% elsif template == 'article' %}
            <li>{{ blog.title | link_to: blog.url }}</li>
            <li>{{ article.title }}</li>
        {% else %}
            <li>{{ page_title }}</li>
        {% endif %}
    </ol>
{% endunless %}