{% comment %}If no value is passed to the snippet, we will set the snippet variable to a sensible default.{% endcomment %}

<div class="coll-item p-y-1">

  <div class="coll-image-wrap">
    <a href="{{ collection.url }}">
      {% if collection.image %}
        <div class="background-box ratio-16-9" style="background-image: url({{ collection | img_url: 'grande' }});" title="{{ collection.image.alt | escape }}"></div>
      {% else %}
        <div class="background-box ratio-16-9" style="background-image: url({{ collection.products.first | img_url: 'grande' }});" title="{{ collection.title | escape }}"></div>
      {% endif %}
    </a>
  </div>
  
  <div class="coll-caption p-t-1">
    {{ collection.title }}
  </div>

</div>