{% comment %}If no value is passed to the snippet, we will set the snippet variable to a sensible default.{% endcomment %}

<div class="collection-item m-3">

  <div class="collection-image-wrap">
    <a href="{{ collection.url }}">
      {% if collection.image %}
        {% assign image = collection | img_url: 'grande' %}
        {% assign title = collection.image.alt | escape %}
      {% else %}
        {% assign image = collection.products.first | img_url: 'grande' %}
        {% assign title = collection.title | escape %}
      {% endif %}
      <div class="background-box {{ settings.collections_aspect_ratio }}" style="background-image: url({{ image }});" title="{{ title }}"></div>
      <div class="collection-caption">
        {{ collection.title }}
      </div>
    </a>
  </div>
  


</div>