{% comment %}
Featured Products
Shows Products from the collection called `featured-products`
{% endcomment %}
<div class="col-xs-12 featured-products {{collectionHandle}}">
    <div class="row">
        {% for product in collections[collectionHandle].products limit: 4 %}
            {% comment %} Fallback image: product.images[0] {% endcomment %}
            {% assign image = product.image | default: product.images[0] %}
            {% if forloop.length == 1 %}
                <div class="col-xs-12">
                    <div class="{{ classWrapper }}">
                        <a href="{{collections[collectionHandle].url}}{{product.url}}" class="background-box ratio-1-15" style="background-image: url({{image.src | product_img_url: 'grande'}});" title="{{product.title}}"></a>
                        <h5 class="{{ textAlign }} {{ titleClass }} title">{{product.vendor}}</h5>
                        {% if forloop.index == 1 and subtext1 %}
                            <h4 class="subtext {{ textAlign }}">{{ subtext1 }}</h4>
                        {% endif %}
                    </div>
                </div>
            {% else %}
                <div class="col-xs-6 col-sm-3 col-md-3 p-y-1">
                    <div class="{{ classWrapper }}">
                        <a href="{{collections[collectionHandle].url}}{{product.url}}" class="background-box ratio-1-15" style="background-image: url({{image.src | product_img_url: 'grande'}});" title="{{product.title}}"></a>
                        <h5 class="{{ textAlign }} {{ titleClass }} title">{{product.vendor}}</h5>
                        {% if forloop.index == 1 and subtext1 %}
                            <p class="subtext {{ textAlign }}">{{ subtext1 }}</p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>