<div class="container-fluid">
  {% include 'newsletter-form' %}
</div>
<div class="ah-container-fluid">
  <div class="container-fluid">
    <div class="row">
      {% for i in (1..3) %}
        <div class="col-xs-12 col-sm-4 col-md-4 p-y-1">
          {% capture title %}footer_block_{{ i }}_title{% endcapture %}
          {% capture content %}footer_block_{{ i }}_content{% endcapture %}
          {% capture sociallinks %}footer_block_{{ i }}_show_sociallinks{% endcapture %}
          {% capture applinks %}footer_block_{{ i }}_show_applinks{% endcapture %}
          {% capture show_image %}footer_block_{{ i }}_show_image{% endcapture %}
          {% capture image %}footer_block_{{ i }}_image.jpeg{% endcapture %}
          {% capture centertext %}footer_block_{{ i }}_centertext{% endcapture %}
          {% capture contact %}footer_block_{{ i }}_show_contact{% endcapture %}
          
          
          <div class="row {% if settings[centertext] == true %} text-center {% endif %}">

            {% if settings[show_image] == true %}
              <div class="col-xs-4">
                <img src="{{ image | asset_url }}" class="img-responsive p-t-05">
              </div>
              <div class="col-xs-8">
            {% else %}
              <div class="col-xs-12">
            {% endif %}

              <h2 class="text-sans-serif text-normal">{{ settings[title] }}</h2>
              <p>{{ settings[content] }}</p>

              {% if settings[sociallinks] == true %}
                <div class="social-links center-block p-y-1">
                  {% include 'social-links' %}
                </div>
              {% endif %}

              {% if settings[applinks] == true %}
                <div class="row app-links">
                  <a href="{{settings.general_app_href_ios}}" class="ios col-xs-6 col-sm-12 col-md-6">
                    <img src="{{ 'Download_on_the_App_Store_Badge_US-UK_135x40.svg' | asset_url }}" class="img-responsive full-width p-t-05">
                  </a>
                  <a href="{{settings.general_app_href_android}}" class="android col-xs-6 col-sm-12 col-md-6">
                    <img src="{{ 'google-play-badge.svg' | asset_url }}" class="img-responsive full-width p-t-05 ">
                  </a>
                </div>
              {% endif %}

              {% if settings[contact] == true %}
                <p>
                  
                </p>
                <p>
                  Tel <a href="tel:{{shop.phone | strip}}">{{ shop.phone }}</a>
                  <br>
                  <a href="mailto:{{shop.email}}">{{ shop.email }}</a> 
                </p>
              {% endif %}

            </div>

          </div>


        </div>
      {% endfor %}
    </div>
  </div>
</div>