<nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-white border-b border-px-1 border-color-gray-lighter" id="main-navbar">

  <button class="navbar-toggler navbar-toggler-right sidebar-toggler tcon tcon-menu--xcross" type="button" data-toggle="sidebar" data-target="#right-sidebar" aria-controls="right-sidebar" aria-expanded="false" aria-label="Toggle Sidebar">
    <span class="tcon-menu__lines" aria-hidden="true"></span>
    <span class="tcon-visuallyhidden">toggle menu</span>
  </button>

  <div class="container">

    <a class="navbar-brand" href="/">
      <img src="{{ 'logo.svg' | asset_url }}" width="300" height="30" alt="STUDIO PEZZETTA">
    </a>
    
    <div class="w-100">
      <ul class="hidden-md-down navbar-nav d-flex justify-content-end">
        {% for link in linklists.main-menu.links %}
          {% assign has_sub_menu = false %}
          {% assign has_sub_categories = false %}
          {% assign child_list_handle = link.title | handle %}
          {% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}
            {% assign has_sub_menu = true %}
          {% elsif link.type == 'collection_link' and link.object.all_tags.size > 0 and sub_categories_over_tags_is_off_now %}
            {% assign has_sub_categories = true %}
          {% endif %}
          {% if has_sub_menu or has_sub_categories %}
              {% comment %}
              You could also use {% include 'jumplink-navbar-dropdown-letters' %} or {% include 'jumplink-navbar-dropdown-designer' %}
              {% endcomment %}
              {% include 'jumplink-navbar-dropdown' %}
          {% else %}
            {% if link.handle == 'blog' and settings.blog_enable == false %}
            {% else %}
              <li class="nav-item level-1 {{link.handle}}">
                <a class="nav-link" href="{{ link.url }}">{{ link.title }}</a>
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}
      </ul>

      {% if settings.navbar_show_cart %}
        <ul class="navbar-nav">
          {% include 'jumplink-navbar-dropdown-cart' %}
        </ul>
      {% endif %}

      {% if settings.navbar_show_search %}
        <form action="/search" method="get" class="search-form navbar-form" role="search">
          <div class="input-group">
            <span class="input-group-btn">
              <button id="search-submit" class="btn btn-default ah-navbar-btn-icon" type="submit">
                <div class="font-icon">
                  <img src="{{ 'search.svg' | asset_url }}" />
                </div>
              </button>
            </span>
            <input name="q" type="search" id="search-field" class="form-control" placeholder="{{ 'navbar.shop_actions.search' | t }}" value="{{ search.terms | escape }}">
          </div>
        </form>
      {% endif %}

    </div>
  </div>
</nav>

{% include 'jumplink-right-sidebar' %}
