{% capture date %}{{ comment.created_at | time_tag: format: 'month_day_year' }}{% endcapture %}
<li class="comment lead small" id="{{ comment.id }}">
  <b class="mr-1">{{ comment.author }}</b>
  <span class="rte">
    {{ comment.content }}
  </span>
  {% if comment.status == 'unapproved' %}
    <span class="text-warning" rv-i18n-text="'blogs.comments.unapproved'">{{ 'blogs.comments.unapproved' | t }}</span>
  {% endif %}
</li>