{% comment %} Navigation Desktop {% endcomment %}
<div class="container-fluid fixed-top navbar-main pointer-events-none d-none d-lg-block">
  {% comment %}
    SUBBAR
  {% endcomment %}
  <div class="row subbar pt-2 font-weight-bold text-serif">
    <div class="col d-flex">
      <div class="ml-auto">
         
        <ul class="nav pointer-events-all">
          <li class="nav-item">
            <div class="nav-text">
              Welcome to the online home of covering trends, fashion inspiration and high end ready to wear pieces.
            </div>
          </li>
        </ul>

      </div>
    </div>
  </div>

  {% comment %}
    MAINBAR
  {% endcomment %}
  <div class="row mainbar">

    {% comment %}
      MAINBAR LEFT
    {% endcomment %}
    <div class="col-auto" style="position: fixed; width: auto; z-index: 1;">
      <div class="row">
        <a class="col-auto brand pointer-events-all" rv-on-route-active="'/'" rv-route="'/'" href="/">
          <rv-icon rv-src="'{{ 'iconset-logo.svg' | asset_url }}'" height="64" width="47"></rv-icon>
        </a>
      </div>
      <div class="row pt-4">
        <div class="col-auto pointer-events-all font-weight-bold">
          <div rv-bs4-collapse="'#sidenav-main-menu'" class="sidenav-main-menu-toggler nav-item nav-link pl-0 cursor-pointer">
            +
          </div>
          <shopify-linklist rv-bs4-expan-on-url="'/'" class="" id="sidenav-main-menu" name="main-menu" vertical="true" pills="false"></shopify-linklist>
        </div>
      </div>

      <div class="row pt-4">
        <shopify-filter class="col-auto pointer-events-all" rv-namespace="dataset.namespace" rv-template="dataset.template | json" rv-filter="filter | json">
          <nav class="nav flex-column font-weight-bold" rv-add-class="linklist.handle">
            <div class="nav-item" rv-each-link="linklist.links" rv-show="show | call link.handle namespace template">
              
              <a class="nav-link" rv-add-class="'level-' | append link.level" rv-route="link.url" rv-href="link.url">{link.title}</a>
              
              <div class="small" rv-if="type | call link.handle | eq 'routes'">
                <strong>Type</strong>
                <div class="nav-item" rv-each-sublink="link.links">
                  <div class="custom-control custom-radio">
                    <input type="radio" rv-id="sublink.handle" rv-name="link.handle" rv-on-route-active="sublink.url" rv-route="sublink.url" rv-checked-on-route="sublink.url" class="custom-control-input">
                    <label class="custom-control-label" rv-on-route-active="sublink.url" rv-route="sublink.url" rv-for="sublink.handle">{sublink.title}</label>
                  </div>
                </div>

                <div rv-if="link.handle | eq 'store'">
                  {% for collection in collections %}
                    {% if collection.metafields["global"]["hide-in-filter"] != 'true' %}
                      <div class="nav-item">
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="{{ collection.handle }}"
                            rv-name="link.handle"
                            class="custom-control-input"
                            rv-on-route-active="'{{ collection.url }}'"
                            rv-route="'{{ collection.url }}'"
                          >
                          <label
                            class="custom-control-label"
                            rv-for="{{ collection.handle }}"
                            rv-on-route-active="'{{ collection.url }}'"
                            rv-route="'{{ collection.url }}'"
                          >{{ collection.title }}</label>
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>

              </div>

              <div class="small" rv-if="type | call link.handle | eq 'scrollspy'">
                <strong>Type</strong>
                <div class="nav-item" rv-each-sublink="link.links">
                  <div class="custom-control custom-radio">
                    <input type="radio" rv-id="sublink.handle" rv-name="link.handle" rv-bs4-scrollspy-active="sublink.url" class="custom-control-input">
                    <label class="custom-control-label" rv-on-click="scrollTo | args sublink.url" rv-for="sublink.handle">{sublink.title}</label>
                  </div>
                </div>
              </div>

              <div class="small" rv-if="type | call link.handle | eq 'stories-filter'">
                <strong>Type</strong>
                <div class="nav-item" rv-each-sublink="link.links">
                  <div class="custom-control custom-radio">
                    <input type="radio" rv-id="sublink.handle" rv-name="link.handle" class="custom-control-input">
                    <label class="custom-control-label" rv-for="sublink.handle" rv-on-click="storiesFilterBy | args link.handle sublink.url">{sublink.title}</label>
                  </div>
                </div>
              </div>

            </div>
          </nav>
        </shopify-filter>

      </div>
    </div>

    {% comment %}
      MAINBAR RIGHT
    {% endcomment %}
    <div class="ml-auto col-auto d-flex align-items-center">
      <ul class="nav" style="pointer-events: all;">
        <li class="nav-item">
          <a class="nav-link" href="/search" rv-on-route-active="'/search'" rv-route="'/search'">
            <rv-icon rv-src="'{{ 'iconset-glass.svg' | asset_url }}'" size="24"></rv-icon>
          </a>
        </li>

        <shopify-linklist rv-show="menuOpen" class="" id="toggle-menu" name="toggle-menu" vertical="false" pills="false"></shopify-linklist>
        

        <li class="nav-item">
          <bs4-dropdown class="dropdown d-block">
            <a class="nav-link dropdown-toggle" data-offset="-350" rv-on-click="toggle" rv-on-route-active="'/cart'" href="#" role="button" id="dropdownMenuCart" aria-haspopup="true" aria-expanded="false">
              Cart
            </a>
            
            <div class="dropdown-menu p-3 text-center" aria-labelledby="dropdownMenuCart" style="width: 400px;">
              
              <p>The new FASSBENDER store will be open in a few weeks.<br />Stay tuned!</p>
              {% comment %} <p><strong>Discover Fassbender's World</strong></p>
              <p>
                I want news and inspiration about Stories and Collections.<br>
                Take my Name and E-Mail.
              </p> {% endcomment %}
            </div>
          </bs4-dropdown>

        </li>    
        <li class="nav-item">
          <a class="nav-link" rv-on-click="assign | args 'menuOpen' true" href="#" rv-hide="menuOpen">
            <rv-icon rv-src="'{{ 'iconset-menu.svg' | asset_url }}'" size="24"></rv-icon>
          </a>
          <a class="nav-link" rv-on-click="assign | args 'menuOpen' false" href="#" rv-show="menuOpen">
            <rv-icon rv-src="'{{ 'iconset-x.svg' | asset_url }}'" size="24"></rv-icon>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

{% comment %} Navigation Smartphone {% endcomment %}
<div class="container-fluid fixed-top pointer-events-none d-block d-lg-none text-center logo-text-sm">
  <a class="pointer-events-all" rv-on-route-active="'/'" rv-route="'/'" href="/">FASSBENDER</a>
  
</div>