<div class="container-fluid pt-5">
  <div class="row pt-5">
    <div class="col-12 offset-md-2 col-md-8">
      <rv-shopify-login-form>
        <div class="row">

          {% comment %}
            recover_customer_password
            This form is used to recover the passwort and is hidden because
            instead of have an seperate form in the frontend for this
            we use the login form to get the email.
          {% endcomment %}
          <div class="col-12 col-sm-6 order-2 pb-5" hidden>
            {% form 'recover_customer_password' %}

              {% comment %} Error and Successfull messages {% endcomment %}
              {% if form.errors %}
                {% assign formErrors = form.errors %}
              {% endif %}
              {% if form.posted_successfully? %}
                {% assign formSuccessfully = 'Password recovery was successfully sent' %}
              {% endif %}

              <p class="mb-0">
                <strong rv-i18n-text="'forms.login.recover'">
                  {{'forms.login.recover'|t}}
                </strong>
              </p>

              <p rv-i18n-text="'forms.login.recover_info'">
                {{'forms.login.recover_info'|t}}
              </p>

              {% include 'jumplink-form-inputs-customer-recover' %}

              <button class="btn btn-link w-100 p-0 text-left mb-3" rv-on-click="recoverBack">
                <small rv-i18n-text="'forms.login.back_label'">
                  {{'forms.login.back_label'|t}}
                </small>
              </button>

              <button type="submit" class="btn btn-animated-underline-dark font-weight-bold"
                rv-on-click="recover"
              >
                <span rv-i18n-text="'forms.login.recover_label'">{{'forms.login.recover_label'|t}}</span>
              </button>

            {% endform %}
          </div>

          {% comment %} customer_login {% endcomment %}
          <div class="col-12 col-sm-6 order-2 pb-5">
            {% form 'customer_login' %}

              {% comment %} Error and Successfull messages {% endcomment %}
              {% if form.errors %}
                {% assign formErrors = form.errors %}
              {% endif %}
              {% if form.posted_successfully? %}
                {% assign formSuccessfully = 'Logged in successfully' %}
              {% endif %}

              <p class="mb-0">
                <strong rv-i18n-text="'forms.login.title'">
                  {{'forms.login.title'|t}}
                </strong>
              </p>

              <p rv-i18n-text="'forms.login.subtitle'">
                {{'forms.login.subtitle'|t}}
              </p>

              {% include 'jumplink-form-inputs-customer-login' %}

              <button class="btn btn-link w-100 p-0 text-left mb-3" rv-on-click="recover">
                <small rv-i18n-text="'forms.login.recover_title'">
                  {{'forms.login.recover_title'|t}}
                </small>
              </button>


              <button type="submit" class="btn btn-animated-underline-dark font-weight-bold"
                rv-on-click="login"
              >
                <span rv-i18n-text="'forms.login.login'">{{'forms.login.login'|t}}</span>
              </button>

            {% endform %}
          </div>

          {% comment %} create_customer {% endcomment %}
          <div class="col-12 col-sm-6 order-3 pb-5">
            {% form 'create_customer' %}

              {% comment %} Error and Successfull messages {% endcomment %}
              {% if form.errors %}
                {% assign formErrors = form.errors %}
              {% endif %}
              {% if form.posted_successfully? %}
                {% assign formSuccessfully = 'Account successfully created' %}
              {% endif %}

              <p class="mb-0">
                <strong rv-i18n-text="'forms.login.regist_title'">
                  {{'forms.login.regist_title'|t}}
                </strong>
              </p>

              {% include 'jumplink-form-inputs-customer-create' %}

              <button type="submit" class="btn btn-animated-underline-dark font-weight-bold"
                rv-on-click="create"
                rv-i18n-text="'forms.login.regist_label'"
              >
                {{'forms.login.regist_label'|t}}
              </button>

            {% endform %}
          </div>

          <div class="col-12 order-1">
            {% if formErrors %}
              <div class="alert alert-danger" role="alert">
                {{ formErrors | default_errors }}
              </div>
            {% endif %}

            {% if formSuccessfully %}
              <div class="alert alert-success" role="alert">
                {{ formSuccessfully }}
              </div>
            {% endif %}
          </div>

        </div>



      </rv-shopify-login-form>
    </div>
  </div>
</div>
