
{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% if colClass == blank %}
  {% assign colClass = 'col-12 col-md' %}
{% endif %}

{% if imageSize == blank %}
  {% assign imageSize = '1200x1600' %}
{% endif %}

<rv-shopify-product-item rv-product="{{product | json}}" class="{{colClass}} {{ orderClass }} px-0 content-box ratio-3-4">
  <a rv-route="'{{ product.url | within: collection }}'" href="{{product.url | within: collection }}">
    <img class="content" rv-src="'{{ product.featured_image | img_url: imageSize}}'" alt="{{product.featured_image.alt}}"  style="padding-bottom: 60px;"/>
  </a>
  <div class="position-absolute w-100" style="bottom: 10px;">
    <div class="row m-0">
      <div class="col-8 text-left text-truncate">
        <strong>{{ product.title }}</strong><br />
        {{ product.price | money }}
      </div>
      <div class="col text-right text-truncate">
        <a hidden href="#">Add</a>
      </div>
    </div>
  </div>
</rv-shopify-product-item>