<div class="order my-4">
  <div class="order-header">
    <p class="my-1">
      ID {{ order.name | link_to: order.customer_url }}
    </p>
    {% if order.cancelled %}
      <p class="my-1" rv-i18n-html="'customer.order.cancelled_reason_html'">
        {{'customer.order.cancelled_reason_html'|t: order_status_url: order.order_status_url, cancel_reason: order.cancel_reason}}
        <template name="order_status_url">{{order.order_status_url}}</template>
        <template name="cancel_reason">
          <span rv-i18n-text="'customer.order.reasons.{{order.cancel_reason | handleize}}'">
            {{order.cancel_reason_label}}
          </span>
        </template>
      </p>
    {% else %}
      <p class="my-1">
        {{'customer.order.financial_status_html'|t: order_status_url: order.order_status_url, financial_status: order.financial_status}}
        <template name="order_status_url">{{order.order_status_url}}</template>
        <template name="financial_status">
          <span rv-i18n-text="'customer.order.financial_status.{{order.financial_status | handleize}}'">
            {{order.financial_status_label}}
          </span>
        </template>
      </p>
    {% endif %}
    <p class="my-1">
      <span rv-i18n-text="'customer.order.created_at'">{{'customer.order.created_at'|t}}</span> {{ order.created_at | date: format: 'month_day_year' }}
    </p>
  </div>
  <ul class="list-unstyled mt-3">
    {% for item in order.line_items %}
      {% assign _options = item.title | split: ' - ' %}
      {% assign options = _options[1] | split: ' / ' %}
      <li class="media mb-3 cursor-pointer" rv-route="'{{ item.product.url }}'">
        <img
          lazyload="lazy"
          class="img-fluid mr-3"
          src="{{ item.image | img_url: '100x', scale: 2 }}"
          srcset="{{ item.image | img_url: '100x', scale: 1 }} 1x, {{ item.image | img_url: '100x', scale: 2 }} 2x, {{ item.image | img_url: '100x', scale: 3 }} 3x, {{ item.image | img_url: '100x', scale: 4 }} 4x"
          sizes="100px"
          alt="{{ item.title }}"
        />
        
        <div class="media-body">
          <p class="mb-1">
            <strong>{{ item.product.title }}</strong>
          </p>
          <div class="options d-flex align-items-center">
            {% for option in options %}
              <div class="mr-2 my-0 d-inline-block">
                {% if option contains '#' %}
                  {% comment %} color option {% endcomment %}
                  <div class="styleicon-circle option-color" style="width: 12px; height: 12px; background-color: {{ option }};"></div>
                {% else %}
                  {% comment %} size or other option {% endcomment %}
                  <div class="option-other">{{ option }}</div>
                {% endif %}
              </div>
            {% endfor %}
          </div>
          <p class="my-1" rv-i18n-html="'customer.order.quantity_html'">
            {{'customer.order.quantity_html'|t: count:item.quantity}}
            <template name="count">{{item.quantity}}</template>
          </p>
          <p>
            {{ item.price | money }}
          </p>
        </div>
      </li>
    {% endfor %}
  </ul>
  <div class="order-footer">
    <p class="mb-0">
      <strong rv-i18n-html="'customer.order.items'">
        {{'customer.order.items'|t: count:order.line_items | size}}
        <template name="count">{{order.line_items | size}}</template>
      </strong>
    </p>
    <p class="mb-0">
      <span rv-i18n-text="'customer.order.total'">{{'customer.order.total'|t}}</span> {{ order.total_price | money }}
    </p>
  </div>
</div>