{% if customer %}
    <div class="text-center">
        <div class="border-a border-px-1 border-color-black p-4 my-4">
            <p class="display-3 mb-4">{{'collection.unlock.header' | t}}</p>
            <p>{{'collection.unlock.text' | t}}</p>
            <a href="mailto:{{shop.email}}" class="btn btn-primary mb-4">{{'collection.unlock.button' | t}}</a>
        </div>
    </div>
{% else %}
    <div class="text-center">
        <div class="border-a border-px-1 border-color-black p-4 my-4">
            <p class="display-3 mb-4">{{'collection.register.header' | t}}</p>
            <p>{{'collection.register.text' | t}}</p>
            <a href="/account/register" class="btn btn-primary mb-4">{{'collection.register.button' | t}}</a>
        </div>
    </div>
{% endif %}