<div class="form-group mb-0">
  <label for="{{idPrefix}}recover_customer_email" class="sr-only"
    rv-i18n-text="'forms.login.mail'"
  >
    {{'forms.login.mail'|t}}
  </label>
  <input
    type="email"
    name="email"
    class="form-control form-control-text form-control-primary py-1"
    id="{{idPrefix}}recover_customer_email"
    placeholder="{{'forms.login.mail'|t}}"
    rv-i18n-placeholder="'forms.login.mail'"
    required
    autocorrect="off"
    autocapitalize="off"
    spellcheck="false"
    autofocus
    autocomplete="username"
    rv-value="form.customer.email"
  />
  <div class="invalid-feedback"
    rv-i18n-text="'forms.invalid.any'"
  >
    {{'forms.invalid.any'|t}}
  </div>
</div>