<footer class="imprint bg-black hidden-print">
  <div class="container">
    <div data-toggle="footer" data-target="#footer-adjustment" class="row">
      <div class="col-xs-12 text-center">
        <div class="text-uppercase my-2" id="footer-book">
          {{ 'footer.general.header' | t }}
          {% include 'jumplink-iconset', name: 'arrow', direction: 'top', color: 'white' %}
        </div>
      </div>
    </div>
    <div class="row hidden-xs-up" id="footer-adjustment">

      <div class="col-xs-12 col-lg-4 d-flex flex-lg-row mb-2">
        {% if linklists.footer.links.size > 0 %}
          <nav class="navbar navbar-toggleable-xs navbar-inverse bg-black footer-navbar d-flex align-items-xs-center align-items-lg-end w-100">
            <div class="navbar-collapse">
                <ul class="navbar-nav d-flex justify-content-xs-center justify-content-lg-start">
                  {% for link in linklists.footer.links %}
                    <li class="nav-item">
                      <a class="nav-link" href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
            </div>
          </nav>
        {% endif %}
      </div>

      <div class="col-xs-12 col-lg-4 text-center">

        <p class="my-3">
          <a href="tel:{{shop.phone | remove: ' ' | remove: '.'}}" class="btn btn-outline-secondary">{{shop.phone}}</a>
        </p>

        <p class="mt-3">
          <small>
            <a href="mailto:{{shop.email}}" class="">{{shop.email}}</a>
          </small>
        </p>
        
        <p class="my-3">
          <img class="logo-inverse" src="{{ 'footer_logo.png' | asset_url }}" width="300" height="30" alt="{{shop.name}}">
        </p>

        <p class="my-3">
          {{shop.address.street | replace: ",", " |"}}
          <br>
          {{shop.address.zip}} {{shop.address.city}}
        </p>

      </div>

      <div class="col-xs-12 col-lg-4 d-flex flex-lg-row mb-2">
        <nav class="navbar navbar-toggleable-xs navbar-inverse bg-black footer-navbar d-flex align-items-xs-center align-items-lg-end w-100">
          <div class="navbar-collapse">
            <ul class="navbar-nav d-flex justify-content-center justify-content-lg-end">
              <li class="nav-item">
                <a class="nav-link" href="/" title="{{shop.name}}">
                  © 2017 {{shop.name}}
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>

    </div>
  </div>
</footer>