<!-- jumplink-article-list-item-view-magazine.liquid -->
{% assign ratioClass = "embed-responsive-3by2" %}
{% assign videoRatioClass = "embed-responsive-16by9" %}
{% assign imageCount = images | size %}
{% assign imageSpacing = 0 %}

{% comment %} Show Video always on detail view or if no images are set {% endcomment %}
{% assign showVideo = false %}
{% if video %}
  {% if showDetail == true or imageCount <= 0 %}
    {% assign showVideo = true %}
  {% endif %}
{% endif %}

{% comment %} comments count {% endcomment %}
{% assign new_comment = false %}
{% assign number_of_comments = article.comments_count %}
{% if comment and comment.created_at %}
  {% assign new_comment = true %}
  {% assign new_comment_id = comment.id %}
{% endif %}
{% if new_comment %}
  {% comment %}
    When you refresh the page with submitted comment, the comment is duplicated
    so we added a flag to avoid this situation.
  {% endcomment %}
  {% assign duplicate_comment = false %}
  {% for comment in article.comments %}
    {% if comment.id == new_comment_id %}
      {% assign duplicate_comment = true %}
      {% break %}
    {% endif %}
  {% endfor %}
  {% unless duplicate_comment %}
    {% assign number_of_comments = article.comments_count | plus: 1 %}
  {% endunless %}
{% endif %}

{% if article.content == blank %}
  {% assign articleHasContent = false %}
{% else %}
  {% assign articleHasContent = true %}
{% endif %}

{% if article.excerpt_or_content == blank %}
  {% assign articleHasExcerptOrContent = false %}
{% else %}
  {% assign articleHasExcerptOrContent = true %}
{% endif %}

{% if showDetail == false %}
  {% assign linkToArticle = true %}
{% else %}
  {% assign linkToArticle = false %}
{% endif %}

{% comment %}
  If showDetail is true this snippet shows all the details of the blog article, otherwise only the stuff we want to show in the list view
{% endcomment %}

<div class="container-fluid jumplink-article-list-item jumplink-article-list-item-view-magazine" data-tags='{% include 'jumplink-utils-json-tags', tags: article.tags %}' style="background-color: {{color}};">
  <rv-shopify-article-item data-handle="{{article.handle}}">
    {% if showVideo %}
      <div class="row {% if linkToArticle %}cursor-pointer{% endif %}" rv-scrollfix="" {% if linkToArticle %}rv-route="'{{article.url}}'"{% endif %}>
        <div class="col-12 col-md px-0 embed-responsive {{videoRatioClass}}">
          {% if videoPoster %}
            <img
              loading="lazy"
              class="embed-responsive-item lazy"
              src="{{ videoPoster }}"
              alt="{{ article.title }}"
              style="padding: {{imageSpacing}}px"
            />
          {% endif %}
          {% if videoType == 'video/mp4' %}
            <rv-video>
              <video class="embed-responsive-item lazy video-mp4" preload="auto" controls {% if videoPoster %}poster="{{ videoPoster }}"{% endif %} playsinline webkit-playsinline>
                <source src="{{ video }}" type="video/mp4">
                <span rv-i18n-text="'system.video_tag_not_supported'">
                  {{'system.video_tag_not_supported'|t}}
                </span>
              </video>
              <div rv-hide="controls" class="video-custom-controls">
                <rv-icon rv-hide="muted" rv-on-click="toggleMute" size="50" class="video-volume-high" src="{{ 'icon_volume-high_alt.svg' | asset_url }}"></rv-icon>
                <rv-icon rv-show="muted" rv-on-click="toggleMute" size="50" class="video-volume-mute" src="{{ 'icon_vol-mute_alt.svg' | asset_url }}"></rv-icon>
              </div>
            </rv-video>
          {% endif %}
          {% if videoType == 'vimeo' %}
            <iframe
              loading="lazy"
              class="embed-responsive-item lazy video-iframe-vimeo"
              type="text/html"
              src="https://player.vimeo.com/video/{{ video }}?color=D9998F&title=0&byline=0&portrait=0&autoplay=0&loop=0&autopause=1&background=0&muted=0"
              frameborder="0"
              marginheight="0"
              marginwidth="0"
              webkitallowfullscreen
              mozallowfullscreen
              allowfullscreen
              allowtransparency
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              scrolling="no">
              </iframe>
          {% endif %}
          {% if videoType == 'youtube' %}
            <iframe
              loading="lazy"
              class="embed-responsive-item lazy video-iframe-youtube"
              type="text/html"
              src="https://www.youtube.com/embed/{{ video }}?autoplay=0&mute=0&color=white&controls=2&disablekb=0&enablejsapi=0&fs=1&iv_load_policy=3&loop=0&modestbranding=1&origin={{shop.url}}&playsinline=0&rel=0&showinfo=0"
              frameborder="0"
              marginheight="0"
              marginwidth="0"
              webkitallowfullscreen
              mozallowfullscreen
              allowfullscreen
              allowtransparency
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              scrolling="no">
              </iframe>
          {% endif %}
        </div>
      </div>
    {% endif %}

    {% comment %} First image {% endcomment %}
    <div class="row {% if linkToArticle %}cursor-pointer{% endif %}" {% if linkToArticle %}rv-route="'{{article.url}}'"{% endif %}>
      {% for image in images limit:1 %}
        <div class="col-12 col-md px-0 embed-responsive {{ratioClass}}">
          <img loading="lazy" class="embed-responsive-item lazy" src="{{ image }}" alt="{{ article.title }}" style="padding: {{imageSpacing}}px" />
        </div>
      {% endfor %}
    </div>
  
    {% comment %} Image 2-4 {% endcomment %}
    <div class="row {% if linkToArticle %}cursor-pointer{% endif %}" {% if linkToArticle %}rv-route="'{{article.url}}'"{% endif %}>
      {% for image in images offset:1 limit:2 %}
        <div class="col-12 col-md px-0 embed-responsive {{ratioClass}}">
          <img loading="lazy" class="embed-responsive-item lazy" src="{{ image }}" alt="{{article.title}}" style="padding: {{imageSpacing}}px" />
        </div>
      {% endfor %}
    </div>

    {% comment %} Image 4-.. {% endcomment %}
    <div class="row {% if linkToArticle %}cursor-pointer{% endif %}" {% if linkToArticle %}rv-route="'{{article.url}}'"{% endif %}>
      {% for image in images offset:3 %}
        <div class="col-12 col-md px-0 embed-responsive {{ratioClass}}">
          <img loading="lazy" class="embed-responsive-item lazy" src="{{ image }}" alt="{{article.title}}" style="padding: {{imageSpacing}}px" />
        </div>
      {% endfor %}
    </div>

    
    <div class="col-12 p-5 magazine-columns has-xs-spacing {% unless articleHasExcerptOrContent %}no-excerpt-or-content{% endunless %}">
      <h2 class="h1">{{article.title}}</h2>
      <p class="small font-weight-bold">
        <span>{{ article.published_at | time_tag: '%d. %B %Y' }} </span>
        <span class="pl-3" rv-i18n-text="'blogs.article.by'">
          {{'blogs.article.by' | t: first_name: article.user.first_name, last_name: article.user.last_name}}
          <template name="first_name">{{article.user.first_name}}</template>
          <template name="last_name">{{article.user.last_name}}</template>
        </span>
      </p>
      <hr>
      {% if showDetail %}
        {{ article.content }}
      {% else %}
        {{ article.excerpt_or_content }}
      {% endif %}
      <hr>
      <p class="small font-weight-bold" >
        <span class="info-comments" rv-i18n-text="'blogs.comments.with_count'">
          {{ 'blogs.comments.with_count' | t: count: number_of_comments }}
          <template name="count">{{number_of_comments}}</template>
        </span>
        {% unless showDetail %}
          {% if linkToArticle %}
            <a class="ml-auto float-right" rv-route="'{{article.url}}'">
              {{ 'blogs.article.view' | t }}
            </a>
          {% endif %}
        {% endunless %}
      </p>
      <p class="small font-weight-bold share-container" >
        <i18n-share title="{{ article.title }}" url="{{ article.url }}" text-i18n="blogs.article.share-text" label-i18n="blogs.article.share"></i18n-share>
      </p>
    </div>
  </rv-shopify-article-item>

  {% if showDetail %}
    <div class="px-5 has-xs-spacing">
      {% include 'jumplink-article-comments' with comment, article, blog %}
    </div>
  {% endif %}

</div>

{% comment %} 
  Next (or prev) article and linked product
{% endcomment %}
{% if showDetail %}
  {% if blog.next_article %}
    {% assign nextArticle = blog.next_article %}
  {% elsif blog.previous_article %}
    {% assign nextArticle = blog.previous_article %}
  {% endif %}

  {% if nextArticle %}
    {% assign nextType = nextArticle.metafields["global"]["type"] %}
    {% assign nextColor = nextArticle.metafields["global"]["color"] %}
    {% capture nextArticleTitleStyle %}
      {% if color %}
        background-color:{{ nextColor | color_modify: 'alpha', 0.5 }};
      {% endif %}
    {% endcapture %}
  {% endif %}

  {% assign product = all_products[article.metafields["global"]["detail-product-handle-1"]] %}

  <div class="container-fluid position-relative">
    <div class="row">
      {% if nextArticle %}
        {% include 'jumplink-article-item-col-ratio-3by4' with article: nextArticle, colClass: 'col-12 col-sm', color: nextColor, articleTitleStyle: nextArticleTitleStyle, showVideo: false %}
      {% endif %}
      {% if product.title != blank %}
        {% include 'product-collection-grid-item-col-ratio-3by4' with product, colClass: 'col-12 col-sm' %}
      {% endif %}
    </div>
  </div>

{% endif %}






