{% comment %}
    @see http://dcdeiv.github.io/simpler-sidebar/ 
{% endcomment %}
<div id="right-sidebar" class="right-sidebar hidden-print bg-white">
    <div id="sidebar-wrapper" class="sidebar-wrapper">  
        <div class="list-group">
            {% for link in linklists.main-menu.links %}
                {% assign has_sub_menu = false %}
                {% assign has_all_collections = false %}
                {% assign child_list_handle = link.title | handle %}

                {% comment %}
                    Menu Entry has sub entries (has_sub_menu) if it exists another main menu with the same handle name
                    or if entry targets to all collections (link.type == 'collections_link')
                {% endcomment %}
                {% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}
                    {% assign has_sub_menu = true %}
                {% elsif link.type == 'collections_link' %}
                    {% assign has_all_collections = true %}
                {% endif %}

                {% if has_sub_menu or has_all_collections %}
                    <a class="list-group-item level-2-title {{link.handle}}" href="{{ link.url }}" data-toggle="collapse-with-icon" data-target="#sub-list-group-{{link.handle}}" data-icon=".arrow" data-icon-class-on-hide="rotate-270" data-icon-class-on-show="rotate-90" aria-expanded="false" aria-controls="collapseExample">
                        <div class="d-flex flex-row justify-content-between w-100">
                            {{ link.title | strip_html }}
                            {% include 'jumplink-iconset', name: 'arrow', direction: 'bottom', color: 'black' %}
                        </div>
                    </a>
                    <div class="collapse" id="sub-list-group-{{link.handle}}">
                        {% if has_all_collections %}
                            {% assign loop = collections %}
                        {% elsif has_sub_menu %}
                            {% assign loop = linklists[child_list_handle].links %}
                        {% endif %}
                        {% comment %}
                            We use pagination here if the sub menu lists all collections
                        {% endcomment %}
                        {% paginate collections by settings.collections_per_page %}
                            {% for link_level_2 in loop %}
                                
                                {% comment %}
                                    Check for no-barba links
                                {% endcomment %}
                                {% assign class = '' %}
                                {% if link_level_2.url == '/account/logout' %}
                                    {% assign class = 'no-barba' %}
                                {% endif %}

                                {% comment %}
                                    Hide cart link if cart is not active in theme settings
                                {% endcomment %}
                                {% assign hide_link = false %}
                                {% if settings.cart == false and link_level_2.url == '/cart' %}
                                    {% assign hide_link = true %}
                                {% endif %}

                                {% unless hide_link %}

                                    {% comment %}
                                        - Titles with [C] can just see loged in customers
                                        - Titles with [C] can just see not logged in visitors
                                    {% endcomment %}
                                    {% if link_level_2.title contains "[C]"%}
                                        {% if customer %}
                                                <a href="{{ link_level_2.url }}" class="close-sidebar list-group-item list-group-item-action level-2 {{link_level_2.handle}} {{class}}">
                                                    {{ link_level_2.title | strip_html | remove: "[C]" }}
                                                </a>
                                        {% endif %}
                                    {% elsif link_level_2.title contains "[N]" %}
                                        {% unless customer %}
                                            <a href="{{ link_level_2.url }}" class="close-sidebar list-group-item list-group-item-action level-2 {{link_level_2.handle}} {{class}}">
                                                {{ link_level_2.title | strip_html | remove: "[N]" }}
                                            </a>
                                        {% endunless %}
                                    {% else %}
                                        <a href="{{ link_level_2.url }}" class="close-sidebar list-group-item list-group-item-action level-2 {{link_level_2.handle}} {{class}}">
                                            {{ link_level_2.title | strip_html }}
                                        </a>
                                    {% endif %}
                                {% endunless %}

                            {% endfor %}

                            {% comment %}
                                TODO Show more link istead of pagination
                            {% endcomment %}
                            {% include 'jumplink-pagination', show_all_active: false %}
                        {% endpaginate %}
                    </div>{% comment %}id="sub-list-group-{{link.handle}}"{% endcomment %}

                {% else %}
                    <a class="close-sidebar list-group-item list-group-item-action level-1 {{link.handle}}" href="{{link.url}}">{{ link.title | strip_html }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>