<rv-contact-form>
  {% capture firstName %}
    <p class="text-primary mb-1" contenteditable="true" rv-value="form.firstName | default 'First Name*'" rv-on-focus="selectAll"></p>
    <input type="hidden" class="form-control" name="contact[firstName]" rv-value="form.firstName" required rv-class-is-invalid="validation.rules.firstName.error | filled">
    <div class="invalid-feedback" rv-html="validation.rules.firstName.error"></div>
  {% endcapture %}

  {% capture lastName %}
    <p class="text-primary mb-1" contenteditable="true" rv-value="form.lastName | default 'Last Name*'" rv-on-focus="selectAll"></p>
    <input type="hidden" class="form-control" name="contact[lastName]" rv-value="form.lastName" required rv-class-is-invalid="validation.rules.lastName.error | filled">
    <div class="invalid-feedback" rv-html="validation.rules.lastName.error"></div>
  {% endcapture %}

  {% capture phone %}
    <p class="text-primary mb-1" contenteditable="true" rv-value="form.phone | default 'Phone'" rv-on-focus="selectAll"></p>
    <input type="hidden" class="form-control" name="contact[phone]" rv-value="form.phone" rv-class-is-invalid="validation.rules.phone.error | filled">
    <div class="invalid-feedback" rv-html="validation.rules.phone.error"></div>
  {% endcapture %}

  {% capture email %}
    <p class="text-primary mb-1" contenteditable="true" rv-value="form.email | default 'Email*'" rv-on-focus="selectAll"></p>
    <input type="hidden" class="form-control" name="contact[email]" rv-value="form.email" rv-class-is-invalid="validation.rules.email.error | filled" required>
    <div class="invalid-feedback" rv-html="validation.rules.email.error"></div>
  {% endcapture %}

  {% capture message %}
    <p class="text-primary my-3" contenteditable="true" rv-value="form.message | default 'Message*'" rv-on-focus="selectAll"></p>
    <input type="hidden" class="form-control" name="contact[message]" rv-value="form.message" rv-class-is-invalid="validation.rules.message.error | filled" required>
    <div class="invalid-feedback" rv-show="validation.rules.message.error | filled">
      <span rv-html="validation.rules.message.error"></span><br>
      Characters: {form.message | count | minus 50}
    </div>
  {% endcapture %}

  {% form 'contact' %}
    <div class="py-5">

      <h2 class="h6 mb-3">Any questions? Fell free to contact us.</h2>

      <p>
        Send us a message to <a href="mailto:info@myfassbender.com">info@myfassbender.com</a>
        or call us <a href="tel:+494403925400">+49 4403 925400</a><br>
        <small>monday - friday 10.00 - 18.00</small>
      </p>

      {% if form.posted_successfully? %}
        <p class="text-success mb-3" role="alert" id="contact-form-success">
          Message sent successfully. Many Thanks!
        </p>
      {% endif %}

      <p rv-show="success | filled" class="text-success mb-3" role="alert" id="contact-error">
        { success }
      </p>

      {% if form.errors %}
        <p class="text-danger mb-3" role="alert" id="contact-form-error">
          Message could not be sent:
          {% for error in form.errors %}
            {{ error }}
          {% endfor %}
        </p>
      {% endif %}

      <p rv-show="error | filled" class="text-danger mb-3" role="alert" id="contact-error">
        Message could not be sent: { error }
      </p>

      <h2 class="h6 mb-3">Message Us</h2>
      {{ firstName }}
      {{ lastName }}
      {{ phone }}
      {{ email }}
      {{ message }}

      <div class="custom-control custom-checkbox mt-5 mb-1">
        <input type="checkbox" class="custom-control-input" name="contact[privacy]" id="acceptPrivacy" required>
        <label class="custom-control-label" for="acceptPrivacy">
          Yes, I authorise the processing of my personal data according to the <a href="/pages/it-recht-datenschutz">Privacy Policy</a>.<br>
        </label>
      </div>
      <p>The fields marked with * are required</p>

      <button type="submit" class="btn btn-link" rv-on-click="send">Send Message</button>
    </div>
  {% endform %}
</rv-contact-form>