
{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% if colClass == blank %}
  {% assign colClass = 'col-12 col-md' %}
{% endif %}

<rv-shopify-product-item handle="{{ product.handle }}" class="{{ colClass }} {{ orderClass }} px-0 content-box ratio-3-4">
  <a rv-route="'{{ product.url | within: collection }}'" href="{{product.url | within: collection }}">
    <img
      lazyload="lazy"
      class="content lazy"
      rv-class-show-detail-menu="showDetailMenu"
      src="{{ product.featured_image | img_url: '575x' }}"
      {% comment %}
        srcset="{{ product.featured_image | img_url: '300x'}} 300w, {{ product.featured_image | img_url: '600x'}} 600w, {{ product.featured_image | img_url: '1200x'}} 1200w, {{ product.featured_image | img_url: '2400x'}} 2400w, {{ product.featured_image | img_url: '4000x'}} 4000w"
        For size testing

        Grid breakpoints
        xs: 0 - 575w       2 images per row
        sm: 576w - 768w   2 images per row
        md: 768w - 991w   2 images per row
        lg: 992w - 1199w  3 images per row
        xl (hd): 1200w - 1920w  4 images per row
        xl (4k): 1921w - 4096w  4 images per row

        srcset="
          //placehold.it/288x 288w,
          //placehold.it/384x 384w,
          //placehold.it/768x 768w,
          //placehold.it/496x 496w,
          //placehold.it/991x 991w,
          //placehold.it/1199x 1199w,
          //placehold.it/1920x 1920w,
          //placehold.it/2048x 2048w,
          //placehold.it/3072x 3072w,
          //placehold.it/4096x 4096w"
      {% endcomment %}
      srcset="
        {{ product.featured_image | img_url: '200x' }} 200w,
        {{ product.featured_image | img_url: '288x' }} 288w,
        {{ product.featured_image | img_url: '300x' }} 300w,
        {{ product.featured_image | img_url: '384x' }} 384w,
        {{ product.featured_image | img_url: '575x' }} 575w,
        {{ product.featured_image | img_url: '768x' }} 768w,
        {{ product.featured_image | img_url: '991x' }} 991w,
        {{ product.featured_image | img_url: '1199x' }} 1199w,
        {{ product.featured_image | img_url: '1920x' }} 1920w,
        {{ product.featured_image | img_url: '2048x' }} 2048w,
        {{ product.featured_image | img_url: '3072x' }} 3072w,
        {{ product.featured_image | img_url: '4096x' }} 4096w"
      sizes="
        (min-width: 992px) 33vw,
        (min-width: 1200px) 25vw,
        50vw,
      "
      alt="{{ product.featured_image.alt }}"
    />
  </a>
  <div class="position-absolute w-100 py-2" style="bottom: 0;" rv-class-pointer-events-none="showDetailMenu | not">
    <div class="row m-0">
      <div class="col-12 px-0 detailMenu" rv-class-show="showDetailMenu">
        
        <div class="row">
          <div class="col-8 offset-2 d-flex justify-content-center text-center">
            <div class="form-inline">
              <label class="m-0" for="quanity" rv-i18n-text="'products.quantity'">{{'products.quantity'|t}}</label>
              <span class="px-3 btn-quantity" rv-on-click="decrease">-</span>
              <input type="number" min="0" step="1" class="form-control input-quantity bg-transparent border-0 px-0 text-center" id="quanity" rv-value="quantity | strip_html | number 1">
              <span class="px-3 btn-quantity" rv-on-click="increase">+</span>
            </div>
          </div>
          <div class="col-2 d-flex justify-content-end mb-3">
            <rv-icon class="mr-2 mb-2 cursor-pointer" rv-src="'{{ 'iconset-x.svg' | asset_url }}'" size="24" rv-on-click="toggleDetailMenu"></rv-icon>
          </div>
        </div>

        <div class="row justify-content-around px-3 pb-4 option-group">
          <div class="col-auto px-0" rv-each-size="sizeOption.values">
            <button class="btn btn-link btn-option option-size text-decoration-normal" rv-add-class="size | prepend 'option-size-'" rv-on-click="chooseOption | args size sizeOption.position sizeOption.name"
              rv-text="size"
              rv-i18n-text="size | handleize | prepend 'products.options.'"
            ></button>
          </div>
        </div>
      </div>
    </div>
    <div class="row m-0">
      
      <div class="col-12">
        <div class="row m-0">
          <div rv-each-color="colorOption.values" class="col-auto pl-0 pr-2 pb-4 cursor-pointer pointer-events-all" rv-on-click="chooseOption | args color colorOption.position colorOption.name">
            <div class="styleicon-circle option-color option-variant-color" rv-add-class="color | replace_first '#' '' | prepend 'option-color-'" rv-style-background-color="color" style="width: 16px; height: 16px;"></div>
          </div>
          {% for i in (1..4) %}
            {% assign colorIndex = "product-link-" | append: forloop.index | append: "-color" %}
            {% assign HandleIndex = "product-link-" | append: forloop.index | append: "-handle" %}
            {% assign variantColor = product.metafields["global"][colorIndex] %}
            {% assign handle = product.metafields["global"][HandleIndex] %}
            {% if variantColor != blank and handle != blank %}
              <div
                class="col-auto pl-0 pr-2 pb-4 cursor-pointer"
                rv-route="'{{ all_products[handle].url }}'"
              >
                <div class="styleicon-circle option-color option-metafield-color option-color-{{ variantColor }}" rv-style-background-color="'{{ variantColor }}'" style="width: 16px; height: 16px;"></div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>

    </div>
    <div class="row m-0 pointer-events-all">

      <div class="col-12 col-md text-left text-truncate pr-md-0">
        <strong rv-route="'{{ product.url | within: collection }}'">{{ product.title }}</strong><br />
        <div rv-text="variant.price | money '{{ shop.money_format }}'">{{ product.price | money }}</div>
      </div>
      {% comment %} only MD and up {% endcomment %}
      <div class="d-none d-md-flex col-md-auto text-right align-items-end justify-content-end mb-2 text-truncate pl-md-0">
        <button rv-hide="showDetailMenu" class="btn btn-animated-underline-dark" rv-on-click="toggleDetailMenu">
          <span rv-i18n-text="'products.choose'">{{'products.choose'|t}}</span>
        </button>
        <button rv-show="showDetailMenu" rv-enabled="available" class="btn btn-animated-underline-dark" rv-on-click="addToCart">
          <span rv-show="variant.available" rv-i18n-text="'products.add'">{{'products.add'|t}}</span>
          <span rv-hide="variant.available" rv-i18n-text="'products.sold_out'">{{'products.sold_out'|t}}</span>
        </button>
      </div>
    </div>
  </div>
</rv-shopify-product-item>
