<!-- jumplink-article-item-col-ratio-3by4.liquid {{ article.metafields["global"] | json  }} -->
{% if colClass == blank %}
  {% assign colClass = 'col' %}
{% endif %}

{% if article.content == blank %}
  {% assign articleHasContent = false %}
{% else %}
  {% assign articleHasContent = true %}
{% endif %}

{% if article.metafields["global"]["video-1"] %}
  {% assign video = article.metafields["global"]["video-1"] %}
  {% assign videoType = 'video/mp4' %}
{% endif %}
{% if article.metafields["global"]["video-url-1"] %}
  {% assign video = article.metafields["global"]["video-url-1"] %}
  {% assign videoType = 'video/mp4' %}
{% endif %}
{% if article.metafields["global"]["video-vimeo-1"] %}
  {% assign video = article.metafields["global"]["video-vimeo-1"] %}
  {% assign videoType = 'vimeo' %}
{% endif %}
{% if article.metafields["global"]["video-youtube-1"] %}
  {% assign video = article.metafields["global"]["video-youtube-1"] %}
  {% assign videoType = 'youtube' %}
{% endif %}
{% if article.metafields["global"]["video-poster-1"] %}
  {% assign videoPoster = article.metafields["global"]["video-poster-1"] %}
{% endif %}
{% if video == blank %}
  <!-- No video found! {{ video }} -->
{% else %}
  <!-- video: {{ video }} -->
  <!-- videoType: {{ videoType }} -->
  <!-- videoPoster: {{ videoPoster }} -->
{% endif %}

{% if article.image %}
  {% assign image = article.image.src | img_url: 'master' %}
{% elsif article.metafields["global"]["Image-2"] %}
  {% comment %} Fallback Image {% endcomment %}
  {% assign image = article.metafields["global"]["Image-2"] %}
{% elsif article.metafields["global"]["Image-3"] %}
  {% comment %} Fallback Image {% endcomment %}
  {% assign image = article.metafields["global"]["Image-3"] %}
{% elsif article.metafields["global"]["detail-image-1"] %}
  {% comment %} Fallback Image {% endcomment %}
  {% assign image = article.metafields["global"]["detail-image-1"] %}
{% elsif article.metafields["global"]["detail-image-2"] %}
  {% comment %} Fallback Image {% endcomment %}
  {% assign image = article.metafields["global"]["detail-image-2"] %}
{% elsif article.metafields["global"]["detail-image-3"] %}
  {% comment %} Fallback Image {% endcomment %}
  {% assign image = article.metafields["global"]["detail-image-3"] %}
{% elsif article.metafields["global"]["video-poster-1"] %}
  {% assign image = article.metafields["global"]["video-poster-1"] %}
{% elsif article.metafields["global"]["video-poster-1"] %}
  {% assign image = article.metafields["global"]["video-poster-1"] %}
{% elsif videoPoster %}
  {% assign image = videoPoster %}
{% endif %}
{% if image == blank %}
  <!-- No image found! -->
{% else %}
  <!-- image: {{ image }} -->
{% endif %}

{% comment %} Show Video always on detail view or if no images are set {% endcomment %}

{% if video != blank and image == blank %}
  {% assign show_video = true %}
    <!-- set show_video: {{ show_video }} -->
{% else %}
  {% assign show_video = false %}
{% endif %}

<rv-shopify-article-item class="{{ colClass }} px-0 embed-responsive embed-responsive-3by4" rv-route="'{{ article.url }}'" href="{{ article.url }}" style="background-color: {{ color }};">
  {% if show_video %}
    {% if videoPoster %}
      <img
        loading="lazy"
        class="embed-responsive-item lazy"
        src="{{ videoPoster }}"
        alt="{{article.title}}"
        style="padding: {{imageSpacing}}px"
      />
    {% endif %}
    {% if videoType == 'video/mp4' %}
      <rv-video class="embed-responsive-item has-xs-spacing has-sm-spacing">
        <video preload="auto" controls {% if videoPoster %}poster="{{ videoPoster }}"{% endif %} playsinline webkit-playsinline>
          <source src="{{video}}" type="video/mp4">
          <span rv-i18n-text="'system.video_tag_not_supported'">
            {{'system.video_tag_not_supported'|t}}
          </span>
        </video>
        <div rv-hide="controls" class="video-custom-controls">
          <rv-icon rv-hide="muted" rv-on-click="toggleMute" size="50" class="video-volume-high" src="{{ 'icon_volume-high_alt.svg' | asset_url }}"></rv-icon>
          <rv-icon rv-show="muted" rv-on-click="toggleMute" size="50" class="video-volume-mute" src="{{ 'icon_vol-mute_alt.svg' | asset_url }}"></rv-icon>
        </div>
      </rv-video>
    {% endif %}
    {% if videoType == 'vimeo' %}
      <iframe
        loading="lazy"
        class="embed-responsive-item lazy"
        type="text/html"
        src="https://player.vimeo.com/video/{{ video }}?color=D9998F&title=0&byline=0&portrait=0&autoplay=0&loop=0&autopause=1&background=0&muted=0"
        frameborder="0"
        marginheight="0"
        marginwidth="0"
        webkitallowfullscreen
        mozallowfullscreen
        allowfullscreen
        allowtransparency
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        scrolling="no">
        </iframe>
    {% endif %}
    {% if videoType == 'youtube' %}
      <iframe
        loading="lazy"
        class="embed-responsive-item lazy"
        type="text/html"
        src="https://www.youtube.com/embed/{{ video }}?autoplay=0&mute=0&color=white&controls=2&disablekb=0&enablejsapi=0&fs=1&iv_load_policy=3&loop=0&modestbranding=1&origin={{shop.url}}&playsinline=0&rel=0&showinfo=0"
        frameborder="0"
        marginheight="0"
        marginwidth="0"
        webkitallowfullscreen
        mozallowfullscreen
        allowfullscreen
        allowtransparency
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        scrolling="no">
        </iframe>
    {% endif %}
  {% else %}

    <img
      loading="lazy"
      class="embed-responsive-item has-xs-spacing has-sm-spacing"
      src="{{ image }}"
      alt="{{ acticle.title }}"
      style="padding: 60px"
    />
  {% endif %}
  {% if article.title %}
    <div class="position-absolute w-100 bottom-0" style="{{ articleTitleStyle }}">
      <div class="text-center title-xs-spacing title-sm-spacing text-truncate" style="padding: 14px 0;">
        {{ article.title }}
      </div>
    </div>
  {% endif %}
</rv-shopify-article-item>
