<div class="shopping-cart-dropdown-header">
  {% if shop.customer_accounts_enabled %}
    {% if customer %}
      <div class="row">
        {% comment %} TODO better with custom t formatter {% endcomment %}
        <div class="col" rv-i18n-text="'cart.hi'">
          <template name="name">{{customer.first_name}}</template>
        </div>
        <div class="col-auto">
          <a href="/account/logout" rv-i18n-text="'cart.logout'">{{'cart.logout'|t}}</a>
        </div>
      </div>
      
      <p></p>
      <p>
        <strong>
          <a class="text-normal" rv-route="'/account'" rv-route-class-active="'/account'" href="/account">
            <span rv-i18n-text="'cart.my_account'">{{'cart.my_account'|t}}</span>
          </a>
        </strong>
      </p>
    {% else %}
      <rv-shopify-login-form>
        <p>
          <strong>
            <a class="text-normal" rv-route="'/account'" rv-route-class-active="'/account'" href="/account">
              <span rv-i18n-text="'cart.my_account'">{{'cart.my_account'|t}}</span>
            </a>
          </strong>
          or
          <a rv-route="'/account/register'" rv-route-class-active="'/account/register'" href="/account/register">
            <span rv-i18n-text="'cart.register'">{{'cart.register'|t}}</span>
          </a>
        </p>

        {% comment %}
          This form is used to recover the passwort and is hidden because
          instead of have an seperate form in the frontend for this
          we use the login form to get the email.
        {% endcomment %}
        <div hidden class="mb-3">
          {% form 'recover_customer_password' %}
            {% include 'jumplink-form-inputs-customer-recover', idPrefix: 'dropdown_' %}
          {% endform %}

          <div class="col d-flex align-items-center justify-content-end">
            <button
              type="submit"
              class="btn btn-animated-underline-dark font-weight-bold"
              rv-on-click="recover"
              >
              <span rv-i18n-text="'cart.recover'">{{'cart.recover'|t}}</span>
            </button>
          </div>
        </div>

        {% comment %} 
          We do not use { % form 'customer_login' % } here because
          this form has an id we already have on the login / regist page
        {% endcomment %}
        <div>
          <form method="post" action="/account/login" accept-charset="UTF-8">
            <input type="hidden" name="form_type" value="customer_login">
            <input type="hidden" name="utf8" value="✓">

            <div class="mb-3">
              {% include 'jumplink-form-inputs-customer-login', idPrefix: 'dropdown_' %}
            </div>
            <div class="row mb-2">
              <div class="col-auto d-flex align-items-center">
                <button class="btn btn-sm btn-link pl-0 text-decoration-normal" rv-on-click="recover">
                  <span rv-i18n-text="'cart.forgot_password'">{{'cart.forgot_password'|t}}</span>
                </button> 
              </div>
              <div class="col d-flex align-items-center justify-content-end">
                <button type="submit" class="btn btn-sm btn-animated-underline-dark font-weight-bold" rv-on-click="login">
                  <span rv-i18n-text="'cart.login'">{{'cart.login'|t}}</span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </rv-shopify-login-form>

    {% endif %}
  {% endif %}
</div>
