<strong class="mb-3">Default address</strong>

{% if address %}
  <p class="mb-0">
    {{ address.first_name }} {{ address.last_name }}
  </p>
  <p class="mb-0">{{ address.address1 }}</p>
  {% if address.address2 != "" %}
    <p class="mb-0">
      {{ address.address2 }}
    </p>
  {% endif %}
  <p class="mb-0">
    {{ address.zip }} {{ address.city}}
  </p>
  <p class="mb-0">{% if address.province_code %}{{ address.province_code }}, {% endif %}{{ address.country }}</p>
  <p class="mb-0">
    {{ address.phone }}
  </p>

  <p class="mt-3">
    <a rv-route="'/account/addresses'" href="/account/addresses">
      <small>{{ 'customer.addresses.edit' | t }}</small>
    </a>
  </p>
{% else %} 
  <p>No default address yet</p>

  <p class="mt-3">
    <a rv-route="'/account/addresses'" href="/account/addresses">
      <small>{{ 'customer.addresses.add' | t }}</small>
    </a>
  </p>
{% endif %}