<div id="{{ carousel_handle }}_carousel" role="listbox">
    {% capture use_aspect_ratio %}{{ carousel_handle }}_carousel_use_aspect_ratio{% endcapture %}
    {% capture aspect_ratio %}{{ carousel_handle }}_carousel_aspect_ratio{% endcapture %}
    {% for i in (1..6) %}
        {% capture active %}{{ carousel_handle }}_carousel_item_{{ i }}_active{% endcapture %}
        {% capture image %}{{ carousel_handle }}_carousel_item_{{ i }}_image.jpeg{% endcapture %}
        {% capture href %}{{ carousel_handle }}_carousel_item_{{ i }}_href{% endcapture %}
        {% capture title %}{{ carousel_handle }}_carousel_item_{{ i }}_title{% endcapture %}
        {% capture text %}{{ carousel_handle }}_carousel_item_{{ i }}_text{% endcapture %}
        {% capture position %}{{ carousel_handle }}_carousel_item_{{ i }}_text_position{% endcapture %}
        {% capture color %}{{ carousel_handle }}_carousel_item_{{ i }}_text_color{% endcapture %}

        {% if settings[active] and image %}
        {% if settings[href] != blank %}
            <a class="" data-color="{{ settings[color] | default: 'black' }}" href="{{ settings[href] | escape }}">
        {% else %}
            <div class="" data-color="{{ settings[color] | default: 'black' }}">
        {% endif %}
            <div
                class="background-box {{ settings[aspect_ratio] }}"
                style="background-image: url({{ image | asset_url}});"
                title="{{ settings[title] | escape }}"
            >
            </div>
            {% if settings[title] != blank or settings[text] != blank %}
                <div class="carousel-caption col-xs-12 col-sm-6 col-md-5 col-lg-4 {{ settings[position] | escape }}">
                    <div class="carousel-caption-wrapper m-a-0-xs m-a-2-sm">
                    <h2 class="text-serif" style="color: {{ settings[color] | default: 'black' }};">{{ settings[title] }}</h2>
                    <hr class="border px-3" style="border-color: {{ settings[color] | default: 'black' }};" />
                    <p style="color: {{ settings[color] | default: 'black' }};">{{ settings[text] }}</p>
                    </div>
                </div>
            {% endif %}
        {% if settings[href] != blank %}
            </a>
        {% else %}
            </div>
        {% endif %}
        {% endif %}
    {% endfor %}
</div>