{% unless viewId %},
  {% assign viewId = 'main' %}
{% endunless %}

{% if paginate.pages > 1 %}
  <div class="row">
    <div class="col-12 text-center">
      {% if paginate.next.is_link %}
        <fsbdr-pagination>
          <a class="cursor-pointer py-5" href="{{ paginate.next.url }}{{ paginate_hash }}" rv-route='{"url": "{{ paginate.next.url }}{{ paginate_hash }}", "viewId": "{{ viewId }}", "removeAfterActivation": true, "listenPopstate": false, "action": "append"}' aria-label="{{ 'snippets.jumplink-pagination.load_more' | t }}">
            <span rv-i18n-text="'snippets.jumplink-pagination.load_more'">{{ 'snippets.jumplink-pagination.load_more'|t }}</span>
          </a>
        </fsbdr-pagination>
      {% endif %}
    </div>
  </div>
{% endif %}

