{% comment %} footer desktop {% endcomment %}
<footer class="container-fluid footer pointer-events-none pt-5 d-none d-lg-block">
  {% comment %}
    MAINBAR
  {% endcomment %}
  <div class="row mainbar">

    {% comment %}
      MAINBAR LEFT
    {% endcomment %}
    <div class="col-auto pointer-events-all logo-text-lg">
      <a rv-route-class-active="'/'" rv-route="'/'" href="/" rv-i18n-text="'snippets.footer.home'">
        {{'snippets.footer.home'|t}}
      </a>
    </div>

    {% comment %}
      MAINBAR RIGHT
    {% endcomment %}
    <div class="ml-auto col-auto d-flex align-items-center">
      <shopify-linklist class="col-auto pointer-events-all small" rv-linklist="system.linklists.footer | json" vertical="false">
        <nav class="nav" rv-add-class="linklist.handle" rv-class-nav-pills="pills" rv-class-flex-column="vertical" rv-class-flex-row="vertical | not">
          <div class="nav-item" rv-each-link="linklist.links" >
            <a
              class="nav-link"
              rv-class-active="link.active"
              rv-hide="link.url | eq '/account/login'"
              rv-route-class-active="link.url"
              rv-route="link.url"
              rv-href="link.url"
              rv-i18n-text="link.title | handleize | prepend 'menus.'"
            >
              {link.title}
            </a>
          </div>

          <div class="nav-item">
            <bs4-dropdown class="dropup d-block">
              <a
                class="nav-link dropdown-toggle"
                data-offset="-350"
                rv-on-click="toggle"
                rv-i18n-text="'menus.signup'"
                href="#"
                role="button"
                id="dropdownMenuSignUp"
                aria-haspopup="true"
                aria-expanded="false"
              >
                {{'menus.signup'|t}}
              </a>
              
              <div class="dropdown-menu p-3 text-center" aria-labelledby="dropdownMenuSignUp" x-placement="top left" style="width: 430px;">
                {% section 'newsletter' %}
              </div>
            </bs4-dropdown>
          </div>

          <a class="nav-item nav-link py-0 d-flex justify-content-center" rv-route-class-active="'/blogs/blog'" rv-route="'/blogs/blog'">
            <rv-icon class="cursor-pointer" rv-src="'{{ 'iconset-eye.svg' | asset_url }}'" height="26" width="26"></rv-icon>
          </a>

        </nav>
      </shopify-linklist>
    </div>
  </div>

  {% comment %}
    SUBBAR
  {% endcomment %}
  <div class="row subbar pt-2">
    <div class="col d-flex">
      <div class="mr-auto">
         
        <ul class="nav small" style="pointer-events: all;">
          <li class="nav-item">
            <div class="nav-link" rv-i18n-text="'snippets.footer.copyright'">
              {{'snippets.footer.copyright'|t}}
            </div>
          </li>   
          <li class="nav-item">
            <bs4-dropdown class="dropdown-invert dropup d-block">
              <a
                class="nav-link dropdown-toggle"
                rv-on-click="toggle"
                rv-i18n-text="'menus.crafter'"
                href="#"
                role="button"
                id="dropdownMenuArtCode"
                aria-haspopup="true"
                aria-expanded="false"
              >
                {{'menus.crafter'|t}}
              </a>
              
              <div class="dropdown-menu p-3 text-center" aria-labelledby="dropdownMenuArtCode" style="width: 400px;">
                <p><small rv-i18n-html="'snippets.footer.crafter_html'">
                  {{'snippets.footer.crafter_html'|t}}
                </small></p>
              </div>
            </bs4-dropdown>
          </li>    
          <li class="nav-item">
            <a
              class="nav-link"
              rv-route-class-active="'/pages/legal-area'"
              rv-route="'/pages/legal-area'"
              rv-i18n-text="'menus.legal-area'"
              href="/pages/legal-area"
            >
              {{'menus.legal-area'|t}}
            </a>
          </li>
        </ul>

      </div>
    </div>
  </div>

</footer>

{% comment %} footer smartphone {% endcomment %}
<div class="container-fluid d-block d-lg-none bg-white fixed-bottom smartphone-menu-buttom">
  <div class="row">
    <a class="col d-flex justify-content-center py-2" rv-route-class-active="'/blogs/blog'" rv-route="'/blogs/blog'">
      <rv-icon class="cursor-pointer" rv-src="'{{ 'iconset-eye.svg' | asset_url }}'" height="32" width="32"></rv-icon>
    </a>

    <div class="col d-flex justify-content-center py-2" rv-class-active="fullscreenMenuOpen" rv-on-click="assign | args 'fullscreenMenuOpen' true" rv-hide="fullscreenMenuOpen">
      <rv-icon class="cursor-pointer" rv-src="'{{ 'iconset-menu.svg' | asset_url }}'" height="32" width="32"></rv-icon>
    </div>

    <div class="col d-flex justify-content-center py-2" rv-class-active="fullscreenMenuOpen" rv-on-click="assign | args 'fullscreenMenuOpen' false" rv-show="fullscreenMenuOpen">
      <rv-icon class="cursor-pointer" rv-src="'{{ 'iconset-x.svg' | asset_url }}'" height="32" width="32"></rv-icon>
    </div>

    <div class="col d-flex justify-content-center py-2">
      <rv-shopify-cart-button>
        <a role="button" class="d-flex text-decoration-normal" rv-on-click="toggle" rv-route-class-active="'/cart'" href="/cart">
          <div class="closed" rv-class-pending="pending" rv-animate-added="startAddAnimation">
            <rv-icon
              class="cursor-pointer"
              rv-src="'{{ 'iconset-shopping-bag.svg' | asset_url }}'"
              height="32"
              width="32"
            ></rv-icon>
            <small class="cart-item-count text-center" rv-text="cartItemCount"></small>
          </div>
          <div class="open">
            <rv-icon class="cursor-pointer" rv-src="'{{ 'iconset-x.svg' | asset_url }}'" height="32" width="32"></rv-icon>
          </div>
        </a>
      </rv-shopify-cart-button>
    </div>

  </div>
</div>

<div class="fullscreen-menu pb-5" {% comment %} rv-on-click="assign | args 'fullscreenMenuOpen' false" {% endcomment %} rv-show="fullscreenMenuOpen">
  <div class="d-flex flex-column justify-content-start align-items-center text-center font-weight-bold scrollbar-y-auto py-5" style="max-height: 100%;">
    <shopify-linklist class="mt-5" id="toggle-menu" name="toggle-menu" vertical="true" pills="false">
      <nav class="nav" rv-add-class="linklist.handle" rv-class-nav-pills="pills" rv-class-flex-column="vertical" rv-class-flex-row="vertical | not">
        <div class="nav-item" rv-each-link="linklist.links">
          <a
            class="nav-link justify-content-center"
            rv-route-class-active="link.url"
            rv-route="link.url"
            rv-href="link.url"
          >
            <span rv-i18n-text="link.title | handleize | prepend 'menus.'">{link.title}</span>
          </a>
        </div>
      </nav>
    </shopify-linklist>

    <div class="d-block">
      <tda-i18n-switcher class="d-flex">
        <div class="nav-item nav-link cursor-pointer text-uppercase" rv-each-langcode="langcodes" rv-text="langcode.code" rv-on-click="switch | args langcode" rv-class-active="langcode.active">
        </div>
      </tda-i18n-switcher>
    </div>

    <div class="nav-item nav-link more-menu-toggler cursor-pointer d-block" rv-aria-expanded="moreMenuOpen" rv-on-click="globalToggle | args 'moreMenuOpen'">
      <span>+</span>
    </div>

    {% comment %} <a class="nav-link" rv-show="moreMenuOpen" rv-class-active="moreMenuOpen" rv-on-click="assign | args 'moreMenuOpen' false">
      -
    </a> {% endcomment %}

    <shopify-linklist class="" rv-show="moreMenuOpen" id="toggle-menu-more" name="toggle-menu-more" vertical="true" pills="false">
      <nav class="nav" rv-add-class="linklist.handle" rv-class-nav-pills="pills" rv-class-flex-column="vertical" rv-class-flex-row="vertical | not">
        <div class="nav-item" rv-each-link="linklist.links">
          <a
            class="nav-link justify-content-center"
            rv-route-class-active="link.url"
            rv-route="link.url"
            rv-href="link.url"
          >
            <span rv-i18n-text="link.title | handleize | prepend 'menus.'">{link.title}</span>
          </a>
        </div>
      </nav>
    </shopify-linklist>

    <div class="pt-3">
      <a class="nav-link" href="/search" rv-route-class-active="'/search'" rv-route="'/search'" rv-on-new-page-ready="assign | args 'fullscreenMenuOpen' false">
        <rv-icon rv-src="'{{ 'iconset-glass.svg' | asset_url }}'" size="32"></rv-icon>
      </a>
    </div>
  </div>
</div>
