{% if is_modal %}
    <div class="row product-photo-carousel-modal-wrapper" id="product-photo-carousel-modal-wrapper-{{product.handle}}">
{% else %}
    <div class="row product-photo-carousel-wrapper" id="product-photo-carousel-wrapper-{{product.handle}}">
{% endif %}

    <div class="{{left_class}}">
        {% for image in product.images %}
            <div class="row">
                {% if is_modal %}
                    <div class="col-xs-12 mb-1 product-photo-carousel-modal-thumbs" id="product-photo-carousel-modal-thumbs-{{product.handle}}">
                {% else %}
                    <div class="col-xs-12 mb-1 product-photo-carousel-thumbs" id="product-photo-carousel-thumbs-{{product.handle}}">
                {% endif %}
                    <div data-index="{{ forloop.index0 }}" class="product-photo-carousel-thumb">
                        <div class="{{ thumb_img_class }}" style="background-image: url({{ image | img_url: 'grande' }});" title="{{ image.alt | escape }}"></div>
                    </div>
                </div>
            </div>
        {% endfor %}

        {% comment %} video {% endcomment %}
        {% if product.metafields.jumplink_video.preview_url and product.metafields.jumplink_video.mp4_url and is_modal == false  %}
            <div class="row">
                {% if is_modal %}
                    <div class="col-xs-12 mb-1 product-photo-carousel-modal-thumbs" id="product-photo-carousel-modal-thumbs-{{product.handle}}">
                {% else %}
                    <div class="col-xs-12 mb-1 product-photo-carousel-thumbs" id="product-photo-carousel-thumbs-{{product.handle}}">
                {% endif %}
                    <div data-index="{{ product.images | size }}" class="product-photo-carousel-thumb">
                        <div class="{{ thumb_img_class }}" style="background-image: url({{ product.metafields.jumplink_video.preview_url }});" title="{{ product.title }}"></div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="{{right_class}}">
        {% if is_modal %}
            <div class="product-photo-carousel-modal ah-carousel" id="product-photo-carousel-modal-{{product.handle}}">
        {% else %}
            <div class="product-photo-carousel ah-carousel" id="product-photo-carousel-{{product.handle}}"}>
        {% endif %}
            {% for image in product.images %}
                <a class="product-photo-carousel-item" {% if open_modal %} data-toggle="modal" data-target="#product-photo-modal-{{product.handle}}" {% endif %}>
                    <div class="{{ img_class }}" style="background-image: url({{ image | img_url: 'master' }});" title="{{ image.alt | escape }}"></div>
                    {% if settings.products_show_page_number_in_carousel %}
                        <div class="carousel-caption bottom right">
                            <div class="carousel-caption-wrapper">
                                {{ forloop.index }}/{{ forloop.length }}
                            </div>
                        </div>
                    {% endif %}
                </a>
            {% endfor %}

            {% comment %} video {% endcomment %}
            {% if product.metafields.jumplink_video.preview_url and product.metafields.jumplink_video.mp4_url and is_modal == false %}
                <a class="product-photo-carousel-item" {% if open_modal and off %} data-toggle="modal" data-target="#product-photo-modal-{{product.handle}}" {% endif %}>
                    <video class="video-js" id="video-{{product.handle}}" controls muted preload="auto" width="1317" height="2048"
                        poster="{{product.metafields.jumplink_video.preview_url}}" data-setup='{ "aspectRatio":"1317:2048" }'>
                        <source src="{{product.metafields.jumplink_video.mp4_url}}" type='video/mp4'>
                        {% if product.metafields.jumplink_video.ogv_url %}
                            <source src="{{product.metafields.jumplink_video.ogv_url}}" type='video/ogg'>
                        {% endif %}
                        {% if product.metafields.jumplink_video.webm_url %}
                            <source src="{{product.metafields.jumplink_video.webm_url}}" type='video/webm'>
                        {% endif %}
                    </video>
                    {% if settings.products_show_page_number_in_carousel %}
                        <div class="carousel-caption bottom right">
                            <div class="carousel-caption-wrapper">
                                {{ product.images | size }}/{{ product.images | size }}
                            </div>
                        </div>
                    {% endif %}
                </a>
            {% endif %}
        </div>
        {% if is_modal %}
            <button type="button" class="slick-modal-close slick-arrow" data-dismiss="modal" aria-hidden="true">&times;</button>
        {% endif %}
    </div>

</div>