{% comment %} footer desktop {% endcomment %}
<footer class="container-fluid footer pointer-events-none pt-5 d-none d-lg-block">
  {% comment %}
    MAINBAR
  {% endcomment %}
  <div class="row mainbar">

    {% comment %}
      MAINBAR LEFT
    {% endcomment %}
    <div class="col-auto pointer-events-all logo-text-lg">
      <a rv-route-class-active="'/'" rv-route="'/'" href="/">FASSBENDER</a>
    </div>

    {% comment %}
      MAINBAR RIGHT
    {% endcomment %}
    <div class="ml-auto col-auto d-flex align-items-center">
      <shopify-linklist class="col-auto pointer-events-all small" rv-linklist="system.linklists.footer | json" vertical="false">
        <nav class="nav" rv-class="linklist.handle" rv-class-nav-pills="pills" rv-class-flex-column="vertical" rv-class-flex-row="vertical | not">
          <div class="nav-item" rv-each-link="linklist.links" >
            <a
              class="nav-link"
              rv-class-active="link.active"
              rv-hide="link.url | eq '/account/login'"
              rv-route-class-active="link.url"
              rv-route="link.url" rv-href="link.url"
            >{link.title}</a>
          </div>

          <div class="nav-item">
            <bs4-dropdown class="dropup d-block">
              <a class="nav-link dropdown-toggle" data-offset="-350" rv-on-click="toggle" href="#" role="button" id="dropdownMenuSignUp" aria-haspopup="true" aria-expanded="false">
                Sign Up
              </a>
              
              <div class="dropdown-menu p-3 text-center" aria-labelledby="dropdownMenuSignUp" x-placement="top left" style="width: 400px;">
                {% section 'newsletter' %}
              </div>
            </bs4-dropdown>
          </div>

          <a class="nav-item nav-link py-0 d-flex justify-content-center" rv-route-class-active="'/blogs/blog'" rv-route="'/blogs/blog'">
            <rv-icon class="cursor-pointer" rv-src="'{{ 'iconset-eye.svg' | asset_url }}'" height="26" width="26"></rv-icon>
          </a>

        </nav>
      </shopify-linklist>
    </div>
  </div>

  {% comment %}
    SUBBAR
  {% endcomment %}
  <div class="row subbar pt-2">
    <div class="col d-flex">
      <div class="mr-auto">
         
        <ul class="nav small" style="pointer-events: all;">
          <li class="nav-item">
            <div class="nav-link">
              2018 FASSBENDER. All rights reserved
            </div>
          </li>   
          <li class="nav-item">
            <bs4-dropdown class="dropdown-invert dropup d-block">
              <a class="nav-link dropdown-toggle" rv-on-click="toggle" href="#" role="button" id="dropdownMenuArtCode" aria-haspopup="true" aria-expanded="false">
                Projected by Art+Code Studio
              </a>
              
              <div class="dropdown-menu p-3 text-center" aria-labelledby="dropdownMenuArtCode" style="width: 400px;">
                <p><small>
                  The Art+Code Studio accepts that every client is unique, each
                  project requires a different approach and that all projects
                  need to be launched with an open mind. In order for us to do
                  collaborate closely with our clients to discover the potential
                  and erect a creative and beautiful solutions. Just drop us an
                  email <a href="mailto:hi@artandcode.studio">hi@artandcode.studio</a>
                </small></p>
              </div>
            </bs4-dropdown>
          </li>    
          <li class="nav-item">
            <a class="nav-link" rv-route-class-active="'/pages/legal-area'" rv-route="'/pages/legal-area'" href="/pages/legal-area">
              Legal Area
            </a>
          </li>
        </ul>

      </div>
    </div>
  </div>

</footer>

{% comment %} footer smartphone {% endcomment %}
<div class="container-fluid d-block d-lg-none bg-white fixed-bottom">
  <div class="row">
    <a class="col d-flex justify-content-center py-2" rv-route-class-active="'/blogs/blog'" rv-route="'/blogs/blog'">
      <rv-icon class="cursor-pointer" rv-src="'{{ 'iconset-eye.svg' | asset_url }}'" height="32" width="32"></rv-icon>
    </a>

    <div class="col d-flex justify-content-center py-2" rv-class-active="fullscreenMenuOpen" rv-on-click="assign | args 'fullscreenMenuOpen' true" rv-hide="fullscreenMenuOpen">
      <rv-icon href="#" class="cursor-pointer" rv-src="'{{ 'iconset-menu.svg' | asset_url }}'" height="32" width="32"></rv-icon>
    </div>

    <div class="col d-flex justify-content-center py-2" rv-class-active="fullscreenMenuOpen" rv-on-click="assign | args 'fullscreenMenuOpen' false" rv-show="fullscreenMenuOpen">
      <rv-icon href="#" class="cursor-pointer" rv-src="'{{ 'iconset-x.svg' | asset_url }}'" height="32" width="32"></rv-icon>
    </div>

    <a class="col d-flex justify-content-center py-2" rv-route-class-active="'/cart'" rv-route="'/cart'" href="/cart">
      <rv-icon class="cursor-pointer" rv-src="'{{ 'iconset-shopping-bag.svg' | asset_url }}'" height="32" width="32"></rv-icon>
    </a>
  </div>
</div>

<div class="fullscreen-menu d-flex flex-column justify-content-center align-items-center text-center font-weight-bold" rv-on-click="assign | args 'fullscreenMenuOpen' false" rv-show="fullscreenMenuOpen">
  <shopify-linklist class="" id="toggle-menu" name="toggle-menu" vertical="true" pills="false">
    <nav class="nav" rv-class="linklist.handle" rv-class-nav-pills="pills" rv-class-flex-column="vertical" rv-class-flex-row="vertical | not">
      <div class="nav-item" rv-each-link="linklist.links">
        <a class="nav-link justify-content-center" rv-route-class-active="link.url" rv-route="link.url" rv-href="link.url">{link.title}</a>
      </div>
    </nav>
  </shopify-linklist>
  <a class="nav-link" href="/search" rv-route-class-active="'/search'" rv-route="'/search'">
    <rv-icon rv-src="'{{ 'iconset-glass.svg' | asset_url }}'" size="32"></rv-icon>
  </a>
</div>