{% comment %}
Filter inspired by Shopify example
@see https://help.shopify.com/themes/customization/collections/filter-collections-with-product-tags
{% endcomment %}
<!--
<div class="clearfix filter-menu">
<p>Browse by tag:</p>

    {% for tag in collection.all_tags %}

    {% comment %}
        If Collection exists for this tag
    {% endcomment %}
    {% if collections[tag].id %}
        <div value="{{ tag | handle }}">{{ collections[tag].title }}</div>
    {% endif %}
    {% endfor %}
</div>
-->

{% comment %}
<ul class="hidden" id="hidden">
{% for product_type in shop.types %}
    {% assign type_handle = product_type | handleize %}
    {% assign type_collection = collections[type_handle] %}
    {% if type_collection.title != 'Unknown Type' %}
    <li class="{% if product.type == product_type or collection.title == product_type %}current{% endif %}">
        {% if type_collection == empty %}{{ product_type | link_to_type  }}
        {% else %}{{ type_collection.title | link_to: type_collection.url }}
        {% endif %}
    </li>
    {% endif %}
{% endfor %}
</ul>
{% endcomment %}

{% comment %}
    Show Suncategories based on the navigation menu 
{% endcomment %}
<div class="jumplink-filter-menu" id="jumplink-filter-subcollections">
    {% assign collection_handle = collection.title %}

    {% for link in linklists.main-menu.links %}
        {% assign has_sub_menu = false %}
        {% assign has_sub_categories = false %}
        {% assign child_list_handle = link.title %}

        {% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}
            {% assign has_sub_menu = true %}
        {% elsif link.type == 'collection_link' and link.object.all_tags.size > 0 and sub_categories_over_tags_is_off_now %}
            {% assign has_sub_categories = true %}
        {% endif %}

        {% if collection_handle == child_list_handle %}
            {% if has_sub_menu %}
                <div class="p-y-05">
                    <div class=" filter-group-title">{{collection_handle }}</div>
                    {% for l in linklists[child_list_handle].links %}
                        <li class="list-unstyled jumplink-filter-item {{ l.handle }}">
                            <a href="{{ l.url }}">{{ l.title }}</a>
                        </li>
                    {% endfor %}
                </div>
            {% endif %}
            {% if has_sub_categories %}
                <div class="p-y-05">
                    <div class=" filter-group-title">{{collection_handle }}</div>
                    {% for tag in link.object.all_tags %}
                        <li class="jumplink-filter-item {{ link.handle }}">
                            <a href="{{ link.url }}/{{ tag | handle }}">{{ tag }}</a>
                        </li>
                    {% endfor %}
                </div> 
            {% endif %}
        {% endif %}

    {% endfor %}
</div>