<div class="modal modal-fullscreen product-photo-modal" id="product-photo-modal-{{product.handle}}" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" data-area="slick" data-target="#product-photo-modal-{{product.handle}} .slick-slider">
            <div class="modal-body">

                <div class="slick-slider">
                    {% for image in product.images %}
                        {% if forloop.last %}
                            {% comment %} This is the Colorcard {% endcomment %}
                        {% else %}
                            <div class="wrapper">
                                <img src="{{ image | img_url: 'master' }}" class="height-fullscreen mx-auto" alt="{{ image.alt | escape }}" />
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="arrow-left" data-slick-method="slickPrev" data-target="#product-photo-modal-{{product.handle}} .slick-slider">
                    {% include 'jumplink-iconset', name: 'arrow-big', direction: 'left', color: 'white' %}
                </div>

                <div class="arrow-right" data-slick-method="slickNext" data-target="#product-photo-modal-{{product.handle}} .slick-slider">
                    {% include 'jumplink-iconset', name: 'arrow-big', direction: 'right', color: 'white' %}
                </div>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    {% include 'jumplink-iconset', name: 'x', color: 'white' %}
                </button>
                

            </div>
        </div>
    </div>
</div>