<li class="level-1 {{link.handle}} dropdown yamm-fw dropdown-columns dropdown-letters">
    <a href="{{ link.url }}" class="dropdown-toggle" data-toggle="dropdown">
        {{ link.title }}
    </a>
    <ul class="dropdown-menu">
        <li>
            <div class="row">
                <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                    <div class="row p-y-05">
                        <div class="designer-dropdown-col col-xs-6 col-md-3 border px-1 right">
                            <div class="m-x-05">
                                <p class="title text-uppercase p-t-0 p-b-05 designer-col-1">Designer</p>
                                {% for designerLink in linklists.designer-col-1.links %}
                                    <p class="text-size-1">
                                        <a href="{{ designerLink.url }}" title="{{ designerLink.title }}">
                                            <strong>{{ designerLink.title }}</strong>
                                        </a>
                                        
                                    </p>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="designer-dropdown-col col-xs-6 col-md-3 border px-1 right">
                            <div class="m-x-05">
                                {% assign menu-size = linklists.designer-col-2.links | size %}
                                <p class="title text-uppercase p-t-0 p-b-05 designer-col-2">{{ linklists.designer-col-2.title | replace: '#', menu-size }}</p>
                                {% for designerLink in linklists.designer-col-2.links %}
                                    <p class="text-size-1 ">
                                        <a href="{{ designerLink.url }}" title="{{ designerLink.title }}">
                                            <strong>{{ designerLink.title }}</strong>
                                        </a>
                                        
                                    </p>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="designer-dropdown-col col-xs-6 col-md-3 border px-1 right">
                            <div class="m-x-05">
                                <p class="title text-uppercase text-center p-t-0 p-b-05">{{ collections.top-designer-col-3.title }}</p>
                                <div class="row">
                                    {% include 'featured-products',
                                        collectionHandle: 'top-designer-col-3',
                                        classWrapper: '',
                                        subtext1: settings.designer_col_3_subtext,
                                        textAlign: 'text-center',
                                        titleClass: 'text-sans-serif text-bold'
                                    %}
                                </div>
                            </div>
                        </div>
                        <div class="designer-dropdown-col col-xs-6 col-md-3">
                            <div class="m-x-05">
                                <p class="title text-uppercase text-center p-t-0 p-b-05">{{ linklists.designer-col-4.title }}</p>
                                <div class="row">
                                    {% include 'featured-collections',
                                        featuredLinklist: 'designer-col-4',
                                        withOffset: false,
                                        showHr: false,
                                        classWrapperDefault: '',
                                        classWrapperSize2: '',
                                        replaceImage1: settings.designer_col_4_custom_image,
                                        replaceImage1With: 'designer_col_4_custom_image.jpeg',
                                        replaceImage2: false,
                                        replaceImage2With: '',
                                    %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</li>