<!-- jumplink-article-item-col-ratio-3-4.liquid -->
{% if colClass == blank %}
  {% assign colClass = 'col' %}
{% endif %}

{% if article.content == blank %}
  {% assign articleHasContent = false %}
{% else %}
  {% assign articleHasContent = true %}
{% endif %}

{% if article.metafields["global"]["video-1"] %}
  {% assign video = article.metafields["global"]["video-1"] %}
{% endif %}
{% if article.metafields["global"]["video-url-1"] %}
  {% assign video = article.metafields["global"]["video-url-1"] %}
{% endif %}

{% if article.image %}
  {% assign image = article.image | img_url: 'master' %}
{% elsif article.metafields["global"]["Image-2"] %}
  {% comment %} Fallback Image {% endcomment %}
  {% assign image = article.metafields["global"]["Image-2"] %}
{% elsif article.metafields["global"]["detail-image-1"] %}
  {% comment %} Fallback Image {% endcomment %}
  {% assign image = article.metafields["global"]["detail-image-1"] %}
{% elsif article.metafields["global"]["video-poster-1"] %}
  {% assign image = article.metafields["global"]["video-poster-1"] %}
{% endif %}

{% comment %} Show Video always on detail view or if no images are set {% endcomment %}
{% assign showVideo = false %}
{% if video %}
  {% unless image %}
    {% assign showVideo = true %}
  {% endunless %}
{% endif %}

<rv-shopify-article-item class="{{ colClass }} px-0 content-box ratio-3-4" rv-route="'{{ article.url }}'" href="{{article.url}}" style="background-color: {{ color }};">
  {% if showVideo %}
    {% if videoPoster %}
      <img
        lazyload="lazy"
        class="content lazy"
        src="{{ videoPoster }}"
        alt="{{article.title}}"
        style="padding: {{imageSpacing}}px"
      />
    {% endif %}
    {% if videoType == 'video/mp4' %}
      <video class="content has-xs-spacing has-sm-spacing" preload="auto" controls {% if videoPoster %}poster="{{ videoPoster }}"{% endif %}>
        <source src="{{video}}" type="video/mp4">
        <span rv-i18n-text="'system.video_tag_not_supported'">
          {{'system.video_tag_not_supported'|t}}
        </span>
      </video>
    {% endif %}
    {% if videoType == 'vimeo' %}
      <iframe
        lazyload="lazy"
        class="content lazy"
        type="text/html"
        src="https://player.vimeo.com/video/{{ video }}?color=D9998F&title=0&byline=0&portrait=0&autoplay=0&loop=0&autopause=1&background=0&muted=0"
        frameborder="0"
        marginheight="0"
        marginwidth="0"
        webkitallowfullscreen
        mozallowfullscreen
        allowfullscreen
        allowtransparency
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        scrolling="no">
        </iframe>
    {% endif %}
    {% if videoType == 'youtube' %}
      <iframe
        lazyload="lazy"
        class="content lazy"
        type="text/html"
        src="https://www.youtube.com/embed/{{ video }}?autoplay=0&mute=0&color=white&controls=2&disablekb=0&enablejsapi=0&fs=1&iv_load_policy=3&loop=0&modestbranding=1&origin={{shop.url}}&playsinline=0&rel=0&showinfo=0"
        frameborder="0"
        marginheight="0"
        marginwidth="0"
        webkitallowfullscreen
        mozallowfullscreen
        allowfullscreen
        allowtransparency
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        scrolling="no">
        </iframe>
    {% endif %}
  {% else %}
    {% if article.image | img_url: 'master' %}
      {% assign image = article.image %}
    {% elsif article.metafields["global"]["Image-2"] %}
      {% comment %} Fallback Image {% endcomment %}
      {% assign image = article.metafields["global"]["Image-2"] %}
    {% elsif article.metafields["global"]["detail-image-1"] %}
      {% comment %} Fallback Image {% endcomment %}
      {% assign image = article.metafields["global"]["detail-image-1"] %}
    {% elsif article.metafields["global"]["video-poster-1"] %}
      {% assign image = article.metafields["global"]["video-poster-1"] %}
    {% elsif videoPoster %}
      {% assign image = videoPoster %}
    {% endif %}
    <img
      lazyload="lazy"
      class="content has-xs-spacing has-sm-spacing"
      src="{{ image }}"
      alt="{{ acticle.title }}"
      style="padding: 60px"
    />
  {% endif %}
  {% if article.title %}
    <div class="position-absolute w-100 bottom-0" style="{{ articleTitleStyle }}">
      <div class="text-center title-xs-spacing title-sm-spacing text-truncate" style="padding: 14px 0;">
        {{ article.title }}
      </div>
    </div>
  {% endif %}
</rv-shopify-article-item>