{% comment %} Similar to sections/one-story.liquid {% endcomment %}

{% assign images_length = images | size %}
{% if images_length <= 1 %}
  {% assign ratioClass = "ratio-3-2" %}
  {% assign imageSize = "master" %}
{% else %}
  {% assign ratioClass = "ratio-3-4" %}
  {% assign imageSize = "master" %}
{% endif %}

{% assign spacings = '0,0,0' | split: ',' %}

{% assign title_spacing = 7 %}

{% capture titleStyle %}
  {% if color %}
    background-color:{{ color | color_modify: 'alpha', 0.5 }};
  {% endif %}
{% endcapture %}

{% comment %} Show Video always on detail view or if no images are set {% endcomment %}
{% assign showVideo = false %}
{% if video %}
  {% if images_length <= 0 %}
    {% assign showVideo = true %}
  {% endif %}
{% endif %}

{% if article.content == blank %}
  {% assign articleHasContent = false %}
{% else %}
  {% assign articleHasContent = true %}
{% endif %}

<a {% if articleHasContent %} rv-route="'{{ article.url }}'" href="{{article.url}}" {% endif %} data-tags='{% include 'jumplink-utils-json-tags', tags: article.tags %}' class="container-fluid position-relative jumplink-article-list-item jumplink-article-list-item-view-one-story" style="background-color: {{ color }};">
  <rv-shopify-article-item>
    <div class="row">
      {% if showVideo %}

        {% assign contentBoxClass = ratioClass %}
        {% comment %} The abs filter abs converts the string to number {% endcomment %}
        {% assign spacing = spacings[0] | abs %}
        {% if spacing > 0 %}
          {% assign imageHasSpacing = true %}
        {% else %}
          {% assign imageHasSpacing = false %}
        {% endif %}
        {% assign imageClass = 'content' %}
        {% if imageHasSpacing %}
          {% assign imageClass = imageClass | append: ' has-xs-spacing has-sm-spacing' %}
        {% endif %}

        <div class="col px-0 content-box {{contentBoxClass}}">
          <video class="{{imageClass}}" preload="auto" controls style="padding: {{spacing}}px">
            <source src="{{ video }}" type="video/mp4">
            <span rv-i18n-text="'system.video_tag_not_supported'">
              {{'system.video_tag_not_supported'|t}}
            </span>
          </video>
        </div>

      {% else %}
        {% for image in images %}

          {% assign contentBoxClass = ratioClass %}

          {% comment %} The abs filter abs converts the string to number {% endcomment %}
          {% assign spacing = spacings[forloop.index0] | abs %} 

          {% if spacing > 0 %}
            {% assign imageHasSpacing = true %}
          {% else %}
            {% assign imageHasSpacing = false %}
          {% endif %}

          
          {% assign imageClass = 'content' %}
          {% if imageHasSpacing %}
            {% assign imageClass = imageClass | append: ' has-xs-spacing has-sm-spacing' %}
          {% endif %}

          {% comment %} 900x1600 = 9x16 * 100 {% endcomment %}
          <div class="col px-0 content-box {{contentBoxClass}}">
            <img lazyload="auto" class="{{imageClass}}" src="{{ image }}" alt="{{acticle.title}}" style="padding: {{spacing}}px" />
          </div>
        {% endfor %}
      {% endif %}
    </div>

    {% if article.title %}
      <div class="row position-absolute bottom-0 w-100" style="{{ titleStyle }}">
        <div class="col-12 text-center title-xs-spacing title-sm-spacing text-truncate" style="padding: {{ title_spacing }}px 0;">
          {{ article.title }}
        </div>
      </div>
    {% endif %}
  </rv-shopify-article-item>
</a>