<div class="preloaded-images hidden-print">
    <!--
    <img src="{{ 'Arrow-Right.svg' | asset_url }}" width="1" height="1" alt="Image 01" />
    <img src="{{ 'Arrow-Right-white.svg' | asset_url }}" width="1" height="1" alt="Image 02" />
    <img src="{{ 'Arrow-Left.svg' | asset_url }}" width="1" height="1" alt="Image 03" />
    <img src="{{ 'Arrow-Left-white.svg' | asset_url }}" width="1" height="1" alt="Image 04" />
    <img src="{{ 'Close.svg' | asset_url }}" width="1" height="1" alt="Image 05" />
    <img src="{{ 'Close-white.svg' | asset_url }}" width="1" height="1" alt="Image 06" />
    <img src="{{ 'Wishlist.svg' | asset_url }}" width="1" height="1" alt="Image 07" />
    <img src="{{ 'Wishlist-Full.svg' | asset_url }}" width="1" height="1" alt="Image 08" />
    -->
</div>