{% assign ratioClass = "ratio-3-2" %}
{% assign imageSize = "2400x1600" %}
{% assign imageCount = images | size %}
{% assign imageSpacing = 0 %}

{% comment %} Show Video always on detail view or if no images are set {% endcomment %}
{% assign showVideo = false %}
{% if video %}
  {% if showDetail == true or imageCount <= 0 %}
    {% assign showVideo = true %}
  {% endif %}
{% endif %}

{% comment %} comments count {% endcomment %}
{% assign new_comment = false %}
{% assign number_of_comments = article.comments_count %}
{% if comment and comment.created_at %}
  {% assign new_comment = true %}
  {% assign new_comment_id = comment.id %}
{% endif %}
{% if new_comment %}
  {% comment %}
    When you refresh the page with submitted comment, the comment is duplicated
    so we added a flag to avoid this situation.
  {% endcomment %}
  {% assign duplicate_comment = false %}
  {% for comment in article.comments %}
    {% if comment.id == new_comment_id %}
      {% assign duplicate_comment = true %}
      {% break %}
    {% endif %}
  {% endfor %}
  {% unless duplicate_comment %}
    {% assign number_of_comments = article.comments_count | plus: 1 %}
  {% endunless %}
{% endif %}

{% if article.content == blank %}
  {% assign articleHasContent = false %}
{% else %}
  {% assign articleHasContent = true %}
{% endif %}

{% if articleHasContent == true and showDetail == false %}
  {% assign linkToArticle = true %}
{% else %}
  {% assign linkToArticle = false %}
{% endif %}

{% comment %}
  If showDetail is true this snippet shows all the details of the blog article, otherwise only the stuff we want to show in the list view
{% endcomment %}

<div class="container-fluid jumplink-article-list-item jumplink-article-list-item-view-magazine" data-tags='{% include 'jumplink-utils-json-tags', tags: article.tags %}' style="background-color: {{color}};">
  <rv-shopify-article-item data-handle="{{article.handle}}">
    {% if showVideo %}
      <div class="row {% if linkToArticle %}cursor-pointer{% endif %}" {% if linkToArticle %}rv-route="'{{article.url}}'"{% endif %}>
        <div class="col-12 col-md px-0 content-box {{ratioClass}}">
          <img class="content" src="{{ image }}" rv-src="'{{ image }}' | img_url '{{imageSize}}'" alt="{{article.title}}" style="padding: {{imageSpacing}}px" />
            <video class="content" preload="auto" controls>
              <source src="{{ video }}" type="video/mp4">
              Your browser does not support the video tag or mp4.
            </video>
        </div>
      </div>
    {% endif %}

    {% comment %} First image {% endcomment %}
    <div class="row {% if linkToArticle %}cursor-pointer{% endif %}" {% if linkToArticle %}rv-route="'{{article.url}}'"{% endif %}>
      {% for image in images limit:1 %}
        <div class="col-12 col-md px-0 content-box {{ratioClass}}">
          <img class="content" src="{{ image }}" rv-src="'{{ image }}' | img_url '{{imageSize}}'" alt="{{article.title}}" style="padding: {{imageSpacing}}px" />
        </div>
      {% endfor %}
    </div>
  
    {% comment %} Image 2-4 {% endcomment %}
    <div class="row {% if linkToArticle %}cursor-pointer{% endif %}" {% if linkToArticle %}rv-route="'{{article.url}}'"{% endif %}>
      {% for image in images offset:1 limit:2 %}
        <div class="col-12 col-md px-0 content-box {{ratioClass}}">
          <img class="content" src="{{ image }}" rv-src="'{{ image }}' | img_url '{{imageSize}}'" alt="{{article.title}}" style="padding: {{imageSpacing}}px" />
        </div>
      {% endfor %}
    </div>

    {% comment %} Image 4-.. {% endcomment %}
    <div class="row {% if linkToArticle %}cursor-pointer{% endif %}" {% if linkToArticle %}rv-route="'{{article.url}}'"{% endif %}>
      {% for image in images offset:3 %}
        <div class="col-12 col-md px-0 content-box {{ratioClass}}">
          <img class="content" src="{{ image }}" rv-src="'{{ image }}' | img_url '{{imageSize}}'" alt="{{article.title}}" style="padding: {{imageSpacing}}px" />
        </div>
      {% endfor %}
    </div>


    <div class="col-12 p-5 magazine-columns has-xs-spacing">
      <h2 class="h1">{{article.title}}</h2>
      <p class="small font-weight-bold">
        <span>{{ article.published_at | time_tag: '%d. %B %Y' }} </span>
        <span class="pl-3">By {{article.user.first_name }} {{article.user.last_name}}</span>
      </p>
      <hr>
      {% if showDetail %}
        {{ article.content }}
      {% else %}
        {{ article.excerpt_or_content }}
      {% endif %}
      <hr>
      <p class="small font-weight-bold">
        <rv-share title="{{ article.title }}" url="{{ article.url }}" text="Look at this story" label="Share this article">Share this article</rv-share>
          <span class="pl-3">{{ 'blogs.comments.with_count' | t: count: number_of_comments }}</span>
        {% unless showDetail %}
          {% if linkToArticle %}
            <a class="ml-auto float-right" rv-route="'{{article.url}}'">View Article</a>
          {% endif %}
        {% endunless %}
      </p>
    </div>
  </rv-shopify-article-item>

  {% if showDetail %}
    <div class="px-5 has-xs-spacing">
      {% include 'jumplink-article-comments' with comment, article, blog %}
    </div>
  {% endif %}

</div>

{% comment %} 
  Next (or prev) article and linked product
{% endcomment %}
{% if showDetail %}
  {% if blog.next_article %}
    {% assign nextArticle = blog.next_article %}
  {% elsif blog.previous_article %}
    {% assign nextArticle = blog.previous_article %}
  {% endif %}

  {% if nextArticle %}
    {% assign nextType = nextArticle.metafields["global"]["type"] %}
    {% assign nextColor = nextArticle.metafields["global"]["color"] %}
    {% assign nextArticleImageSize = "1200x1600" %}
    {% capture nextArticleTitleStyle %}
      {% if color %}
        background-color:{{ nextColor | color_modify: 'alpha', 0.5 }};
      {% endif %}
    {% endcapture %}
  {% endif %}

  {% assign product = all_products[article.metafields["global"]["detail-product-handle-1"]] %}

  <div class="container-fluid position-relative">
    <div class="row">
      {% if nextArticle %}
        {% include 'jumplink-article-item-col-ratio-3-4' with article: nextArticle, colClass: 'col-12 col-sm', color: nextColor, articleTitleStyle: nextArticleTitleStyle, articleImageSize: nextArticleImageSize  %}
      {% endif %}
      {% if product.title != blank %}
        {% include 'jumplink-product-collection-grid-item-col-ratio-3-4' with product, colClass: 'col-12 col-sm' %}
      {% endif %}
    </div>
  </div>

{% endif %}






