<li class="level-1 {{link.handle}} dropdown yamm-fw dropdown-columns yamm">
    <a href="{{ link.url }}" class="dropdown-toggle" data-toggle="dropdown">
        {{ link.title }}
        {% comment %}<i class="fa fa-angle-down"></i>{% endcomment %}
    </a>
    <ul class="link.handle dropdown-menu">
        <li>
            <div class="row">
                {% assign list_elements_per_col = settings.navbar_submenu_items_per_col %}
                {% for i in (1..4) %}
                    {% assign min = list_elements_per_col | times: forloop.index0 %}
                    {% assign max = list_elements_per_col | times: forloop.index %}
                    <div class="col-xs-3">
                        <ul class="list-group">
                            {% if has_sub_menu %}
                                {% for l in linklists[child_list_handle].links %}
                                    {% if forloop.index > min and forloop.index <= max %}
                                        <li class="level-2 list-group-item {{ l.handle }}">
                                            <a href="{{ l.url }}">{{ l.title }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            {% elsif has_sub_categories %}
                                {% for tag in link.object.all_tags %}
                                    {% if forloop.index > min and forloop.index <= max %}
                                        <li class="level-2 list-group-item {{ link.handle }}">
                                            <a href="{{ link.url }}/{{ tag | handle }}">{{ tag }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </li>
    </ul>
</li>