
{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% if colClass == blank %}
  {% assign colClass = 'col' %}
{% endif %}

{% if imageSize == blank %}
  {% assign imageSize = 'master' %}
{% endif %}

<rv-shopify-product-item handle="{{product.handle}}" class="{{colClass}} {{ orderClass }} px-0 content-box ratio-3-4">
  <a rv-route="'{{ product.url | within: collection }}'" href="{{product.url | within: collection }}">
    <img lazyload="auto" class="content has-xs-spacing has-sm-spacing" src="{{ product.featured_image | img_url: imageSize}}" alt="{{product.featured_image.alt}}" style="padding-bottom: 60px;"/>
  </a>
  <div class="position-absolute w-100 bottom-0">
    <div class="text-center title-xs-spacing title-sm-spacing text-truncate">
      <strong>{{ product.title }}</strong>
    </div>
  </div>
</rv-shopify-product-item>