<footer class="imprint bg-black">
  <div class="container">
    <div data-toggle="footer" data-target="#footer-adjustment" data-margin="#footer-book" class="row">
      <div class="col-xs-12 text-center">
        <div class="text-uppercase" id="footer-book">
          BOOK AN APPOINTMENT
          {% include 'jumplink-iconset', name: 'arrow', direction: 'top', color: 'white' %}
        </div>
      </div>
    </div>
    <div class="row hidden-xs-up" id="footer-adjustment">

      <div class="col-xs-12 col-sm-4 col-md-4 d-flex flex-row mb-2">
        {% if linklists.footer.links.size > 0 %}
          <nav class="navbar navbar-toggleable-xs navbar-inverse bg-black footer-navbar d-flex align-items-end">
            <div class="navbar-collapse">
                <ul class="navbar-nav">
                  {% for link in linklists.footer.links %}
                    <li class="nav-item">
                      <a class="nav-link" href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
            </div>
          </nav>
        {% endif %}
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4 text-center">

        <p class="my-3">
          <a href="tel:+498923000081" class="btn btn-outline-secondary">+49. 89 23 0000 81</a>
        </p>

        <p class="mt-3">
          <small>
            <a href="mailto:{{shop.email}}" class="">{{shop.email}}</a>
          </small>
        </p>
        
        <p class="my-3">
          <img class="logo-inverse" src="{{ 'logo-invert.svg' | asset_url }}" width="300" height="30" alt="STUDIO PEZZETTA">
        </p>

        <p class="my-3">
          {{shop.address.street | replace: ",", " |"}}
          <br>
          {{shop.address.zip}} {{shop.address.country}}
        </p>

      </div>

      <div class="col-xs-12 col-sm-4 col-md-4 d-flex flex-row mb-2">
        <nav class="navbar navbar-toggleable-xs navbar-inverse bg-black footer-navbar d-flex align-items-end">
          <div class="navbar-collapse">
            <ul class="navbar-nav d-flex justify-content-end">
              <li class="nav-item">
                <a class="nav-link" href="/" title="{{shop.name}}">
                  © 2017 {{shop.name}}
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>

    </div>
  </div>
</footer>