{% comment %} Translate `translate` if translation is available {% endcomment %}
{% assign _path = path | append: '.' %}
{% assign translateString = translate | handleize | prepend: _path %}
{% assign _translated = translateString | t %}

{% comment %} Translate using locals/*.json or metafields {% endcomment %}
{% capture translated %}
  {% if _translated contains 'translation missing' %}
    <span class="d-none" hidden>{{_translated}}</span>
  {% endif %}
  <span rv-i18n-html="'{{translateString}}'">
    {% unless _translated contains 'translation missing' %}
      {{_translated}}
    {% endunless %}
    {% unless de == blank %}
      <template lang="de">{{de}}</template>
    {% endunless %}
    {% unless en == blank %}
      <template lang="en">{{en}}</template>
    {% endunless %}
    {% unless default == blank %}
      <template lang="default">{{default}}</template>
    {% endunless %}
  </span>
{% endcapture %}