{% unless template == 'index' or template == 'cart' or template == 'list-collections' %}
    <ol class="breadcrumb" role="navigation" aria-label="breadcrumbs">
        {% if template contains 'page' %}
            <li class="breadcrumb-item">{{ page.title }}</li>
        {% elsif template contains 'product' %}
            {% if collection.url %}
                <li class="breadcrumb-item">
                    YOU SEE COLLECTION <a href="{{ collection.url }}" class="collection" title="{{ collection.title }}">{{ collection.title }}</a>
                </li>
            {% else %}
                <li class="breadcrumb-item">
                    YOU SEE COLLECTION <a href='/collections/{{ product.vendor | handle }}' class="collection" title="{{ product.vendor  }}">{{ product.vendor }}</a>
                </li>
            {% endif %}

            <li class="breadcrumb-item active">{{ product.title }}</li>
        {% elsif template contains 'collection' and collection.handle %}
            {% if current_tags %}
                <li class="breadcrumb-item">
                    YOU SEE COLLECTION <a href="/collections/{{ collection.handle }}" class="collection" title="{{ collection.title }}">{{ collection.title }}</a>
                </li>

                <li class="breadcrumb-item active">{{ current_tags | join: " + " }}</li>
            {% else %}
                <li class="breadcrumb-item active">{{ collection.title }}</li>
            {% endif %}
        {% elsif template == 'blog' %}
            {% if current_tags %}
                <li class="breadcrumb-item">{{ blog.title | link_to: blog.url }}</li>
                <li class="breadcrumb-item">{{ current_tags | join: " + " }}</li>
            {% else %}
                <li class="breadcrumb-item">{{ blog.title }}</li>
            {% endif %}
        {% elsif template == 'article' %}
            <li class="breadcrumb-item">{{ blog.title | link_to: blog.url }}</li>
            <li class="breadcrumb-item">{{ article.title }}</li>
        {% else %}
            <li class="breadcrumb-item">{{ page_title }}</li>
        {% endif %}
    </ol>
{% endunless %}