{% assign href = link.url %}
{% if href == '/' %}
    {% assign isLink = false %}
{% else %}
    {% assign isLink = true %}
{% endif %}

<li class="nav-item level-1 {{link.handle}} dropdown yamm">

    {% if isLink %}
        <a href="{{ href }}" class="dropdown-toggle" data-toggle="dropdown">
            {{ link.title }}
        </a>
    {% else %}
        <div class="dropdown-toggle" data-toggle="dropdown">
            {{ link.title }}
        </div>
    {% endif %}
  
    <div class="dropdown-menu">

        {% assign list_elements_per_col = settings.navbar_submenu_items_per_col %}
        {% assign min = list_elements_per_col | times: forloop.index0 %}
        {% assign max = list_elements_per_col | times: forloop.index %}

        {% if has_sub_menu %}
            {% comment %}
                - Titles with [C] can just see loged in customers
                - Titles with [C] can just see not logged in visitors
            {% endcomment %}
            {% for l in linklists[child_list_handle].links %}
                {% assign class = '' %}
                {% if l.url == '/account/logout' %}
                    {% assign class = 'no-barba' %}
                {% endif %}

                {% comment %}
                    Hide cart link if cart is not active in theme settings
                {% endcomment %}
                {% assign hide_link = false %}
                {% if settings.cart == false and l.url == '/cart' %}
                    {% assign hide_link = true %}
                {% endif %}

                {% unless hide_link %}
                    {% if l.title contains "[C]"%}
                        {% if customer %}
                                <a href="{{ l.url }}" class="nav-link dropdown-item level-2 mb-0 {{ l.handle }} {{ class }}">
                                    {{ l.title | remove: "[C]" }}
                                </a>
                        {% endif %}
                    {% elsif l.title contains "[N]" %}
                        {% unless customer %}
                            <a href="{{ l.url }}" class="nav-link dropdown-item level-2 mb-0 {{ l.handle }} {{ class }}">
                                {{ l.title | remove: "[N]" }}
                            </a>
                        {% endunless %}
                    {% else %}
                        <a href="{{ l.url }}" class="nav-link dropdown-item level-2 mb-0 {{ l.handle }} {{ class }}">
                            {{ l.title }}
                        </a>
                    {% endif %}
                {% endunless %}
            {% endfor %}
        {% elsif has_sub_categories %}
            {% for tag in link.object.all_tags %}
                <a href="{{ link.url }}/{{ tag | handle }}" class="nav-link dropdown-item level-2 mb-0 {{ link.handle }}">
                    {{ tag }}
                </a>
            {% endfor %}
        {% endif %}

    </div>
</li>