<rv-contact-form>
  {% capture firstName %}
    <p class="text-primary mb-1" contenteditable="true" rv-value="form.firstName | default 'First Name*'" rv-on-focus="selectAll"></p>
    <input type="hidden" name="contact[firstName]" rv-value="form.firstName">
  {% endcapture %}

  {% capture lastName %}
    <p class="text-primary mb-1" contenteditable="true" rv-value="form.lastName | default 'Last Name*'" rv-on-focus="selectAll"></p>
    <input type="hidden" name="contact[lastName]" rv-value="form.lastName">
  {% endcapture %}

  {% capture phone %}
    <p class="text-primary mb-1" contenteditable="true" rv-value="form.phone | default 'Phone'" rv-on-focus="selectAll"></p>
    <input type="hidden" name="contact[phone]" rv-value="form.phone">
  {% endcapture %}

  {% capture email %}
    <p class="text-primary mb-1" contenteditable="true" rv-value="form.email | default 'Email*'" rv-on-focus="selectAll"></p>
    <input type="hidden" name="contact[email]" rv-value="form.email">
  {% endcapture %}

  {% capture message %}
    <p class="text-primary my-3" contenteditable="true" rv-value="form.message | default 'Message*'" rv-on-focus="selectAll"></p>
    <input type="hidden" name="contact[message]" rv-value="form.message">
  {% endcapture %}

  {% form 'contact' %}
    <div class="py-5">

      <h2 class="h6 mb-3">Any questions? Fell free to contact us.</h2>

      <p>
        Send us a message to <a href="mailto:info@myfassbender.com">info@myfassbender.com</a>
        or call us <a href="tel:+494403925400">+49 4403 925400</a><br>
        <small>monday - friday 10.00 - 18.00</small>
      </p>

      {% if form.posted_successfully? %}
        <p class="text-success mb-3" role="alert" id="contact-form-success">
          Message sent successfully. Many Thanks!
        </p>
      {% endif %}

      <p rv-show="success | filled" class="text-success mb-3" role="alert" id="contact-error">
        { success }
      </p>

      {% if form.errors %}
        <p class="text-danger mb-3" role="alert" id="contact-form-error">
          Message could not be sent:
          {% for error in form.errors %}
            {{ error }}
          {% endfor %}
        </p>
      {% endif %}

      <p rv-show="error | filled" class="text-danger mb-3" role="alert" id="contact-error">
        Message could not be sent: { error }
      </p>

      <h2 class="h6 mb-3">Message Us</h2>
      {{ firstName }}
      {{ lastName }}
      {{ phone }}
      {{ email }}
      {{ message }}

      <div class="custom-control custom-checkbox mt-5 mb-1">
        <input type="checkbox" class="custom-control-input" name="contact[privacy]" id="acceptPrivacy">
        <label class="custom-control-label" for="acceptPrivacy">
          Yes, I authorise the processing of my personal data according to the <a href=""Privacy Statement></a>.<br>
        </label>
      </div>
      <p>The fields marked with * are required</p>

      <button type="submit" class="btn btn-link" rv-on-click="send">Send Message</button>
    </div>
  {% endform %}
</rv-contact-form>