<nav class="navbar fixed-top navbar-light bg-transparent pt-4 container-fluid" id="main-navbar">
  <div class="row">
    <div class="col-xs-12">
      <div class="d-flex flex-nowrap justify-content-between">
          <div class="align-self-center hidden-sm-down">
            <div class="navbar-toggler border-px-0">
              <div class="morphext">
                Shortcut
              </div>
            </div>
          </div>
        
          <div class="align-self-center">
            {% comment %} <img class="hidden-xs-up" src="{{ 'navbar_logo.svg' | asset_url }}" width="auto" height="16px" alt="{{ shop.name | strip_html }}"> {% endcomment %}
            <a href="/" class="brand-01">
              <div class="font-weight-bold brand-text">Art</div>
              <img class="brand-image" src="{{ 'icon_heart_px.png' | asset_url }}" alt="{{ shop.name | strip_html }}">
              <div class="font-weight-bold brand-text">Code</div>
              <div class="font-weight-normal brand-text hidden-xs-down">&nbsp;Studio</div>
            </a>
          </div>

          {% if settings.navbar_show_cart %}
            <ul class="navbar-nav">
              {% include 'jumplink-navbar-dropdown-cart' %}
            </ul>
          {% endif %}

          {% if settings.navbar_show_search %}
            <form action="/search" method="get" class="search-form navbar-form" role="search">
              <div class="input-group">
                <span class="input-group-btn">
                  <button id="search-submit" class="btn btn-default ah-navbar-btn-icon" type="submit">
                    <div class="font-icon">
                      <img src="{{ 'search.svg' | asset_url }}" />
                    </div>
                  </button>
                </span>
                <input name="q" type="search" id="search-field" class="form-control" placeholder="{{ 'navbar.shop_actions.search' | t }}" value="{{ search.terms | escape }}">
              </div>
            </form>
          {% endif %}

          <div class="align-self-center">
            <button class="navbar-toggler sidebar-toggler hidden-print border-px-0" type="button" data-toggle="sidebar" data-target="#right-sidebar" aria-controls="right-sidebar" aria-expanded="false" aria-label="Toggle Sidebar">
              <div class="morphext">
                <span class="animated open">Close</span>
                <span class="animated closed">Menu</span>
              </div>
            </button>
          </div>
        </div>
    </div>
  </div>
</nav>

{% include 'jumplink-sidebar-right' %}
