<div class="collection-item mx-3 my-4">

  <div class="image-wrap">
    <a rv-route="'{{ collection.url }}'" href="{{ collection.url }}">
      {% if collection.image %}
        {% assign image = collection | img_url: 'master' %}
        {% assign title = collection.image.alt | escape %}
      {% else %}
        {% assign image = collection.products.first | img_url: 'master' %}
        {% assign title = collection.title | escape %}
      {% endif %}
          
      <div class="background-box {{ settings.collections_aspect_ratio }}" style="background-image: url({{ image }});" title="{{ title }}"></div>
      <div class="caption caption-y-center caption-x-center text-nowrap">
        {{ collection.title | stripHtml }}
      </div>
    </a>
  </div>
  


</div>
