{% comment %}
  MailChimp is the go-to newsletter service for Shopify.
  Use the link below to find your MailChimp form action
  and insert it in your site settings.

  If the form action URL is not set in the theme settings,
  it will fallback to a customer form so you can still capture the email.

  MailChimp newsletter integration and requirement:
   - http://docs.shopify.com/support/configuration/store-customization/where-do-i-get-my-mailchimp-form-action
{% endcomment %}

{% if settings.homepage_newsletter_enable %}
  <div class="text-center my-1" id="newsletter-form">
    <div class="row ah-bg-newsletter p-y-3">
      <div class="col-xs-12 col-md-4 col-md-offset-4">
        <h1 class="sans-serif"><strong>{{ 'home.newsletter.title' | t }}</strong></h1>
        <p>{{ 'home.newsletter.text' | t }}</p>
        {% if settings.newsletter_form_action != blank %}
          <form action="{{ settings.newsletter_form_action }}" method="post" class="form-horizontal" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" class="input-group">
            <div class="form-group row">

              <div class="p-t-1 col-xs-8">
                <label class="sr-only" for="mail">{{ 'home.newsletter.email' | t }}</label>
                <input type="email" class="form-control white-border bg-transparent text-white" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'home.newsletter.email' | t }}" name="EMAIL" id="mail" class="input-group-field" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">
              </div>
              
              <div class="p-t-1 col-xs-4">
                <input type="submit" class="btn btn-default full-width white-border" name="subscribe" id="subscribe" value="{{ 'home.newsletter.submit' | t }}">
              </div>
              </div>
            </div>
          </form>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}