{% assign show_pt_clear_text = true %}
{% assign show_collection_count = false %}

{% comment %} Filter Menu brought to you by Shopify Power Tools {% endcomment %}
{% assign pt_refine_text = collection.title | default: 'Filter' %}
{% assign pt_clear_text = settings.pt_clear_text | default: 'Alle' %}
{% assign pt_view_all_text = settings.pt_view_all_text | default: 'Alle Produkte' %}
{% assign pt_collection_text = settings.pt_collection_text | default: 'Kategorie' %}
<style type="text/css">
    {{ shop.metafields.pt_filter_css['system'] }}
    {{ shop.metafields.pt_filter_css['user'] }}
</style>
<div class="filter-menu filter-selected-{{ collection.handle }}{% for tag in current_tags %} filter-selected-{{ tag | handleize }}{% endfor %}">
    <div class="filter-group m-y-0 p-b-05 p-t-1 refine-header">
        <p class="mt-0 hidden TODO"><strong>{{ pt_refine_text }}</strong></p>
        {% unless collection.handle == 'all' or collection.handle == nil and current_tags == nil %}
            <a class="filter-clear" href="/collections/all">
                <p class="m-a-0 text-normal">{{ pt_view_all_text }}</p>
            </a>
        {% endunless %}
    </div>
    {% unless collection.handle != nil and template contains 'collection' %}
        {% for menu_header in shop.metafields.pt_filter_menu %}
            {% assign menu_items = menu_header.last | split: ',' %}
            {% assign header_handle = menu_header.first | split: '-' %}
            {% assign header_handle = menu_header.first | replace: header_handle.first, '' %}
            <div class="filter-group m-y-0 p-y-05 filter-group{{ header_handle }}">
                <p class="text-normal filter-group-title mb-0">{{ shop.metafields.pt_filter_header[menu_header.first] }}</p>
                <div class="scroll-content">
                    <ul class="nav{{ header_handle }}">
                        {% for menu_item in menu_items %}
                            {% assign filter_collection = collections[menu_item] %}
                            {% if filter_collection and filter_collection.all_products_count != '' and filter_collection.all_products_count > 0 and filter_collection.title != nil and filter_collection.title != '' %}
                                <li class="collection-container filter-active-{{ filter_collection.handle }} {% if tag_list contains menu_item %}active{% endif %} {% if current_tags contains menu_item or current_collection_handle == menu_item %}selected{% endif %}">
                                    <div class="collection-name">
                                        <a href="/collections/{{ menu_item }}" title="{{ filter_collection.title | escape }}">
                                            {{ filter_collection.title | escape }}
                                        </a>
                                        {% unless current_tags %}
                                            {% if show_collection_count %}
                                                <span class="collection-count">({{ filter_collection.all_products_count }})</span>
                                            {% endif %}
                                        {% endunless %}
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}

        {% else%}
            {% assign tag_list = collection.tags %}
            {% assign current_collection_handle = collection.handle %}
            {% assign displayed_collection_handles = '|' %}
        {% if collection.metafields.sort_primary.collection_handle %}
            {% assign current_collection_handle = collections[collection.metafields.sort_primary.collection_handle].handle %}
        {% endif %}
        {% for menu_header in shop.metafields.pt_filter_menu %}
            {% assign has_items = false %}
            {% assign has_multiple_items = false %}
            {% assign has_selected = false %}
            {% assign current_selected = '|' %}
            {% assign menu_items = menu_header.last | split: ',' %}
            {% assign menu_items_length = 0 %}
            {% for menu_item in menu_items %}
                {% assign filter_collection = collections[menu_item] %}
                {% if tag_list contains menu_item or current_tags contains menu_item or current_collection_handle == menu_item %}
                    {% assign menu_items_length = menu_items_length | plus: 1 %}
                    {% if has_items %}
                        {% assign has_multiple_items = true %}
                    {% endif %}
                    {% assign has_items = true %}
                    {% if current_tags contains menu_item or current_collection_handle == menu_item %}
                        {% assign has_selected = true %}
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% assign group_handle = shop.metafields.pt_filter_header[menu_header.first] | handle %}
            {% if group_handle == 'grossen' or group_handle == 'grosse' or group_handle == 'size' %}
                {% if menu_items_length <= 8 %}
                    {% include 'powertools-filter-menu-item' %}
                {% elsif menu_items_length <= 20 %}
                    {% assign btn_style = 'btn btn-default max-width-200' %}
                    {% assign show_label = true %}
                    {% include 'powertools-filter-menu-select-item' with btn_style, show_label %}
                {% endif %}
            {% else %}
                {% include 'powertools-filter-menu-item' %}
            {% endif %}
        {% endfor %}
        {% comment %}
        {% assign current_collection_handle_sep = current_collection_handle | prepend: '|' | append: '|' %}
        {% unless displayed_collection_handles contains current_collection_handle_sep or current_collection_handle == 'all' %}
            <div class="filter-group m-y-0 p-y-05 filter-group-not-shown has_group_selected">
                <p class="hidden">{{ pt_collection_text }}</p>
                {% if show_pt_clear_text %}
                    <a class="filter-clear" href="/collections/all{% if current_tags %}/{{ current_tags | join: '+' }}{% endif %}">
                        {{ pt_clear_text }} {{ shop.metafields.pt_filter_header[menu_header.first] | escape }}
                    </a>
                {% endif %}
                <ul class="nav-not-shown">
                    <li class="collection-container filter-active-{{ collection.handle }} active selected">
                        <div class="collection-name">
                            <a href="/collections/all{% if current_tags %}/{{ current_tags | join: '+' }}{% endif %}" title="{{ collection.title | escape }}">
                                {{ collection.title | escape }}
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        {% endunless %}
        {% endcomment %}
    {% endunless %}
</div>