{% if has_items %}
    {% assign header_handle = menu_header.first | split: '-' %}
    {% assign header_handle = menu_header.first | replace: header_handle.first, '' %}
    <div class="clearfix filter form-group my-0 p-y-05 filter-group-select filter-group{{ header_handle }}">
        {% if show_label %}
            <p class=" filter-group-title">{{ shop.metafields.pt_filter_header[menu_header.first] }}</p>
        {% endif %}

        <select
            class="full-width styled-select coll-filter coll-filter-{{ collection.handle }} nav-{{ menu_header.first | split: '-' | last }} {% if has_selected %}has_selected{% endif %}"
            data-style="{{ btn_style }}"
            data-filter-name="{{ shop.metafields.pt_filter_header[menu_header.first] }}"
        >
            <optgroup>
                <option title="{{ shop.metafields.pt_filter_header[menu_header.first] }}: Alle" value="">Alle</option>
            </optgroup>
            <optgroup label="{{ shop.metafields.pt_filter_header[menu_header.first] }}">
                {% for menu_item in menu_items %}
                    {% assign filter_collection = collections[menu_item] %}
                    {% if filter_collection %}
                        {% if tag_list contains menu_item or current_tags contains menu_item or current_collection_handle == menu_item %}
                            {% if current_tags contains menu_item or current_collection_handle == menu_item %}
                                {% assign current_selected = current_selected | append: menu_item | append: '|' %}
                            {% endif %}
                            {% assign displayed_collection_handles = displayed_collection_handles | append: menu_item | append: '|' %}
                            <div class="collection-container {{ filter_collection.handle }} {% if tag_list contains menu_item %}active{% endif %} {% if current_tags contains menu_item or current_collection_handle == menu_item %}selected{% endif %}">
                                <div class="collection-name">
                                    {% if current_tags contains menu_item %}
                                        <option title="{{ shop.metafields.pt_filter_header[menu_header.first] }}: {{ filter_collection.title }}" value="{{ menu_item }}" selected>{{ filter_collection.title }}</option>
                                    {% elsif current_collection_handle == menu_item %}
                                        <option title="{{ shop.metafields.pt_filter_header[menu_header.first] }}: {{ filter_collection.title }}" value="{{ menu_item }}" selected>{{ filter_collection.title }}</option>
                                    {% elsif current_collection_handle == 'all' %}
                                        <option title="{{ shop.metafields.pt_filter_header[menu_header.first] }}: {{ filter_collection.title }}" value="{{ menu_item }}">{{ filter_collection.title }}</option>
                                    {% else %}
                                        <option title="{{ shop.metafields.pt_filter_header[menu_header.first] }}: {{ filter_collection.title }}" value="{{ menu_item }}">{{ filter_collection.title }}</option>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </optgroup>
        </select>
    </div>
{% endif %}