
{% assign on_sale = false %}
{% if product.compare_at_price_max > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% if colClass == blank %}
  {% assign colClass = 'col-12 col-md' %}
{% endif %}

<rv-shopify-product-item handle="{{ product.handle }}" class="{{ colClass }} {{ orderClass }} px-0 embed-responsive embed-responsive-3by4">
  <a rv-route="'{{ product.url | within: collection }}'" href="{{ product.url | within: collection }}">
    <img
      loading="lazy"
      class="embed-responsive-item lazy"
      rv-class-show-detail-menu="showDetailMenu"
      src="{{ product.featured_image | img_url: '1200x1600', crop: 'center', format: 'pjpg' }}"
      {% comment %}
        highest quality first for safari, see https://stackoverflow.com/q/45487105
      {% endcomment %}
      srcset="
        {{ product.featured_image | img_url: '1200x1600', crop: 'center', format: 'pjpg' }} 1200w,
        {{ product.featured_image | img_url: '1024x1365', crop: 'center', format: 'pjpg' }} 1024w,
        {{ product.featured_image | img_url: '991x1321', crop: 'center', format: 'pjpg' }} 991w,
        {{ product.featured_image | img_url: '768x1024', crop: 'center', format: 'pjpg' }} 768w,
        {{ product.featured_image | img_url: '575x767', crop: 'center', format: 'pjpg' }} 575w,
        {{ product.featured_image | img_url: '384x512', crop: 'center', format: 'pjpg' }} 384w,
        {{ product.featured_image | img_url: '300x400', crop: 'center', format: 'pjpg' }} 300w,
        {{ product.featured_image | img_url: '288x384', crop: 'center', format: 'pjpg' }} 288w,
        {{ product.featured_image | img_url: '200x267', crop: 'center', format: 'pjpg' }} 200w,
        {{ product.featured_image | img_url: '1920x2560', crop: 'center', format: 'pjpg' }} 1920w,
        {{ product.featured_image | img_url: '2048x2731', crop: 'center', format: 'pjpg' }} 2048w,
        {{ product.featured_image | img_url: '4096x5461', crop: 'center', format: 'pjpg' }} 4096w
      "
      {% comment %} WORKAROUND TO FIX SAFARI IMGAGE STRECH BUG {% endcomment %}
      rv-srcset-1500w="'{{ product.featured_image | img_url: '1500x2000', crop: 'center', format: 'pjpg' }}'"
      sizes="
        (min-width: 992px) 33vw,
        (min-width: 1200px) 25vw,
        50vw,
      "
      alt="{{ product.featured_image.alt }}"
    />
  </a>
  <div class="position-absolute w-100 pointer-events-none" style="bottom: 0;" rv-class-pointer-events-none="showDetailMenu | not">
    <div class="row m-0 detailMenu py-2" rv-class-show="showDetailMenu">
      <div class="col-12 px-0">
        
        <div class="row">
          <div class="col-8 offset-2 d-flex justify-content-center text-center">
            <div class="form-inline">
              <label class="m-0" for="quanity" rv-i18n-text="'products.quantity'">{{'products.quantity'|t}}</label>
              <span class="px-3 btn-quantity" rv-on-click="decrease">-</span>
              <input type="number" min="0" step="1" class="form-control input-quantity bg-transparent border-0 px-0 text-center" id="quanity" rv-value="quantity | stripHtml | number 1">
              <span class="px-3 btn-quantity" rv-on-click="increase">+</span>
            </div>
          </div>
          <div class="col-2 d-flex justify-content-end mb-3">
            <rv-icon class="mr-2 mb-2 cursor-pointer" rv-src="'{{ 'iconset-x.svg' | asset_url }}'" size="24" rv-on-click="toggleDetailMenu"></rv-icon>
          </div>
        </div>

        <div class="row justify-content-around px-3 pb-4 option-group">
          <div class="col-auto px-0" rv-each-size="sizeOption.values">
            <button class="btn btn-link btn-option option-size text-decoration-normal" rv-add-class="size | prepend 'option-size-'" rv-on-click="chooseOption | args size sizeOption.position sizeOption.name"
              rv-text="size"
              rv-i18n-text="size | handleize | prepend 'products.options.'"
            ></button>
          </div>
        </div>
      </div>
    </div>
    <div class="row m-0 colorMenu" rv-class-show="showDetailMenu">
      
      <div class="col-12">
        <div class="row m-0">
          <div rv-each-color="colorOption.values" class="col-auto pl-0 pr-2 pb-4 cursor-pointer pointer-events-all" rv-on-click="chooseOption | args color colorOption.position colorOption.name">
            <div class="styleicon-circle option-color option-variant-color" rv-add-class="color | replaceFirst '#' '' | prepend 'option-color-'" rv-style-background-color="color" style="width: 16px; height: 16px;"></div>
          </div>
          {% for i in (1..4) %}
            {% assign colorIndex = "product-link-" | append: forloop.index | append: "-color" %}
            {% assign HandleIndex = "product-link-" | append: forloop.index | append: "-handle" %}
            {% assign variantColor = product.metafields["global"][colorIndex] %}
            {% assign handle = product.metafields["global"][HandleIndex] %}
            {% if variantColor != blank and handle != blank %}
              <div
                class="col-auto pl-0 pr-2 pb-4 cursor-pointer"
                rv-route="'{{ all_products[handle].url }}'"
              >
                <div class="styleicon-circle option-color option-metafield-color option-color-{{ variantColor }}" rv-style-background-color="'{{ variantColor }}'" style="width: 16px; height: 16px;"></div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>

    </div>
    <div class="row m-0 chooseSizeMenu py-2 pointer-events-all">

      <div class="col-12 col-md text-left text-truncate pr-md-0">
        <strong rv-route="'{{ product.url | within: collection }}'">{{ product.title }}</strong><br />
        {% if on_sale %}
          <s class="compare-at-price mr-2" rv-show="variant.compare_at_price | gt variant.price" rv-text="variant.compare_at_price | money '{{ shop.money_format }}'">{{ product.compare_at_price_max | money }}</s>
        {% endif %}
        <span rv-class-text-danger="variant.compare_at_price | gt variant.price" rv-text="variant.price | money '{{ shop.money_format }}'">{{ product.price | money }}</span> 
      </div>
      {% comment %} only MD and up {% endcomment %}
      <div class="d-none d-md-flex col-md-auto text-right align-items-end justify-content-end mb-2 text-truncate pl-md-0">
        <button rv-hide="showDetailMenu" class="btn btn-animated-underline-dark" rv-on-click="toggleDetailMenu">
          <span rv-i18n-text="'products.choose'">{{'products.choose'|t}}</span>
        </button>
        <button rv-show="showDetailMenu" rv-enabled="available" class="btn btn-animated-underline-dark" rv-on-click="addToCart">
          <span rv-show="variant.available" rv-i18n-text="'products.add'">{{'products.add'|t}}</span>
          <span rv-hide="variant.available" rv-i18n-text="'products.sold_out'">{{'products.sold_out'|t}}</span>
        </button>
      </div>
    </div>
  </div>
</rv-shopify-product-item>
